{% extends "layout_user.html.twig" %}
{% block content %}
    <div class="fos_user_user_show px-4 py-4">
        <div class="row">
            <div class="col-md-4 offset-4 btn-group ">
                <div class=" hosting-edit ml-2  ">
                    <a class="">
                        <img class="mb-3" src="{{hosting.photoHosting() }}" alt="User">
                    </a>
                </div>
            </div>
        </div>
        <div class="justify-content-center">
            <h1 class="text-center pt-3">{{ hosting.user.firstname|title }} {{ hosting.user.lastname|upper }}</h1>
            <h1 class="pt-3 bdg-accord ">{{ hosting.user.hosting.point }} <span>Points</span></h1>
        </div>
        {% if app.user is not same as(hosting.user) %}
            {% if app.user is not same as (null) %}
                <div class="justify-content-center">
                    <div class="text-center pt-2">
                        <button  data-toggle="modal" class="btn btn-success mx-1" data-target="#hostingRequest">
                            Send hosting request to {{ hosting.user.firstname|title }}
                        </button>
                    </div>
                </div>
            {% else %}
                <div class="justify-content-center">
                    <div class="text-center pt-2">
                        <a class="btn btn-outline-success text-center" data-toggle="modal" data-target="#login">Login to send hosting request to {{ hosting.user.firstname|title }}</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="justify-content-center">
            <div class="text-center pt-2">

                <h6 class="d-inline font-weight-bold blued">Active :  </h6>
                <b class="deal-terminate">
                    {% if hosting.active %}
                        <img src="{{ asset('/assets/images/icons/yes.png') }}" alt="yes">
                    {% else %}
                        <img src="{{ asset('/assets/images/icons/no.png') }}" alt="no">
                    {% endif %}
                </b>
                <div class="col ">
                    <h6 class="d-inline font-weight-bold blued">Sex  :  </h6><span>  {{ hosting.sex}}</span>
                </div>
                <div class="col">
                    <h6 class="d-inline font-weight-bold blued"> Age:  </h6><span>  {{ hosting.age }} <span class="font-weight-bold">Years</span></span>
                </div>
                <div class="col">
                    <h6 class="d-inline font-weight-bold blued">Number of persons :  </h6><span>  {{ hosting.numberOfPersons }}</span>
                </div>

                <div class="col">
                    <h6 class="d-inline font-weight-bold blued">Number of days :  </h6><span>  {{hosting.numberOfDays }}</span>
                </div>
                <div class="col ">
                    <h6 class="d-inline font-weight-bold blued">City  :  </h6><span>  {{ hosting.ville}}</span>
                </div>
                <div class="col-md-4 offset-4 my-2 ">
                    <h6 class="d-inline font-weight-bold blued">About me  :  </h6><span>  {{ hosting.aboutMe}}</span>
                </div>
                <div class="col-md-4 offset-4 my-2">
                    <h6 class="d-inline font-weight-bold blued">Hosting for  :  </h6><span>  {{ hosting.hostingFor}}</span>
                </div>
                <div class="col mb-2">
                    <h6 class="d-inline font-weight-bold blued">Languages  :  </h6>
                    {% for language in hosting.languages %}
                        <span> {{language}} </span>
                    {% endfor %}
                </div>
                {% if hosting.getPossibility() %}
                    <h6 class="blued">I have the possibility to host</h6>
                    <div class="col my-2">
                        {% for possible in hosting.getPossibility() %}
                            <span class="badge badge-primary"><h5>{{ possible }}</h5></span>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if hosting.getShare() %}
                    <h6 class="blued">I can share with the guest</h6>
                    <div class="col my-2">
                        {% for share in hosting.getShare() %}
                            <span class="badge badge-info"><h5>{{ share }}</h5></span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if rating  %}
        <h4 class="text-center blued mt-4">Rating</h4>
        <div class="text-center">
            {% set range = rating.total/rating.numVotes %}
            {% set total = range|round(2, 'ceil')  %}
            {% set ceil = total|round(0,('ceil'))  %}
            {% set floor = total|round(0,('floor'))  %}
            {% set def =  ceil-floor %}
            {% set reste = 5 - total %}
            {% set roundReste = reste|round(0,('floor')) %}
            <div class="row justify-content-center">
                <span class="float-right mt-2 rosed">
                    {% if  total is not same as(null) and total <=5%}{#rating is not null#}
                        {% if  def %}  {#rating is floot#}
                            {% if floor %}
                                {% for  i in floor ..1%}
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                            {% endif %}
                            <i class="fas fa-star-half-alt"></i>
                            {% if roundReste %}
                                {% for  i in roundReste..1%}
                                    <i class="far fa-star"></i>
                                {% endfor %}
                            {% endif %}
                        {% else %}{#rating is integer#}
                        {% if total>0 %}
                            {% for  i in total ..1%}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                        {% if reste>0 %}
                            {% for  i in reste..1%}
                                <i class="far fa-star"></i>
                            {% endfor %}
                        {% endif %}
                    {% else %}  {#rating is 0#}
                        {% for  i in 5..1%}
                            <i class="far fa-star"></i>
                        {% endfor %}
                    {% endif %}
                {% endif %}
        {% endif %}
                </span>
            </div>
        </div>
        <div class="">
            <h6 class="text-center blued mt-4" >Comments</h6>
            <div>
                {% for vote in rating.votes %}
                    <div class="row">
                        <div class="col-md-6 offset-3 border-respo">
                            <div class="row border-bottom">
                                <div class="col-md-6 my-1">
                                    <img class="vote-avatar"  src="{{ asset(vote.voter.photoProfile()) }}" alt="voter-image">
                                </div>
                                <div class="col-md-6">
                                    {% set reste = 5 - vote.value%}
                                    <span class="float-right mt-2 blued">
                                       {% if  vote.value is not same as(null)%}
                                           {% for  i in vote.value ..1%}
                                               <i class="fas fa-star"></i>
                                           {% endfor %}
                                        {% if reste>0 %}
                                           {% for  i in reste..1%}
                                               <i class="far fa-star"></i>
                                           {% endfor %}
                                       {% endif %}
                                    {% else %}
                                           {% for  i in 5..1%}
                                               <i class="far fa-star"></i>
                                           {% endfor %}
                                       {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="row border-bottom">
                                <p class="my-2 mx-2"> <span class="rosed">Comment : </span>{{ vote.comment }}</p>
                            </div>
                            <div class="row border-bottom float-right">
                                <span class="mx-2 rosed">{{ vote.createdAt|date }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="modal fade bd-example-modal-lg mt-4" id="hostingRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 9999;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('App\\Controller\\Hosting\\HostingRequestController::new',{ 'hosting': hosting.id  })) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

