{% if app.user is not same as(null) %}
    {% set layout = 'layout_user.html.twig' %}
{% else %}
    {% set layout = 'layout_visitor.html.twig' %}
{% endif %}

{% extends layout %}
{% block content %}
    <div class="fos_user_user_show px-4 py-4">
        <div class="row">
            <div class="col-md-4 offset-4 btn-group ">
                <div class=" hosting-edit ml-2  ">
                    <a class="">
                        <img class="mb-3" src="{{hosting.photoHosting() }}" alt="User">
                    </a>
                </div>
            </div>
        </div>
        <div class="justify-content-center">
            <h3 class="text-center pt-3">{{ hosting.user.firstname|title }} {{ hosting.user.lastname|upper }}</h3>
            <h3 class="pt-3 bdg-accord ">{{ hosting.user.hosting.point }} <span>Points</span></h3>
        </div>
        {% if app.user is not same as(hosting.user) and not hosting.user.deleted %}
            {% if app.user is not same as (null) %}
                <div class="justify-content-center">
                    <div class="text-center pt-2">
                        <button  data-toggle="modal" class="btn btn-success mx-1" data-target="#hostingRequest">
                            {% trans %} Send hosting request to {% endtrans %}{{ hosting.user.firstname|title }}
                        </button>
                    </div>
                </div>
            {% else %}
                <div class="justify-content-center">
                    <div class="text-center pt-2">
                        <a class="btn btn-outline-success text-center" data-toggle="modal" data-target="#login">{% trans %} Login to send hosting request to {% endtrans %}{{ hosting.user.firstname|title }}</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if not hosting.user.deleted %}
        <div class="justify-content-center">
            <div class="text-center pt-2">
                <h6 class="d-inline font-weight-bold blued">{% trans %} Active :  {% endtrans %}</h6>
                <b class="deal-terminate">
                    {% if hosting.active %}
                        <img src="{{ asset('/assets/images/icons/yes.png') }}" alt="yes">
                    {% else %}
                        <img src="{{ asset('/assets/images/icons/no.png') }}" alt="no">
                    {% endif %}
                </b>
                <div class="col ">
                    <h6 class="d-inline font-weight-bold blued">{% trans %} Sex  : {% endtrans %} </h6><span>  {{ hosting.sex}}</span>
                </div>
                <div class="col">
                    <h6 class="d-inline font-weight-bold blued"> {% trans %} Age:  {% endtrans %}</h6><span>  {{ hosting.age }} <span class="font-weight-bold">Years</span></span>
                </div>
                <div class="col">
                    <h6 class="d-inline font-weight-bold blued">{% trans %} Number of persons :{% endtrans %}  </h6><span>  {{ hosting.numberOfPersons }}</span>
                </div>

                <div class="col">
                    <h6 class="d-inline font-weight-bold blued">{% trans %} Number of days :{% endtrans %}  </h6><span>  {{hosting.numberOfDays }}</span>
                </div>
                <div class="col ">
                    <h6 class="d-inline font-weight-bold blued">{% trans %} City  : {% endtrans %} </h6><span>  {{ hosting.ville}}</span>
                </div>
                {% if hosting.aboutMe is not same as('') %}
                <div class="col my-2 ">
                    <h6 class="d-inline font-weight-bold blued">{% trans %} About me  : {% endtrans %} </h6><span>  {{ hosting.aboutMe}}</span>
                </div>
                {% endif %}
                {% if hosting.aboutMe is not same as('') %}
                <div class="col my-2">
                    <h6 class="d-inline font-weight-bold blued">{% trans %} Hosting for  : {% endtrans %} </h6><span>  {{ hosting.hostingFor}}</span>
                </div>
                {% endif %}
                <div class="col mb-2">
                    <h6 class="d-inline font-weight-bold blued">{% trans %} Languages  : {% endtrans %} </h6>
                    {% for language in hosting.languages %}
                        <span> {{language}} </span>
                    {% endfor %}
                </div>
                {% if hosting.getPossibility() %}
                    <h6 class="rosed">{% trans %} I have the possibility to host{% endtrans %}</h6>
                    <div class="col my-2">
                        {% for possible in hosting.getPossibility() %}
                            <span class="badge badge-primary mb-1"><h5>{{ possible }}</h5></span>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if hosting.getShare() %}
                    <h6 class="rosed">{% trans %}I can share with the guest {% endtrans %}</h6>
                    <div class="col my-2">
                        {% for share in hosting.getShare() %}
                            <span class="badge badge-info mb-1"><h5>{{ share }}</h5></span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if rating  %}
        <h4 class="text-center blued mt-4">{% trans %} Rating{% endtrans %}</h4>
        <div class="text-center">
            {% set range = rating.total/rating.numVotes %}
            {% set total = range|round(2, 'ceil')  %}
            {% set ceil = total|round(0,('ceil'))  %}
            {% set floor = total|round(0,('floor'))  %}
            {% set def =  ceil-floor %}
            {% set reste = 5 - total %}
            {% set roundReste = reste|round(0,('floor')) %}
            <div class="row justify-content-center">
                <span class="float-right mt-2 rosed">
                    {% if  total is not same as(null) and total <=5%}{#rating is not null#}
                        {% if  def %}  {#rating is floot#}
                            {% if floor %}
                                {% for  i in floor ..1%}
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                            {% endif %}
                            <i class="fas fa-star-half-alt"></i>
                            {% if roundReste %}
                                {% for  i in roundReste..1%}
                                    <i class="far fa-star"></i>
                                {% endfor %}
                            {% endif %}
                        {% else %}{#rating is integer#}
                        {% if total>0 %}
                            {% for  i in total ..1%}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                        {% if reste>0 %}
                            {% for  i in reste..1%}
                                <i class="far fa-star"></i>
                            {% endfor %}
                        {% endif %}
                    {% else %}  {#rating is 0#}
                        {% for  i in 5..1%}
                            <i class="far fa-star"></i>
                        {% endfor %}
                    {% endif %}
                {% endif %}
        {% endif %}
                </span>
            </div>
        </div>
        <div class="">
            <h6 class="text-center blued mt-4" >{% trans %} Comments{% endtrans %}</h6>
            <div>
                {% for vote in rating.votes %}
                    <div class="row">
                        <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-12 border-respo shadow-border">
                            <div class="row border-bottom">
                                <div class="col-3 my-1">
                                    <img class="vote-avatar"  src="{{ asset(vote.voter.photoProfile()) }}" alt="voter-image">
                                </div>
                                <div class="col-9">
                                    {% set reste = 5 - vote.value%}
                                    <span class="float-right mt-2 blued">
                           {% if  vote.value is not same as(null)%}
                               {% for  i in vote.value ..1%}
                                   <i class="fas fa-star"></i>
                               {% endfor %}
                               {% if reste>0 %}
                               {% for  i in reste..1%}
                                   <i class="far fa-star"></i>
                               {% endfor %}
                           {% endif %}
                           {% else %}
                               {% for  i in 5..1%}
                                   <i class="far fa-star"></i>
                               {% endfor %}
                           {% endif %}
                        </span>
                                </div>
                            </div>

                            <div class="row border-bottom">
                                {% if vote.comment %}
                                    <p class="my-2 mx-2">{{ vote.comment }}</p>
                                {% else %}
                                    <p class="my-2 mx-2">There is no comment</p>
                                {% endif %}
                            </div>

                            <div class="row float-right">
                    <span class="mx-2 rosed mt-1">
                        {% if "now"|date('Y-m-d') == vote.createdAt|date('Y-m-d') %}
                            {{ vote.createdAt|date('H:i') }}
                        {% else %}
                            {{ vote.createdAt|date('d M Y') }}
                        {% endif %}
                    </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="modal fade bd-example-modal-lg mt-4" id="hostingRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 9999;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('App\\Controller\\Hosting\\HostingRequestController::new',{ 'hosting': hosting.id  })) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans %} Close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

