{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {'attr': {'id': 'new_user'},'method': 'post', 'action': path('user_new') }) }}
        <div class="new-user container">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.lastname) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.plainPassword) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.city) }}
                </div>
                <div class="col-md-6 mt-4">
                    <div class="col mt-4">
                        {{ form_row(form.admin ) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-right">{% trans %} Create{% endtrans %}</button>
                </div>
            </div>
        </div>

{{ form_end(form) }}
