{% set CarpoolForm = form_CarpoolType.getForm().createView() %}
    {{ form_start(CarpoolForm, {'attr': {'id': 'carpool_user_edit'}}) }}
        {% if app.user.carpool %}
            <div class="fos_user_user_show px-4 py-4">
                <div class="row ">
                    <div class="col-xl-6 offset-xl-3 col-md-10 offset-md-1 col-12 text-center">
                        <div class="row border-driver">
                            <div class="col my-2 mx-2 text-center">
                                <h6 class="blued mt-2">{% trans %}A picture of your car{% endtrans %}</h6>
                                <a class="image-free">
                                    {{ form_row(CarpoolForm.carImage) }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 offset-xl-3 col-md-10 offset-md-1 col-12 mt-2">
                        <div class="local-border py-2 px-2">
                            <div class="row ">
                                <div class="col-6">
                                    {{ form_row(CarpoolForm.carBrand) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(CarpoolForm.carColor) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_row(CarpoolForm.numberOfPassengers) }}
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-lg-6 col-md-12 col-sm-6 col-12">
                                    <div class="border-driver px-2 py-2 fix-height-carpool">
                                        <h6 class="blued mb-4">{% trans %}Possibility to{% endtrans %}</h6>
                                        <div class="row">
                                            <div class="col-6">
                                                {{ form_row(CarpoolForm.bag,{label_attr:{'class':'checkbox-custom'}}) }}
                                            </div>
                                            <div class="col-6">
                                                {{ form_row(CarpoolForm.animal,{label_attr:{'class':'checkbox-custom'}}) }}
                                            </div>
                                            <div class="col-6">
                                                {{ form_row(CarpoolForm.baby,{label_attr:{'class':'checkbox-custom'}}) }}
                                            </div>
                                            <div class="col-6">
                                                {{ form_row(CarpoolForm.bankCard,{label_attr:{'class':'checkbox-custom'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-6 col-12">
                                    <div class="border-driver px-2 py-2 fix-height-carpool">
                                        <h6 class="blued mb-4">{% trans %}I can share{% endtrans %}</h6>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="">
                                                    {{ form_row(CarpoolForm.conversation,{label_attr:{'class':'checkbox-custom'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="">
                                                    {{ form_row(CarpoolForm.music,{label_attr:{'class':'checkbox-custom'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col justify-content-center mt-4 mx-2">
                                <input type="submit"  class="btn btn-info btn-block" value="{{ 'Update'|trans }}" />
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(CarpoolForm) }}
            </div>
        {% else %}
            <div class="fos_user_user_show px-4 py-4">
                <div class="row ">
                    <div class="col-xl-6 offset-xl-3 col-md-10 offset-md-1 col-12">
                        <div class="row border-driver">
                            <div class="col my-2 mx-2 text-center">
                                <h4 class="title-blue my-1 mx-1">{% trans %}Share your car in simple steps{% endtrans %}</h4>
                                <p>{% trans %}Registering yourself with the Carpool service will allow you to share your car with other people to get them to your same destination You can get subscribers if your prices are competitive{% endtrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-6 offset-xl-3 col-md-10 offset-md-1 col-12 text-center">
                        <div class="row border-driver">
                            <div class="col my-2 mx-2 text-center">
                                <h6 class="blued mt-2">{% trans %}A picture of your house{% endtrans %}</h6>
                                <a class="image-free">
                                    {{ form_row(CarpoolForm.carImage) }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 offset-xl-3 col-md-10 offset-md-1 col-12 mt-2">
                        <div class="local-border py-2 px-2">
                            <div class="row ">
                                <div class="col-6">
                                    {{ form_row(CarpoolForm.carBrand) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(CarpoolForm.carColor) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_row(CarpoolForm.numberOfPassengers) }}
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-lg-6 col-md-12 col-sm-6 col-12">
                                    <div class="border-driver px-2 py-2 fix-height-carpool">
                                        <h6 class="blued mb-4">{% trans %}Possibility to{% endtrans %}</h6>
                                        <div class="row">
                                            <div class="col-6">
                                                {{ form_row(CarpoolForm.bag,{label_attr:{'class':'checkbox-custom'}}) }}
                                            </div>
                                            <div class="col-6">
                                                {{ form_row(CarpoolForm.animal,{label_attr:{'class':'checkbox-custom'}}) }}
                                            </div>
                                            <div class="col-6">
                                                {{ form_row(CarpoolForm.baby,{label_attr:{'class':'checkbox-custom'}}) }}
                                            </div>
                                            <div class="col-6">
                                                {{ form_row(CarpoolForm.bankCard,{label_attr:{'class':'checkbox-custom'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-6 col-12">
                                    <div class="border-driver px-2 py-2 fix-height-carpool">
                                        <h6 class="blued mb-4">{% trans %}I can share{% endtrans %}</h6>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="">
                                                    {{ form_row(CarpoolForm.conversation,{label_attr:{'class':'checkbox-custom'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="">
                                                    {{ form_row(CarpoolForm.music,{label_attr:{'class':'checkbox-custom'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col justify-content-center mt-4 mx-2">
                                <input type="submit"  class="btn btn-info btn-block" value="{{ 'Update'|trans }}" />
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(CarpoolForm) }}
            </div>
        {% endif %}

