{% extends "layout_user.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
        <div class="fos_user_user_show  px-4 py-4">
            <h2 class="text-center title-rose">change ads area</h2>
            <div class="border-respo px-4 py-4">
                <h6 class="text-center pt-0 title-blue">Your ads = {{ ads }}</h6>
                <h6 class="text-center pt-0 title-blue">Your offer = {{ offer }}</h6>
                <h6 class="text-center pt-0 title-blue">Your demand = {{ demand }}</h6>
                <h6 class="text-center pt-0 title-blue">Your new aera = {{ user.Ville }} {{ user.postalCode }}</h6>
            </div>
        </div>
{% endblock %}


