{% set formCity = form_CityAutoAreaType.getForm().createView() %}
{% set formRegion = form_CityAreaType.getForm().createView() %}
<div class="fos_user_user_show  px-4 py-4">
    <div class="px-4 py-4">
        <h6 class="text-center pt-0 title-blue">{% trans %}Your current area{% endtrans %}</h6>
        {% if app.user.ville != null %}
        <h5 class="text-center pt-0 title-rose">{{ app.user.ville }}</h5>
        <h2 class="text-center pt-0 ">{{ app.user.postalCode }}</h2>
        {% else %}
            <h5 class="text-center pt-0 title-rose">{% trans %}You did not choose a city{% endtrans %}</h5>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-5 col-12">
            <div class="local-border px-4 py-2">
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="text-center pt-0 title-blue">{% trans %}Enter your city name{% endtrans %}</h6>
                        {{ form_start(formCity) }}
                        {{ form_row(formCity.city, { 'label': 'City' }) }}
                        <div class="row">
                            <p class="ml-2 mb-2 rosed d-inline"><i class="fas fa-exclamation-triangle"></i></i>{% trans %}This will change the city for all your ads, deals, driver requests{% endtrans %}</p>
                        </div>
                        <div class="row justify-content-center">
                            <input type="submit" class="btn btn-info btn-block" value="{{ 'Update'|trans }}" />
                        </div>
                        {{ form_end(formCity) }}
                        <a href="{{ path('search_city') }}" id="url-list" class="hidden"></a>
                        <a href="{{ path('get_city') }}" id ="url-get" class="hidden"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-12">
            <div class="row">
                <div class="col text-center my-2">
                    <h2 class="text-center mt-lg-5 pt-lg-4 mx-5 title-rose">{% trans %}OR{% endtrans %}</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-12">
            <div class="local-border px-4 py-2">
                <h6 class="text-center pt-0 title-blue">{% trans %}Change your area{% endtrans %}</h6>
                {{ form_start(formRegion) }}
                <div class="row ">
                    <div class="col-md-4">
                        {{ form_row(formRegion.region) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(formRegion.department) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(formRegion.city) }}
                    </div>
                </div>
                <div class="row">
                    <p class="ml-2 mb-2 rosed"><i class="fas fa-exclamation-triangle"></i>{% trans %}This will change the city for all your ads, deals, driver requests{% endtrans %}</p>
                </div>
                <div class="row justify-content-center">
                    <input type="submit" class="btn btn-info btn-block" value="{{ 'Update'|trans }}" />
                </div>
                {{ form_end(formRegion) }}
            </div>
        </div>
    </div>
</div>
