    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit','id':'fos_user_profile_edit' } }) }}
    <div class="fos_user_user_show px-4 pb-4">
        <div class="row ">
            <div class="col-12 btn-group text-center">
                <div class="profile-edit">
                    {{ form_row(form.profileImage) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2">
                <div class="local-border px-2 fix-height">
                    <div class="row mt-3">
                        <div class="col-md-6">
                            {{ form_row(form.firstname) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.lastname) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="col-4 mt-4 pt-3">
                            {{ form_row(form.emailStatus,{label_attr:{'class':'checkbox-custom'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            {{ form_row(form.phoneNumber) }}
                        </div>
                        <div class="col-4 mt-4 pt-3">
                            {{ form_row(form.phonNumberStatus,{label_attr:{'class':'checkbox-custom'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-2">
                <div class="local-border px-2 fix-height">
                    <div class="row">
                        <div class="col-8">
                            {{ form_row(form.gender,{'attr':{'class':'form-check-inline custom-radio'},label_attr:{'class':'radio-custom mr-1'}}) }}
                        </div>
                        <div class="col-4 mt-4 pt-3">
                            {{ form_row(form.genderStatus,{label_attr:{'class':'checkbox-custom'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            {{ form_row(form.birthday) }}
                        </div>
                        <div class="col-4 mt-4 pt-3">
                            {{ form_row(form.birthdayStatus,{label_attr:{'class':'checkbox-custom'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.maxDistance) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <input type="submit"  class="btn btn-info btn-block mx-5" id="js-profile-edite" value="{{ 'Update'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
