{% trans_default_domain 'FOSUserBundle' %}
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    <div class="fos_user_user_show px-4 py-4">
        <div class="row ">
            <div class="col-md-2 offset-5 btn-group ">
                <div class=" profile-edit ml-2  ">
                    <a class="">
                        {{ form_row(form.profileImage) }}
                    </a>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 offset-4">
                {{ form_row(form.firstname) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-4">
                {{ form_row(form.lastname) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-4">
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-md-4 mt-4 pt-3">
                        {{ form_row(form.emailStatus) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-4">
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        {{ form_row(form.phoneNumber) }}
                    </div>
                    <div class="col-md-4 mt-4 pt-3">
                        {{ form_row(form.phonNumberStatus) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-4">
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        {{ form_row(form.gender) }}
                    </div>
                    <div class="col-md-4 mt-4 pt-3">
                        {{ form_row(form.genderStatus) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-4">
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        {{ form_row(form.birthday) }}
                    </div>
                    <div class="col-md-4 mt-4 pt-3">
                        {{ form_row(form.birthdayStatus) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-4">
                <hr>
                    {{ form_row(form.maxDistance) }}
            </div>
            <div class="row col-md-4 offset-4 justify-content-center">
                <input type="submit"  class="btn btn-info btn-block" value="{{ 'Update' }}" />
            </div>
        </div>
        {{ form_end(form) }}
    </div>
