{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <div class="fos_user_user_show px-4 py-4">
        <div class="row">
           <div class="col-md-2 offset-5 btn-group ">
                <div class=" profile-edit ml-2  ">
                    <a class="">
                        {% if app.user.profileImage %}
                            <img class="mb-3 {% if user.isActiveNow %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}" src="{{ asset('/assets/images/profile/'~app.user.profileImage) }}" alt="User" >
                        {% else %}
                            <img class="mb-3 {% if user.isActiveNow %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}" src="{{ asset('/assets/images/profile/user-avatar.png') }}" alt="User">
                        {% endif %}
                    </a>
                </div>
           </div>
        </div>
        <div class="justify-content-center">
            <h1 class="text-center pt-3">{{ user.firstname|title }} {{ user.lastname|upper }}</h1>
            <h1 class="pt-3 bdg-accord ">{{ user.point }} <span>Points</span></h1>
        </div>
        <div class="justify-content-center">
            <div class="text-center pt-2">
                    <h5 class=" pt-0 title-blue">Renseignements personnels</h5>
                    <h6 class="d-inline font-weight-bold">Email :  </h6><span>  {{ user.email }}</span>
                    <b class="deal-terminate">
                    {% if app.user.emailStatus %}
                        <img src="{{ asset('/assets/images/icons/yes.png') }}" alt="yes">
                    {% else %}
                        <img src="{{ asset('/assets/images/icons/no.png') }}" alt="no">
                    {% endif %}</b>
                <div class="col">
                    <h6 class="d-inline font-weight-bold">Phone numbre :  </h6><span>  {{ user.phoneNumber }}</span>
                    <b class="deal-terminate">
                        {% if app.user.phonNumberStatus %}
                            <img src="{{ asset('/assets/images/icons/yes.png') }}" alt="yes">
                        {% else %}
                            <img src="{{ asset('/assets/images/icons/no.png') }}" alt="no">
                        {% endif %}</b>
                </div>
                <div class="col">
                    <h6 class="d-inline font-weight-bold">Sex :  </h6><span>  {{ user.gender }}</span>
                    <b class="deal-terminate">
                        {% if app.user.genderStatus %}
                            <img src="{{ asset('/assets/images/icons/yes.png') }}" alt="yes">
                        {% else %}
                            <img src="{{ asset('/assets/images/icons/no.png') }}" alt="no">
                        {% endif %}</b>
                </div>
                <div class="col ">
                    <h6 class="d-inline font-weight-bold">Birthday :  </h6><span>  {{ user.birthday|date('d / m / Y') }}</span>
                    <b class="deal-terminate">
                        {% if app.user.birthdayStatus %}
                            <img src="{{ asset('/assets/images/icons/yes.png') }}" alt="yes">
                        {% else %}
                            <img src="{{ asset('/assets/images/icons/no.png') }}" alt="no">
                        {% endif %}</b>
                </div>
                <div class="col">
                    <h6 class="d-inline font-weight-bold">Max distance :  </h6><span>  {{ user.maxDistance }} <span class="font-weight-bold">Km</span></span>
                </div>
            </div>
        </div>
        <div class="justify-content-center">
            <div class="text-center pt-2">
                <h5 class=" pt-0 title-blue">Positioning</h5>
                <h6 class="d-inline font-weight-bold">City :  </h6><span>  {{ user.city.name }}</span>
                <div class="col">
                    <h6 class="d-inline font-weight-bold">Zip Code :  </h6><span>  {{ user.postalCode }}</span>
                </div>
                <div class="col">
                    <h6 class="d-inline font-weight-bold">Department :  </h6><span>  {{ user.city.department }}</span>
                </div>
                <div class="col ">
                    <h6 class="d-inline font-weight-bold">Region :  </h6><span>  {{ user.city.department.region }}</span>
                </div>
                <div class="col ">
                    <h6 class="d-inline font-weight-bold">Last login :  </h6><span>  {{ user.lastLogin|date('d  M  Y - H:d:s')  }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-5 mt-5">
                <form method="post" class="d-inline" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete your account?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                    <button class="btn btn-danger btn-block text-center">Delete Your Account</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

