<div class="row">
    <div class="col-lg-8 offset-lg-2 col-12 px-5 px-lg-1">
        <h4 class="title-blue text-center">{% trans %} Voyage Request{% endtrans %}</h4>
        <div class="driver">
            <div class="row border-deal">
                <div class="col-12 py-2 px-2">
                    <section class="input-group">
                        <div class="btn-group">
                            <h4 class=" text-center">
                                <span class="blued px-2">{{voyage.stationDeparture.name}}</span>
                                {% if voyage.parent %}
                                    <small class="px-2 d-block ">{{voyage.placeStationDeparture}}</small>
                                {% else %}
                                    <small class="px-2 d-block ">{{voyage.placeMainDeparture}}</small>
                                {% endif %}
                            </h4>
                        </div>
                        <div class="btn-group mx-4">
                            <h3> <i class="fas fa-arrow-right rosed"></i></h3>
                        </div>
                        <div class="btn-group">
                            <h4 class="text-center">
                                <span class="blued px-2">{{voyage.stationArrival.name}}</span>
                                {% if voyage.parent %}
                                    <small class="px-2 d-block">{{voyage.placeStationArrival}}</small>
                                {% else %}
                                    <small class="px-2 d-block">{{voyage.placeMainArrival}}</small>
                                {% endif %}
                            </h4>
                        </div>
                    </section>
                </div>
                <div class="col-12">
                    <div class="text-center my-4">
                        {% if voyage.parent %}
                            <h6 class="inf-badge badge-info  mx-sm-2 py-2 px-2 white d-sm-inline"><i class="fas fa-random"></i> {{ voyage.stationDistance }}{{ ' Km' }}</h6>
                            <h6 class="inf-badge badge-info  mx-sm-2 py-2 px-2 white d-sm-inline"><i class="far fa-clock"></i> {{ voyage.durationToTime(voyage.stationDuration)}}</h6>
                            <h6 class="inf-badge badge-warning mx-sm-2 py-2 px-2 white d-sm-inline"> {{ voyage.stationPrice }} <i class="fas fa-euro-sign"></i></h6>
                        {% else %}
                            <h6 class="inf-badge badge-info mx-sm-2 py-2 px-2 white d-sm-inline"><i class="fas fa-random"></i> {{ voyage.distance }}{{ ' Km' }}</h6>
                            <h6 class="inf-badge badge-info mx-sm-2 py-2 px-2 white d-sm-inline"><i class="far fa-clock"></i>  {{ voyage.durationToTime(voyage.duration)}}</h6>
                            <h6 class="inf-badge badge-warning mx-sm-2 py-2 px-2 white d-sm-inline"> {{ voyage.mainPrice }}  <i class="fas fa-euro-sign"></i></h6>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-deal">
                {{ include('carpool/voyage_request/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
