{% extends 'base.html.twig' %}

{% block title %}Driver index{% endblock %}

{% block body %}
    <h1>Driver index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CarBrand</th>
                <th>CarColor</th>
                <th>CarImage</th>
                <th>MaxDistance</th>
                <th>Point</th>
                <th>Active</th>
                <th>GpsLat</th>
                <th>GpsLng</th>
                <th>Feedback</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for driver in drivers %}
            <tr>
                <td>{{ driver.id }}</td>
                <td>{{ driver.carBrand }}</td>
                <td>{{ driver.carColor }}</td>
                <td>{{ driver.carImage }}</td>
                <td>{{ driver.maxDistance }}</td>
                <td>{{ driver.point }}</td>
                <td>{{ driver.active ? 'Yes' : 'No' }}</td>
                <td>{{ driver.gpsLat }}</td>
                <td>{{ driver.gpsLng }}</td>
                <td>{{ driver.feedback }}</td>
                <td>
                    <a href="{{ path('driver_show', {'id': driver.id}) }}">show</a>
                    <a href="{{ path('driver_edit', {'id': driver.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('driver_new') }}">Create new</a>
{% endblock %}
