Notifications :
{% if notificationList|length > 0 %}
    <form action="{{ mgilet_notification_generate_path('notification_mark_all_as_seen', notificationList|first.notifiableEntity) }}" method="post">
        <button type="submit">{% trans %} Mark all as seen{% endtrans %}</button>
    </form>
{% endif %}
<ul>
    {% for item in notificationList %}
        <li>
            <b>{{ item.notification }}</b>
            <br>
            {% trans %} seen : {% endtrans %}{{ item.seen }}
            <form action="{{ mgilet_notification_generate_path('notification_mark_as_seen', item.notifiableEntity, item.notification) }}"
                  method="post">
                <button type="submit">{% trans %} Mark as seen{% endtrans %}</button>
            </form>
            <form action="{{ mgilet_notification_generate_path('notification_mark_as_unseen', item.notifiableEntity, item.notification) }}"
                  method="post">
                <button type="submit">{% trans %} Mark as unseen{% endtrans %}</button>
            </form>
        </li>
    {% endfor %}
</ul>

