{% extends 'base.html.twig' %}

{% block title %}Ospecification index{% endblock %}

{% block body %}
    <h1>Ospecification index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Label</th>
                <th>Type</th>
                <th>TextOptions</th>
                <th>NumericOptions</th>
                <th>TypeOfChoice</th>
                <th>MinOption</th>
                <th>MaxOption</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ospecification in ospecifications %}
            <tr>
                <td>{{ ospecification.id }}</td>
                <td>{{ ospecification.name }}</td>
                <td>{{ ospecification.label }}</td>
                <td>{{ ospecification.type }}</td>
                <td>{{ ospecification.textOptions ? ospecification.textOptions|join(', ') : '' }}</td>
                <td>{{ ospecification.numericOptions ? ospecification.numericOptions|join(', ') : '' }}</td>
                <td>{{ ospecification.typeOfChoice }}</td>
                <td>{{ ospecification.minOption }}</td>
                <td>{{ ospecification.maxOption }}</td>
                <td>
                    <a href="{{ path('ospecification_show', {'id': ospecification.id}) }}">show</a>
                    <a href="{{ path('ospecification_edit', {'id': ospecification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ospecification_new') }}">Create new</a>
{% endblock %}
