{% extends 'layout_user.html.twig' %}

{% block content %}
    <h1 class="text-center rosed mt-1 font-weight-bold">Dashboard</h1>
    <div class="">
        <div class="row px-4">
            <div class="col-12 text-center card border-left-success shadow h-100 py-2 ">
                <div class="row">
                    <div class="col text-center">
                        <div class="card-body count-user">
                            {#<h1 class="font-weight-bold white mb-1 numberCaree badge-blue">{{data['userCount']}}</h1>
                            <h3 class="mb-0 font-weight-bold blued ">{% trans %}Users{% endtrans %}</h3>#}
                            <h1 class="font-weight-bold white mb-1 numberCaree activated">{{data['activeUsers']}}</h1>
                            <h3 class="mb-0 font-weight-bold blued ">{% trans %}Active Users{% endtrans %}</h3>
                        </div>
                    </div>
                </div>
                <div class="row px-2">
                    <div class="col-6  border-left-success card-body badge-blue ">
                        <div class="row">
                            {#<h5 class="col text-center white ">Active</h5>#}
                            <h5 class="col text-center white ">All Users</h5>
                        </div>
                        <div class="row">
                            {#<h1 class="col text-center font-weight-bold  mb-1 white">{{data['activeUsers']}}</h1>#}
                            <h1 class="col text-center font-weight-bold  mb-1 white">{{data['userCount']}}</h1>
                        </div>
                    </div>
                    <div class="col-6 card border-left-success card-body unactivated">
                        <div class="row">
                            <h5 class="col text-center white">Inactive</h5>
                        </div>
                        <div class="row">
                            <h1 class="col text-center font-weight-bold  mb-1 white">{{data['inactiveUsers']}}</h1>
                        </div>
                    </div>
                </div>
                <div class="row px-2 my-1">
                    <div class="col-md-4   card-body driver-count">
                        <div class="row">
                            <h5 class="col text-center  ">Drivers</h5>
                        </div>
                        <div class="row">
                            <h1 class="col text-center font-weight-bold  mb-1">{{data['driverCount']}}</h1>
                        </div>
                    </div>
                    <div class="col-md-4  border-left-success card-body hostingCount">
                        <div class="row">
                            <h5 class="col text-center ">Hosting</h5>
                        </div>
                        <div class="row">
                            <h1 class="col text-center font-weight-bold  mb-1">{{data['hostingCount']}}</h1>
                        </div>
                    </div>
                    <div class="col-md-4  border-left-success card-body carpoolCount">
                        <div class="row">
                            <h5 class="col text-center ">Carpool</h5>
                        </div>
                        <div class="row">
                            <h1 class="col text-center font-weight-bold  mb-1">{{data['carpoolCount']}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 px-4">
            <div class="col-12 card border-left-success shadow h-100 py-2 ">
                <div class="row">
                    <div class="col-12 col-md-6 mt-2">
                        <div class="row px-3">
                            <div class="col-3 bg-info py-2 white">
                                <div class="row">
                                    <h1 class="col text-center font-weight-bold  mb-1">{{data['adCount']}}</h1>
                                </div>
                                <div class="row">
                                    <h6 class="col text-center ">ADS</h6>
                                </div>
                            </div>
                            <div class="col-9 py-2 bg-primary float-left white">
                                <div class="row">
                                    <h4 class="col mb-1">{{data['offerCount']}}</h4>
                                    <h4 class="col mb-1">Offers</h4>
                                </div>
                                <div class="row">
                                    <h4 class="col mb-1">{{data['demandCount']}}</h4>
                                    <h4 class="col mb-1">Demands</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-2">
                        <div class="row px-3">
                            <div class="col-3 bg-info py-2 white">
                                <div class="row">
                                    <h1 class="col text-center font-weight-bold  mb-1">{{ data['sDealCount'] + data['dDealCount'] }}</h1>
                                </div>
                                <div class="row">
                                    <h6 class="col text-center">DEALS</h6>
                                </div>
                            </div>
                            <div class="col-9 py-2 bg-primary float-left white">
                                <div class="row">
                                    <h4 class="col mb-1">{{data['sDealCount']}}</h4>
                                    <h4 class="col mb-1">Suggested</h4>
                                </div>
                                <div class="row">
                                    <h4 class="col mb-1">{{data['dDealCount']}}</h4>
                                    <h4 class="col mb-1">Done</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-2">
                        <div class="row px-3">
                            <div class="col-3 bg-info py-2 white">
                                <div class="row ">
                                    <h1 class="col text-center font-weight-bold  mb-1">{{data['voyageCount']}}</h1>
                                </div>
                                <div class="row">
                                    <h6 class="col text-center">VOYAGE</h6>
                                </div>
                            </div>
                            <div class="col-9 py-2 bg-primary float-left white">
                                <div class="row">
                                    <h4 class="col mb-1">{{ data['mainVoyageCount'] }}</h4>
                                    <h4 class="col mb-1">Main</h4>
                                </div>
                                <div class="row">
                                    <h4 class="col mb-1">{{ data['subVoyageCount'] }}</h4>
                                    <h4 class="col mb-1">Sub</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-2">
                        <div class="row px-3">
                            <div class="col-3 bg-info py-2  white">
                                <div class="row ">
                                    <h1 class="col text-center font-weight-bold  mb-1">{{data['meetupCount']}}</h1>
                                </div>
                                <div class="row">
                                    <h6 class="col text-center">MEETUP</h6>
                                </div>
                            </div>
                            <div class="col-9 py-2  bg-primary float-left white">
                                <div class="row">
                                    <h4 class="col mb-1">{{data['activeMeetupCount']}}</h4>
                                    <h4 class="col mb-1">Active</h4>
                                </div>
                                <div class="row">
                                    <h4 class="col mb-1">{{data['finishMeetupCount']}}</h4>
                                    <h4 class="col mb-1">Finish</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
