{% extends 'layout_user.html.twig' %}

{% block title %}Admin ads{% endblock %}

{% block content %}
    <h1 class="rosed font-weight-bold text-center my-2">{% trans %} Ads{% endtrans %}</h1>
    <div class="row">
        <div class="col text-center mb-2">
            <span class="badge badge-primary mx-2 px-2 py-2"><h5>{{ data['offerCount'] }} Offer</h5></span>
            <span class="badge badge-warning mx-2 px-2 py-2"><h5>{{ data['demandCount'] }} Demand</h5></span>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark text-center">
            <tr>
                <th>id</th>
                <th>User</th>
                <th>Type</th>
                <th>Created at</th>
                <th>General category</th>
                <th>Category</th>
                <th>City</th>
                <th>PostalCode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
        {% for ad in ads %}
            <tr>
                <td>{{ ad.id }}</td>
                <td class="float-left"> <i class="fas fa-user blued"></i> {{ ad.user.firstname|title }} {{ ad.user.lastname|upper }}</td>
                <td>{{ ad.typeOfAd }}</td>
                <td>{{ ad.dateOfAd|date('d M -y')  }}</td>
                <td>{{ ad.generalCategory }}</td>
                <td>{{ad.category}}</td>
                <td>{% if ad.city %}{{ ad.city }}{% else %}{{ ad.ville }}{% endif %}</td>
                <td>{% if ad.city %}{{ ad.city.zipCode }}{% else %}{{ ad.ville.zipCode }}{% endif %}</td>
                <td>
                    <a href="{{ path('ad_show', {'id': ad.id}) }}"class="btn btn-info">{% trans %} show{% endtrans %}</a>
                    <form method="post" class="d-inline" action="{{ path('ad_delete', {'id': ad.id}) }}" onsubmit="return confirm('Are you sure you want to delete this ad?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ad.id) }}">
                        <button class="btn btn-danger">{% trans %} Delete{% endtrans %}</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="34">{% trans %} no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination-search row justify-content-center mt-4">
        <div class="navigation">
            {{ knp_pagination_render(ads) }}
        </div>
    </div>
{% endblock %}
