{% extends 'admin/layout_admin.html.twig' %}

{% block title %}Admin category{% endblock %}

{% block admin %}
    <h1 class="rosed font-weight-bold text-center my-2">Category</h1>
    <div class="row">
        <div class="col text-center mb-2">
            <span class="badge badge-primary mx-2 px-2 py-2"><h5>{{ data['parentCount']/4 }} Parents</h5></span>
            <span class="badge badge-warning mx-2 px-2 py-2"><h5>{{ data['childCount']/4 }} Child</h5></span>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mb-2">
            <span class="badge badge-info mx-2 px-2 py-2"><h6>{% trans %} Each category is duplicated as Offer , Demand , SearchOffer , SearchDemand {% endtrans %}</h6></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{{ path('category_new',{'type':'first'}) }}" class="btn btn-primary float-right mb-2">Create New Category</a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h5 class="rosed my-2"><i class="fas fa-exclamation-triangle rosed"> {% trans %} Attention : {% endtrans %}</i>
                {% trans %} Deleting any category means that you will delete all the ads, deals, done deals, driver request for deals, specifications,and all category children.{% endtrans %}</h5>
        </div>
    </div>
    <div class="category-list">
        <div class="row">
            {% set firstId = (categorys|first).id %}

            <div class="col-3">
                <div class="list-group" id="list-tab" role="tablist">
                    {% for category in categorys %}
                        {% if category.parent is same as(null) %}
                            <a class="list-group-item list-group-item-action {% if category.id is same as (firstId) %}{{ ' active' }}{% endif %}" id="category-{{ category.id }}" data-toggle="list" href="#category-list-{{ category.id }}" role="tab" aria-controls="category">{{category.name}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="nav-tabContent">
                    {% for category in categorys %}
                        {% if category.parent is same as(null) %}
                            <div class="tab-pane fade {% if category.id is same as (firstId) %}{{ ' show active' }}{% endif %}" id="category-list-{{ category.id }}" role="tabpanel" aria-labelledby="category-{{ category.id }}">
                                <table class="table">
                                    <thead class="thead-dark text-center">
                                    <tr>
                                        <th>id</th>
                                        <th>Name</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    {#parent category#}
                                    <tr class="rejected my-4">
                                        <td>{{ category.id }}</td>
                                        <td>{{ category.name }}</td>
                                        <td>
                                            <form action="" method="post" class="d-inline">
                                                <button type="submit" value="{{ category.id }}" name="edit_category_id" data-toggle="modal"
                                                        class="btn btn-info my-1 ">{% trans %} Edit{% endtrans %}</button>
                                            </form>

                                            <form method="post" class="d-inline" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this category? This will remove all done deals and deals and ads and specifications for all children category related');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                                                <button class="btn btn-danger">{% trans %} Delete{% endtrans %}</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% for child in category.children %}
                                    <tr>
                                        <td>{{ child.id }}</td>
                                        <td>{{ child.name }}</td>
                                        <td>
                                            <form action="" method="post" class="d-inline">
                                                <button type="submit" value="{{ child.id }}" name="edit_category_id" data-toggle="modal"
                                                        class="btn btn-info my-1 ">{% trans %} Edit{% endtrans %}</button>
                                            </form>

                                            <form method="post" class="d-inline" action="{{ path('category_delete', {'id': child.id}) }}" onsubmit="return confirm('Are you sure you want to delete this category? This will remove all done deals and deals and ads and specifications for 4 category related');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ child.id) }}">
                                                <button class="btn btn-danger">{% trans %} Delete{% endtrans %}</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="34">{% trans %} no records found{% endtrans %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bd-example-modal-lg mt-4" id="admin_edit_category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 9999;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    {% if categoryId is defined %}
                    {{ render(controller('App\\Controller\\User\\AdminController::edit_category',{ 'category': categoryId })) }}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
