{% extends 'layout_user.html.twig' %}

{% block title %}Admin deals{% endblock %}

{% block content %}
    <h1 class="rosed font-weight-bold text-center my-2">{% trans %} DEALS{% endtrans %}</h1>
    <div class="row">
        <div class="col text-center mb-2">
            <span class="badge badge-primary mx-2 px-2 py-2"><h5>{{ data['sDealCount'] }} Deals</h5></span>
            <span class="badge badge-success mx-2 px-2 py-2"><h5>{{ data['dDealCount'] }} Done Deals</h5></span>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark text-center">
            <tr>
                <th>id</th>
                <th>Type</th>
                <th>Created at</th>
                <th>Category</th>
                <th>Offer</th>
                <th>Demand</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
        {% for deal in deals %}
            <tr>
                <td>{{ deal.id }}</td>
                <td>{% if deal.suggestionDate is defined %}{{ 'Deal' }}{% else %}{{ 'Done Deal' }}{% endif %}</td>
                <td>{% if deal.suggestionDate is defined %}{{ deal.suggestionDate|date('d M -y')  }}{% else %}{{ deal.date|date('d M -y')  }}{% endif %}</td>
                <td>{{ deal.category.name }}</td>
                <td>{% if deal.suggestionDate is defined %}<a href="{{ path('ad_show',{'id':deal.offer.id}) }}">Offer</a> {% else %}{{ deal.offerUserName }}{% endif %}</td>
                <td>{% if deal.suggestionDate is defined %} <a href="{{ path('ad_show',{'id':deal.demand.id}) }}">Demand</a>{% else %}{{ deal.demandUserName }}{% endif %}</td>
                <td>
                    {% if deal.suggestionDate is defined %}
                        <a href="{{ path('deal_show', {'id': deal.id}) }}"class="btn btn-info">show</a>
                        <form method="post" class="d-inline" action="{{ path('deal_delete', {'id': deal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this Deal?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ deal.id) }}">
                            <button class="btn btn-danger  mx-1">{% trans %} Delete{% endtrans %}</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="34">{% trans %} no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination-search row justify-content-center mt-4">
        <div class="navigation">
            {{ knp_pagination_render(deals) }}
        </div>
    </div>
{% endblock %}
