{% extends 'admin/layout_admin.html.twig' %}

{% block title %}Admin meetup{% endblock %}

{% block admin %}
    <h1 class="rosed font-weight-bold text-center my-2">{% trans %} Meetup{% endtrans %}</h1>
    <div class="row">
        <div class="col text-center mb-2">
            <span class="badge badge-primary mx-2 px-2 py-2"><h5>{{ data['activeMeetupCount'] }} Active meetup</h5></span>
            <span class="badge badge-success mx-2 px-2 py-2"><h5>{{ data['finishMeetupCount'] }} Finish Meetup</h5></span>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark text-center">
            <tr>
                <th>id</th>
                <th><span class="float-left">Creator</span> </th>
                <th>City</th>
                <th>Department</th>
                <th>Participants</th>
                <th>Start at</th>
                <th>Type</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
        {% for meetup in meetups %}
            <tr>
                <td>{{ meetup.id }}</td>
                <td >
                    <div class="float-left">
                        <i class="fas fa-user blued mr-1"></i>
                        <a href="{{ path('user_show',{'id':meetup.creator.id}) }}" >
                            {{ meetup.creator.firstname|title }} {{ meetup.creator.lastname|upper }}
                        </a>
                    </div>
                </td>
                <td >{{ meetup.city }}</td>
                <td>{{ meetup.department.id }}</td>
                <td>{{ meetup.maxParticipants }}</td>
                <td>{{ meetup.StartAt|date('d M -y H:i')  }}</td>
                <td>{{ meetup.type }}</td>
                <td>
                    <div class="col text-center ">
                        {% if meetup.isFinish() %}
                            <div class="col text-center"><img src="{{ asset('/assets/images/icons/yes.png') }}" alt="yes" class="vote-avatar"></div>
                        {% else %}
                            <div class="col text-center"><img src="{{ asset('/assets/images/icons/no.png') }}" alt="no" class="vote-avatar"></div>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <a href="{{ path('meetup_show', {'id': meetup.id}) }}"class="btn btn-info">{% trans %} show{% endtrans %}</a>
                    <form method="post" class="d-inline" action="{{ path('meetup_delete', {'id': meetup.id}) }}" onsubmit="return confirm('Are you sure you want to delete this Meetup?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meetup.id) }}">
                        <button class="btn btn-danger  mx-1">{% trans %} Delete{% endtrans %}</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="34">{% trans %} no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination-search row justify-content-center mt-4">
        <div class="navigation">
            {{ knp_pagination_render(meetups) }}
        </div>
    </div>
{% endblock %}
