{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {'attr': {'id': 'new_user'},'method': 'post', 'action': path('user_new') }) }}
        <div class="new-user container">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.lastname) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.plainPassword) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.city) }}
                </div>
                <div class="col-md-6 mt-4">
                    <div class="col mt-4">
                        {{ form_row(form.admin ) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-right">{{ button_label|default('Save') }}</button>
                </div>
            </div>
        </div>

{{ form_end(form) }}

<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">

</script>
<script>
    $(document).ready(function() {
        let makeSelect = false;

        let $this = $('#user_city'), $fakeInput = $this.clone();
        $fakeInput.attr('id', 'fake_' + $fakeInput.attr('id'));
        $fakeInput.attr('name', 'fake_' + $fakeInput.attr('name'));
        $this.hide().after($fakeInput);
        let input = document.getElementById('fake_user_city');
        let div = input.parentNode;
        $(div).addClass('ui-front');

        $fakeInput.autocomplete({
            source: $('#url-list').attr('href'),
            autoFocus: true,
            minLength:2,
            theme: 'bootstrap',
            formatNoMatches: 'No city found.',
            formatSearching: 'Searching city...',
            formatInputTooShort: 'Insert at least 2 character',
            close: function(e, ui) {
                if (!makeSelect) {
                    $this.val(false);
                }

            },
            response:function( event, ui ){
                if (!makeSelect) {
                    $this.val(false);
                }
            },
            focus: function(event, ui) {
                event.preventDefault();
                $this.val(ui.item.label);
            },
            select: function (event, ui) {
                event.preventDefault();
                makeSelect = true;
                $this.val(ui.item.value);
                $(this).val(ui.item.label);
            },

        });
    });


</script>
