{% extends 'hosting/layout_hosting.html.twig' %}

{% block hosting %}
    <h1 class="title-blue text-center">{% trans %} Hosting{% endtrans %}</h1>
    {% if hosting_requests is not empty %}
        <div class="col-md-6 offset-3 my-2 ">
            {% for hosting in hosting_requests %}
                {#class color as status#}
                {% if hosting.treatment is same as('pending') %}
                    {% set status = 'hostingPending'  %}
                {% elseif hosting.treatment is same as('rejected') %}
                    {% set status = 'rejected'  %}
                {% else %}
                    {% set status = 'accepted'  %}
                {% endif %}
                <div class="border-respo  ">
                    <div class=" {{status}} py-1 px-2">
                        <div class="row ">
                            <div class="col-md-4">
                                {{ hosting.date|date('d M Y') }}
                            </div>
                            <div class="col-md-4 offset-4 ">
                                <span class="float-right  ">
                                    {% if hosting.senderStatus and hosting.hostingStatus %}
                                        <span>{% trans %} Done hosting{% endtrans %} </span>
                                    {% elseif  not hosting.senderStatus and  not hosting.hostingStatus %}
                                        {{ hosting.treatment|title }}
                                    {% else %}
                                        <span>{% trans %} Semi done hosting {% endtrans %}</span>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-0">
                    {% if hosting.treatment is same as('pending') %}
                        <div class="row">
                            <div class="col text-center ">
                                <h6 class="blued ">{% trans %} Your request pending processing by {% endtrans %}<span class="rosed">{{hosting.hosting.firstname|title}}</span></h6>
                            </div>
                        </div>
                        <div class="row mx-2 ">
                            <div class="col-md-6 d-block hosting-request-specifications">
                                <h6 class="blued d-block">{% trans %} Arrival : {% endtrans %}<span>{{ hosting.startDate|date('d/m/Y') }}</span></h6>
                                <h6 class="blued d-block">{% trans %} Departure : {% endtrans %}<span>{{ hosting.endDate|date('d/m/Y') }}</span></h6>
                                <h6 class="blued d-block">{% trans %}Number of persons :  {% endtrans %}<span>{{ hosting.numberOfPersons }}</span></h6>
                            </div>
                            <div class="col-md-6">
                                <img src="{{ hosting.hosting.hosting.photoHosting() }}" alt="hosting photo" class="image_hosting_request">
                            </div>
                        </div>
                    {% elseif hosting.treatment is same as('rejected') %}
                        <div class="row mx-2 ">
                            <div class="col-md-6 d-block hosting-request-specifications">
                                <h6 class="blued d-block">{% trans %} Arrival :{% endtrans %} <span>{{ hosting.startDate|date('d/m/Y') }}</span></h6>
                                <h6 class="blued d-block">{% trans %} Departure : {% endtrans %}<span>{{ hosting.endDate|date('d/m/Y') }}</span></h6>
                                <h6 class="blued d-block">{% trans %} Number of persons :{% endtrans %} <span>{{ hosting.numberOfPersons }}</span></h6>
                            </div>
                            <div class="col-md-6">
                                <img src="{{ hosting.hosting.hosting.photoHosting() }}" alt="hosting photo" class="image_hosting_request">
                            </div>
                        </div>
                        <hr class="my-1">
                        <div class="row">
                            <div class="col mx-3">
                                <form  method="post" action="{{ path('hosting_hosting_request_delete', {'id': hosting.id}) }}" onsubmit="return confirm(Translator.trans('Are you sure you want to delete this request?'));">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hosting.id) }}">
                                    <button class="btn btn-outline-danger btn-block  mb-1 ">{% trans %} Delete{% endtrans %}</button>
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <hr class="my-1">
                        {% if hosting.senderStatus and hosting.hostingStatus %}
                            <div class="row ">
                                <div class="col my-2">
                                    <h5 class="ml-4 text-center">
                                        {% trans %} You were hosted in the house of  {% endtrans %}<span class="rosed">{{hosting.hosting.firstname|title}}</span>
                                        {% if hosting.numberOfPersons > 1 %}
                                            {% trans %} with other people{% endtrans %}
                                        {% endif %}
                                        {% trans %} from{% endtrans %} <span class="blued">{{hosting.startDate|date('d M Y')}}</span>{% trans %}  to {% endtrans %}<span class="blued">{{hosting.endDate|date('d M Y')}}</span>
                                    </h5>
                                </div>
                            </div>
                            <hr class="my-1">
                            <div class="row">
                                <div class="col ml-2">
                                    {% if votesHosting[hosting.hosting.id] is defined %}
                                        <p class="blued">{% trans %}  Your rating for this hosting :{% endtrans %}
                                            {% set reste = 5 - votesHosting[hosting.hosting.id]%}
                                            {% if  votesHosting[hosting.hosting.id] is not same as(null)%}
                                                {% for  i in votesHosting[hosting.hosting.id] ..1%}
                                                    <i class="fas fa-star"></i>
                                                {% endfor %}
                                                {% if reste>0 %}
                                                    {% for  i in reste..1%}
                                                        <i class="far fa-star"></i>
                                                    {% endfor %}
                                                {% endif %}
                                            {% else %}
                                                {% for  i in 5..1%}
                                                    <i class="far fa-star"></i>
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    {% else %}
                                        <button  data-toggle="modal" class="btn btn-outline-info btn-block "
                                             data-target="#hosting_vote-{{ hosting.hosting.id }}">
                                            {% trans %} Rate this hosting{% endtrans %}
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            {% if hosting.SenderStatus %}
                                <div class="row">
                                    <div class="col">
                                        <h6 class="ml-4 text-center">
                                            {% trans %} You were hosted in the house of  {% endtrans %}<span class="rosed">{{hosting.hosting.firstname|title}}</span>
                                            {% if hosting.numberOfPersons > 1 %}
                                                {% trans %} with other people{% endtrans %}
                                            {% endif %}
                                            {% trans %} from{% endtrans %} <span class="blued">{{hosting.startDate|date('d M Y')}}</span>{% trans %} to{% endtrans %}  <span class="blued">{{hosting.endDate|date('d M Y')}}</span>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <span class="">{% trans %} Waiting for DONE HOSTING by {% endtrans %}<span class="rosed">{{hosting.hosting.firstname|title}}</span>{% trans %} to end this hosting {% endtrans %}</span>
                                    </div>
                                </div>
                                <hr class="my-1">
                                <div class="row">
                                    <div class="col-md-4 offset-4">
                                        <form method="post" action="{{ url('new_conversation') }}" id="offerUser-message">
                                            <button class="btn btn-info  btn-block" >
                                                <input type="hidden" name="user" value="{{ hosting.hosting.id }}">
                                                <p class="mt-1">{% trans %} Message to {% endtrans %}{{hosting.hosting.firstname}}</p>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <span class="ml-4">
                                        {% trans %} Your hosting has been approved by {% endtrans %}<span class="rosed">{{hosting.hosting.firstname|title}}</span>{% trans %} in his home {% endtrans %}
                                        {% if hosting.numberOfPersons > 1 %}
                                            {% trans %} with other people{% endtrans %}
                                        {% endif %}
                                        {% trans %} from{% endtrans %} <span class="blued">{{hosting.startDate|date('d M Y')}}</span> {% trans %} to{% endtrans %} <span class="blued">{{hosting.endDate|date('d M Y')}}</span>.
                                        <br>
                                        {% trans %} Upon completion of the hosting, you can DONE this hosting to be able to adding an rating to {% endtrans %} <span class="rosed">{{hosting.sender.firstname|title}}</span>
                                        {% trans %} and get allocated points.{% endtrans %}
                                    </span>
                                </div>
                                {% if hosting.hostingStatus %}
                                    <div class="row ">
                                        <i class="fas fa-star-of-life ml-4 pt-1 rosed"></i>
                                        <span class="blued ml-1">{{ hosting.hosting.firstname|title }}{% trans %} has been DONE this hosting{% endtrans %} </span>
                                    </div>
                                {% endif %}
                                <hr class="my-1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form method="post" action="{{ url('new_conversation') }}" id="offerUser-message">
                                            <button class="btn btn-info  btn-block" >
                                                <input type="hidden" name="user" value="{{ hosting.hosting.id }}">
                                                <p class="mt-1">{% trans %} Message to{% endtrans %} {{hosting.hosting.firstname}}</p>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <form>
                                            <a class="btn btn-success  btn-block"
                                               href="{{ path('done_hosting', {'hosting':hosting.id}) }}"
                                               onclick="return confirm(Translator.trans('Are you sure you want to DONE this hosting ?'));">{% trans %}DONE HOSTING {% endtrans %}</a>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    {% else %}
        <h6 class="blued text-center">{% trans %} There is no hosting requests{% endtrans %}</h6>
    {% endif %}


    {% if listHosting is not empty %}
        {% for hostingId in listHosting %}
            {% if votesHosting[hostingId] is not defined %}
                <div class="modal fade bd-example-modal-lg mt-4" id="hosting_vote-{{ hostingId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 9999;">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>
                            <div class="modal-body">
                                {{ render(controller('App\\Controller\\RatingController::createVote',{ 'candidate': hostingId, 'type':'hosting' })) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal">{% trans %} Close{% endtrans %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}