<div class="row">
    <div class="col-md-8 offset-2">
        <h4 class="title-blue text-center">Hosting Request</h4>
        <div class="driver">
            <div class="row border-deal">
                <div class="col-md-2 deal-show my-4">
                    <img src="{{ hosting.user.photoProfile() }}" alt="">
                </div>
                <div class="col my-4 justify-content-center ml-3">
                    <div class="row">
                        <div class="col mb-2">
                            <div class="row">
                                <span class="ml-2 "><span class="blued">Hosting : </span> {{ hosting.user.firstname|title }}{{ ' ' }}{{ hosting.user.lastname }}</span>
                            </div>
                            <div class="row">
                                <span class="ml-2"><span class="blued">Number of persons : </span>{{ hosting.numberOfPersons }}</span>
                            </div>
                            <div class="row">
                                <span class="ml-2"><span class="blued">Number of days : </span>{{ hosting.numberOfDays }}</span>
                            </div>
                            <div class="row">
                                <span class="ml-2"><span class="blued">City : </span>{{ hosting.ville.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-deal">
                {{ include('hosting/hosting_request/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>