{% extends 'layout_user.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if app.user is not same as(null) %}
                {% if app.user.hosting %}
                    <div class="row">
                        <div class="btn-group btn-block" id="meetup-button">
                            <a class="btn btn-info" href="{{path('hosting_request_index')}}" >{% trans %}My hosting request{% endtrans %}</a>
                            <a class="btn btn-gray" href="{{path('hosting_request_received')}}">{% trans %}Hosting{% endtrans %}</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="title-blue text-center mt-2">{% trans %}Hosting{% endtrans %}</h1>
        </div>
    </div>

    {% if hosting_received is not empty %}
        <div class="col-12 col-lg-10 offset-lg-1 col-xl-6 offset-xl-3 my-3">
            {% for hosting in hosting_received %}
                <div class="full-border my-3">
                    <div class="py-1 px-2 border-bottom {% if hosting.treatment is same as('pending') %}pending{% else %}accepted{% endif %}">
                        <a class="d-block" href="{{ path('user_show', {'id': hosting.sender.id}) }}">
                            <img src="{{ hosting.sender.photoProfile() }}" alt="profile photo" class="vote-avatar">
                        </a>
                        <div class="mt-2">
                            <span class="blue ml-2">{{ hosting.sender.firstname }}</span>
                            <span class="float-right">{{ hosting.date|date('d M Y') }}</span>

                        </div>
                    </div>
                    {% if hosting.treatment is same as('pending') %}
                    <div class="row">
                        <div class="col text-center my-2">
                            <h6 class="blued ">{% trans %} Hosting request from{% endtrans %}
                                <span class="rosed">{{ hosting.startDate|date('d/m/Y') }}</span>
                                {% trans %} to{% endtrans %} <span class="rosed">{{ hosting.endDate|date('d/m/Y') }}</span>
                                {% trans %} for{% endtrans %} <span class="rosed">{{ hosting.numberOfPersons }}</span> {% trans %} persons{% endtrans %}
                            </h6>
                        </div>
                    </div>
                    {% if hosting.description %}
                        <div class="row mx-2 ">
                            <div class="col-md-12">
                                <span class="blued">{% trans %} Description : {% endtrans %}</span>
                                <p class="minimize">{{ hosting.description }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="row mx-2 ">
                            <div class="col-md-12 text-center">
                                <span class="">{% trans %} There is no description !{% endtrans %} </span>
                            </div>
                        </div>
                    {% endif %}
                    <hr class="my-1">
                    <div class="row mx-1 my-2">
                        <div class="col-sm-4 mt-1">
                            <form method="post" action="{{ url('new_conversation') }}" class="js-user-message">
                                <button class="btn btn-outline-info  btn-block" >
                                    <input type="hidden" name="user" value="{{ hosting.sender.id }}">
                                    <p><i class="fas fa-comments"></i> {{hosting.sender.firstname}}</p>
                                </button>
                            </form>
                        </div>
                        <div class="col-sm-4 mt-1">
                            <form>
                                <a class="btn btn-outline-success  btn-block"
                                   href="{{ path('hosting_request_treatment', {'hostingRequest':hosting.id, 'type': 'accepted'}) }}"
                                   onclick="return confirm(Translator.trans('Are you sure you want to accept this hosting request?'));"><i class="fas fa-check-circle"></i> {% trans %}Accept{% endtrans %}</a>
                            </form>
                        </div>
                        <div class="col-sm-4 mt-1">
                            <form>
                                <a class="btn btn-outline-danger  btn-block"
                                   href="{{ path('hosting_request_treatment', {'hostingRequest':hosting.id, 'type': 'rejected'}) }}"
                                   onclick="return confirm(Translator.trans('Are you sure you want to reject this hosting request?'));"><i class="fas fa-window-close"></i> {% trans %} Reject{% endtrans %}</a>
                            </form>
                        </div>
                    </div>
                    {% else %}
                        {% if hosting.senderStatus and hosting.hostingStatus %}
                            <div class="row ">
                                <div class="col my-2">
                                   <h5 class="mx-2 text-center">
                                       {% trans %} You have hosting {% endtrans %} <span class="rosed">{{hosting.sender.firstname}}</span> {% trans %} in your home{% endtrans %}
                                    {% if hosting.numberOfPersons > 1 %}
                                        {% trans %}with other people {% endtrans %}
                                    {% endif %}
                                       {% trans %} from{% endtrans %} <span class="blued">{{hosting.startDate|date('d M Y')}}</span> {% trans %} to{% endtrans %} <span class="blued">{{hosting.endDate|date('d M Y')}}</span>
                                    </h5>
                                </div>
                            </div>
                            <hr class="my-1">
                            <div class="row">
                                <div class="col mx-3">
                                    <i class="far fa-star rosed pt-1"></i>
                                    <span>{% trans %} 10 points were added to your account based on this hosting{% endtrans %}</span>
                                </div>
                            </div>
                        {% else %}
                            {% if hosting.hostingStatus %}
                                <div class="row">
                                    <div class="col">
                                       <h5 class="mx-3 text-center">
                                           {% trans %} You have hosting {% endtrans %} <span class="rosed">{{hosting.sender.firstname}}</span> {% trans %} in your home {% endtrans %}
                                        {% if hosting.numberOfPersons > 1 %}
                                            {% trans %}with other people {% endtrans %}
                                        {% endif %}
                                           {% trans %} from{% endtrans %}  <span class="blued">{{hosting.startDate|date('d M Y')}} </span>{% trans %} to{% endtrans %}  <span class="blued">{{hosting.endDate|date('d M Y')}}</span>
                                       </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center mx-2">
                                        <span class="">{% trans %} Waiting for DONE HOSTING by {% endtrans %} <span class="rosed">{{hosting.sender.firstname}}</span> {% trans %}to end this hosting {% endtrans %}</span>
                                    </div>
                                </div>
                                <hr class="my-1">
                                <div class="row mx-2 my-2">
                                    <div class="col-12 col-sm-8 offset-sm-2 col-md-4 offset-md-4">
                                        <form method="post" action="{{ url('new_conversation') }}" class="js-user-message">
                                            <button class="btn btn-info  btn-block" >
                                                <input type="hidden" name="user" value="{{ hosting.sender.id }}">
                                                <p class="mt-1"><i class="fas fa-comments"></i> {{hosting.sender.firstname}}</p>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col mx-4 my-2">
                                       <span >
                                        {% trans %} You have accepted to host {% endtrans %} <span class="rosed">{{hosting.sender.firstname}}</span> {% trans %} in your home{% endtrans %}
                                           {% if hosting.numberOfPersons > 1 %}
                                               {% trans %} with other people{% endtrans %}
                                           {% endif %}
                                           {% trans %} from{% endtrans %} <span class="blued">{{hosting.startDate|date('d M Y')}}</span> {% trans %} to{% endtrans %}  <span class="blued">{{hosting.endDate|date('d M Y')}}</span>.
                                        <br>
                                        {% trans %} Upon completion of the hosting, you can DONE this hosting to dispose of {% endtrans %} <span class="rosed">{{hosting.sender.firstname}}</span>
                                        {% trans %} adding an rating to your account.{% endtrans %}
                                    </span>
                                    </div>
                                </div>
                                {% if hosting.senderStatus %}
                                    <div class="row ">
                                        <i class="fas fa-star-of-life ml-4 pt-1 rosed"></i>
                                        <span class="blued mx-2">{{ hosting.sender.firstname }} {% trans %} has been DONE this hosting{% endtrans %} </span>
                                    </div>
                                {% endif %}
                                <hr class="my-1">
                                <div class="row mx-2 my-2">
                                    <div class="col-sm-6 mt-1">
                                        <form method="post" action="{{ url('new_conversation') }}" class="js-user-message">
                                            <button class="btn btn-info  btn-block" >
                                                <input type="hidden" name="user" value="{{ hosting.sender.id }}">
                                                <p class="mt-1"><i class="fas fa-comments"></i> {{hosting.sender.firstname}}</p>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-sm-6 mt-1">
                                        <form>
                                            <a class="btn btn-success  btn-block"
                                               href="{{ path('done_hosting', {'hosting':hosting.id}) }}"
                                               onclick="return confirm(Translator.trans('Are you sure you want to DONE this hosting ?'));">{% trans %} DONE HOSTING{% endtrans %}</a>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <div class="pagination-search row justify-content-center mt-4">
                <div class="navigation">
                    {{ knp_pagination_render(hosting_received) }}
                </div>
            </div>
        </div>
    {% else %}
        <div>
            <h6 class="blued text-center">{% trans %}There is no hosting requests {% endtrans %}</h6>
        </div>
    {% endif %}
{% endblock %}