{% extends 'base.html.twig' %}

{% block title %}Cities{% endblock %}

{% block body %}
    <h1>Cities</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>InseeCode</th>
                <td>{{ city.inseeCode }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ city.zipCode }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ city.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ city.slug }}</td>
            </tr>
            <tr>
                <th>GpsLat</th>
                <td>{{ city.gpsLat }}</td>
            </tr>
            <tr>
                <th>GpsLng</th>
                <td>{{ city.gpsLng }}</td>
            </tr>
            <tr>
                <th>DepartmentCode</th>
                <td>{{ city.departmentCode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cities_index') }}">back to list</a>

    <a href="{{ path('cities_edit', {'id': city.id}) }}">edit</a>

    {{ include('cities/_delete_form.html.twig') }}
{% endblock %}
