{% extends 'base.html.twig' %}

{% block title %}DoneDeal index{% endblock %}

{% block body %}
    <h1>DoneDeal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for done_deal in done_deals %}
            <tr>
                <td>{{ done_deal.id }}</td>
                <td>{{ done_deal.date ? done_deal.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('deal_done_deal_show', {'id': done_deal.id}) }}">show</a>
                    <a href="{{ path('deal_done_deal_edit', {'id': done_deal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('deal_done_deal_new') }}">Create new</a>
{% endblock %}
