{% block content %}
    <div class="row">
        {% for a_ad in ad_area %}
            {% set type = a_ad.typeOfAd %}
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-4">
                <div id="ad_index" class="ad_index shadow-border {% if type is same as('Offer') %}ad_offer{% else %}ad_demand{% endif %}">
                    <a href="{{ path('ad_show', {'id': a_ad.id}) }}"class="">
                    <div class="row">
                        <div class="col-md-12">
                            {% if type is same as ('Offer') %}
                                {% if a_ad.imageOne is not null %}
                                    <img class="image_ad" src="{{ asset('assets/images/annonce/'~ a_ad.imageOne) }}" alt="">
                                {% else %}
                                    {% if a_ad.imageTow is not null %}
                                        <img class="image_ad" src="{{ asset('assets/images/annonce/'~ a_ad.imageTow) }}" alt="">
                                    {% else %}
                                        {% if a_ad.imageThree is not null %}
                                            <img class="image_ad" src="{{ asset('assets/images/annonce/'~ a_ad.imageThree) }}" alt="">
                                        {% else %}
                                            <img class="image_ad " src="/assets/images/icons/offer.png" alt="">
                                        {%endif%}
                                    {%endif%}
                                {%endif%}
                            {% else %}
                                <img class="image_ad" src="{{ asset('assets/images/icons/demand.png') }}" alt="">
                            {% endif %}
                        </div>
                    </div>
                    </a>
                    <div class="row no-gutters">
                        <div class="col-10">
                            <div class="ml-2 py-1">
                                {% if a_ad.donate %}
                                    <h5 class="blued mb-0 font-weight-bold d-inline">{% trans %}Donate{% endtrans %}</h5>
                                {% else %}
                                    {% if a_ad.price %}
                                        <h5 class="blued mb-0 font-weight-bold d-inline">{{ a_ad.price }}€</h5>
                                    {% else %}
                                        <br>
                                    {% endif %}
                                    {% if a_ad.pPrice is not same as (null) %}
                                        <h5 class="rosed mb-0 font-weight-bold d-inline ml-2"><del>{{ a_ad.pPrice }}€</del></h5>
                                    {% endif %}
                                {% endif %}
                                {% if a_ad.city %}
                                    <p class="mt-0 blacked">{{ a_ad.city.name }}{{ ' (' }}{{ a_ad.city.zipCode }}{{ ')' }}</p>
                                {% else %}
                                    <p class="mt-0 blacked">{{ a_ad.ville.name }}{{ ' (' }}{{ a_ad.ville.zipCode }}{{ ')' }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-2">
                            {% if app.user %}
                                {% set isFavorite = 'false' %}
                                {#data-favorite must be string not boolean#}
                                {% for favorite in app.user.getFavoritesByType('ad')  %}
                                    {% if favorite.ad is same as (a_ad) %}
                                        {% set isFavorite = 'true' %}
                                    {% endif %}
                                {% endfor %}
                                <form method="post" action="" class="js-favorite-add ad-favorite mr-2 mt-3" data-object="{{ a_ad.id }}" data-type="ad" data-favorite="{{ isFavorite }}">
                                    <div class="flexbox">
                                        <div class="fav-btn">
                                            <span class="fas fa-heart  favme dashicons dashicons-heart  {% if isFavorite is same as ('true') %} {{'active'}} {% endif %}"></span>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination-search row justify-content-center mt-4">
        <div class="navigation">
            {{ knp_pagination_render(ad_area) }}
        </div>
    </div>
{% endblock %}

