{% extends "layout_user.html.twig" %}
{% block title %}{% trans %} My Voyage{% endtrans %}{% endblock %}

{% block content %}
        <h5 class="text-center blued">{% trans %} My voyage{% endtrans %}</h5>
        <div class="voyag-index">
            {% if app.user.carpool %}
             <div class="row">
                 <div class="col-12 mb-4 text-center">
                     <a class="btn btn-info float-sm-right" href="{{ path('voyage_new',{'type':'first'}) }}">{% trans %} New voyage{% endtrans %}</a>
                 </div>
             </div>
            {% endif %}
            {% if voyages is not empty %}
            <div class="row">
            {% for voyage in voyages %}
                    {% if voyage.isPassenger(app.user) or voyage.creator.user is same as (app.user) %}
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-4">
                            <div id="voyage_index" class="shadow-border full-border">
                                <div class="meetup_index">
                                    <a href="{{ path('voyage_show', {'id': voyage.id}) }}">
                                        <div class="text-center border-bottom back-gray">
                                            <div class="row">
                                                <div class="col-12 one-voyage">
                                                    <div class="one-voyage">
                                                        <div class="pt-5">
                                                            <h4 class="meetup-text blued d-inline">{{ voyage.stationDeparture.name }}</h4>
                                                            <i class="fas fa-arrow-right rosed d-inline mx-4"></i>
                                                            <h4 class="meetup-text blued d-inline">{{ voyage.stationArrival.name }}</h4>
                                                        </div>
                                                        <div class="">
                                                            <span class="white mt-3"><span class="blued">{% trans %} Date : {% endtrans %}</span> {{ voyage.timeDeparture|date('d M Y') }}</span>
                                                        </div>
                                                        <div class="">
                                                            <span class="white mt-3"><span class="blued">{% trans %} Time : {% endtrans %}</span> {{ voyage.timeDeparture|date('H:i') }}</span>
                                                        </div>
                                                        <div>
                                                            <span class="blued mt-2">{% if voyage.highway %}<i class="fas fa-road"></i>{% endif %}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <h4 class="float-right pr-2 pb-1 rosed font-weight-bold">
                                                        {% if voyage.stationPrice %}
                                                            {{voyage.stationPrice}} {{ '€' }}
                                                        {% else %}
                                                            {{voyage.mainPrice}} {{ '€' }}
                                                        {% endif %}
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="row py-2">
                                    <div class="col-10 rating-voyage">
                                        {% if voyage.isFinish() %}
                                            <span class="badge badge-danger mt-1 py-2 ml-2"><h7>{% trans %} Finish{% endtrans %}</h7></span>
                                            {% if app.user is not same as(voyage.creator.user) %}
                                                {% if votesVoyage[voyage.creator.user.id] is defined  %}
                                                    <span class="blued text-center py-1">
                                                        {% set reste = 5 - votesVoyage[voyage.creator.user.id]%}
                                                        {% if  votesVoyage[voyage.creator.user.id] is not same as(null)%}
                                                            {% for  i in votesVoyage[voyage.creator.user.id] ..1%}
                                                                <i class="fas fa-star"></i>
                                                            {% endfor %}
                                                            {% if reste>0 %}
                                                                {% for  i in reste..1%}
                                                                    <i class="far fa-star"></i>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% else %}
                                                            {% for  i in 5..1%}
                                                                <i class="far fa-star"></i>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </span>
                                                {% else %}
                                                    <a  data-toggle="modal" class="mt-0"
                                                             data-target="#voyage_vote-{{ voyage.creator.user.id }}">
                                                        <span class=""> <i class="far fa-star"></i> {% trans %} Rate this voyage{% endtrans %}</span>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {% if voyage.getAvailableSeats(voyage) > 0 %}
                                                <span class="badge badge-info py-2 ml-2">
                                                    <h7>
                                                        {{voyage.getAvailableSeats(voyage) }}
                                                        {% if voyage.getAvailableSeats(voyage)>1 %}{% trans %} Seats{% endtrans %} {% else %} {% trans %} Seat{% endtrans %}{% endif %}
                                                        {% trans %} available{% endtrans %}
                                                    </h7>
                                                </span>
                                            {% else %}
                                                <span class="badge badge-danger float-right"><h7>{% trans %} Closed Voyage{% endtrans %}</h7></span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-2">
                                        {% if app.user %}
                                            {% set isFavorite = 'false' %}
                                            {#data-favorite must be string not boolean#}
                                            {% for favorite in app.user.getFavoritesByType('voyage')  %}
                                                {% if favorite.voyage is same as (voyage) %}
                                                    {% set isFavorite = 'true' %}
                                                {% endif %}
                                            {% endfor %}
                                            <form method="post" action="{{ url('favorite_add') }}" class="js-favorite-add float-right mr-2" data-object="{{ voyage.id }}" data-type="voyage" data-favorite="{{ isFavorite }}">
                                                <div class="flexbox">
                                                    <div class="fav-btn">
                                                        <span class="fas fa-heart  favme dashicons dashicons-heart  {% if isFavorite is same as ('true') %} {{'active'}} {% endif %}"></span>
                                                    </div>
                                                </div>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="pagination-search row justify-content-center mt-4">
                    <div class="navigation">
                        {{ knp_pagination_render(voyages) }}
                    </div>
                </div>
            {% else %}
                <h4 class="text-center title-blue">{% trans %}You don't have voyages{% endtrans %}</h4>
            {% endif %}
        </div>

    {% if listCarpool is not empty %}
        {% for carpoolId in listCarpool %}
            {% if votesVoyage[carpoolId] is not defined %}
                <div class="modal fade bd-example-modal-lg mt-4" id="voyage_vote-{{ carpoolId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 9999;">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>
                            <div class="modal-body">
                                {{ render(controller('App\\Controller\\RatingController::createVote',{ 'candidate': carpoolId, 'type':'carpool' })) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal">{% trans %} Close{% endtrans %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
