{% if app.user is same as(null) %}
    {% set layout = "layout_visitor.html.twig" %}
{% else %}
    {% set layout = "layout_user.html.twig" %}
{% endif %}
 {% extends layout %}

{% block title %}{% trans %} Voyage{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 local-border">
            <div class=" mx-2 my-2">
                <div class="row">
                    <div class="col-12 back-gray py-1">
                        <div class="">
                            <div class="btn-group">
                                <a href="{{ path('carpool_show',{'id':voyage.creator.id}) }}">
                                    <img src="{{ voyage.creator.user.photoProfile() }}" alt="" class="cafe-avatar mr-2">
                                </a>
                                <div class="">
                                    <span class="d-block blued small">{{ voyage.creator.user.firstname }}</span>
                                    <span class="d-block blued small">{{ voyage.creator.point }}{{ ' Points' }}</span>
                                    <span class="d-block blued small">{{ rating }} <i class="far fa-star rosed"></i> </span>
                                </div>
                            </div>
                            <div class="d-inline float-right">
                                {% if app.user %}
                                    {% set isFavorite = 'false' %}
                                    {#data-favorite must be string not boolean#}
                                    {% for favorite in app.user.getFavoritesByType('voyage')  %}
                                        {% if favorite.voyage is same as (voyage) %}
                                            {% set isFavorite = 'true' %}
                                        {% endif %}
                                    {% endfor %}
                                    <form method="post" action="{{ url('favorite_add') }}" class="js-favorite-add ml-2 mt-3" data-object="{{ voyage.id }}" data-type="voyage" data-favorite="{{ isFavorite }}">
                                        <div class="flexbox">
                                            <div class="fav-btn">
                                                <span class="fas fa-heart  favme dashicons dashicons-heart  {% if isFavorite is same as ('true') %} {{'active'}} {% endif %}"></span>
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                            <span class="blued float-right mt-3">{{ voyage.timeDeparture|date('d M') }}</span>
                        </div>
                    </div>
                </div>
                <div class="row mb-2 ">
                    <div class="col-lg-6 mt-2 ">
                        <div class="row mb-2 border mr-lg-1">
                            <div class="col-12 py-2 px-2">
                                <section class="input-group">
                                    <div class="btn-group">
                                        <h4 class=" text-center">
                                            <span class="blued px-2">{{voyage.stationDeparture.name}}</span>
                                            {% if voyage.parent %}
                                                <small class="px-2 d-block ">{{voyage.placeStationDeparture}}</small>
                                            {% else %}
                                                <small class="px-2 d-block ">{{voyage.placeMainDeparture}}</small>
                                            {% endif %}
                                        </h4>
                                    </div>
                                    <div class="btn-group mx-4">
                                        <h3> <i class="fas fa-arrow-right rosed"></i></h3>
                                    </div>
                                    <div class="btn-group">
                                        <h4 class="text-center">
                                            <span class="blued px-2">{{voyage.stationArrival.name}}</span>
                                            {% if voyage.parent %}
                                                <small class="px-2 d-block">{{voyage.placeStationArrival}}</small>
                                            {% else %}
                                                <small class="px-2 d-block">{{voyage.placeMainArrival}}</small>
                                            {% endif %}
                                        </h4>
                                    </div>
                                </section>
                            </div>
                            <div class="col-12">
                                <div class="text-center my-4">
                                    {% if voyage.parent %}
                                        <h6 class="inf-badge badge-info  mx-sm-2 py-2 px-2 white d-inline"><i class="fas fa-random"></i> {{ voyage.stationDistance }}{{ ' Km' }}</h6>
                                        <h6 class="inf-badge badge-info  mx-sm-2 py-2 px-2 white d-inline"><i class="far fa-clock"></i> {{ voyage.durationToTime(voyage.stationDuration)}}</h6>
                                        <h6 class="inf-badge badge-warning mx-sm-2 py-2 px-2 white d-inline"> {{ voyage.stationPrice }} <i class="fas fa-euro-sign"></i></h6>
                                    {% else %}
                                        <h6 class="inf-badge badge-info mx-sm-2 py-2 px-2 white d-inline"><i class="fas fa-random"></i> {{ voyage.distance }}{{ ' Km' }}</h6>
                                        <h6 class="inf-badge badge-info mx-sm-2 py-2 px-2 white d-inline"><i class="far fa-clock"></i>  {{ voyage.durationToTime(voyage.duration)}}</h6>
                                        <h6 class="inf-badge badge-warning mx-sm-2 py-2 px-2 white d-inline"> {{ voyage.mainPrice }}  <i class="fas fa-euro-sign"></i></h6>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="my-2">
                                    {% if voyage.parent %}
                                        {% set description = voyage.parent.description %}
                                    {% else %}
                                        {% set description = voyage.description %}
                                    {% endif %}

                                    {% if description %}
                                        <span class="d-block blued">{% trans %} Description{% endtrans %}</span>
                                        <p class="minimize">{{ description }}</p>
                                    {% endif %}
                                    {% if voyage.highway %}
                                        <div class="btn-group">
                                            <span class="rosed "><i class="fas fa-road"></i></span>
                                            <span class="blued mt-1 ml-2"> {% trans %} This voyage uses the highway {% endtrans %}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if voyage.creator.isPossible %}
                            <div class="row mb-2 mr-lg-1">
                                <div class="col-12 border py-2 px-2">
                                    <div class="">
                                        <span class="d-block blued mb-2">{% trans %} Possibility to{% endtrans %}</span>
                                        {% if voyage.creator.bag %}
                                            <span class="badge badge-info py-2 px-2 mr-1"><h1><i class="fas fa-suitcase-rolling"></i></h1></span>
                                        {% endif %}
                                        {% if voyage.creator.animal %}
                                            <span class="badge badge-info py-2 px-2 mr-1"><h1><i class="fas fa-cat"></i></h1></span>
                                        {% endif %}
                                        {% if voyage.creator.baby %}
                                            <span class="badge badge-info py-2 px-2 mr-1"><h1><i class="fas fa-baby"></i></h1></span>
                                        {% endif %}
                                        {% if voyage.creator.bankCard %}
                                            <span class="badge badge-info py-2 px-2 mr-1"><h1><i class="fas fa-money-check-alt"></i></h1></span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if voyage.creator.isShare %}
                            <div class="row mr-lg-1">
                                <div class="col-12 border py-2 px-2">
                                    <span class="d-block blued ">{% trans %} We can share{% endtrans %}</span>
                                    {% if voyage.creator.conversation %}
                                        <span class="badge badge-warning py-2 px-2 mr-1"><h1><i class="far fa-comments"></i></h1></span>
                                    {% endif %}
                                    {% if voyage.creator.music %}
                                        <span class="badge badge-warning py-2 px-2 mr-1"><h1><i class="fas fa-music"></i></h1></span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-6 mt-2">
                        <div class="row mb-2">
                            <div class="col-12 border py-2 px-2 text-center ">
                                <div class="image_meetup_index">
                                    <img src="{{ voyage.creator.photoCarpool() }}" alt="">
                                </div>
                                <div class="mt-1 text-center">
                                    <h5 class="blued d-inline">{{ voyage.creator.carBrand }}</h5>
                                    <h5 class="blued d-inline">{{ voyage.creator.carColor }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 border py-4 px-2">
                                <div class="row">
                                    <div class="col-12  text-center my-2">
                                        {% if not voyage.isFinish() %}
                                            {% if app.user is not same as(voyage.creator.user) %}
                                                {% if voyage.availableSeats is same as(0) %}
                                                    <h7 class="inf-badge badge-danger py-2 px-2">{% trans %} No seats available{% endtrans %}</h7>
                                                {% else %}
                                                    <h7 class="inf-badge badge-success py-2 px-2">{{ voyage.availableSeats }}{% if voyage.availableSeats >1 %} {% trans %} Available seats {% endtrans %}{% else %} {% trans %} Available seat {% endtrans %}{% endif %}</h7>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% for item in voyage.getVoyageMap %}
                                    <div class="row">
                                        <div class="col-3 mx-0 voyage-map-time">
                                    <span class="float-right mt-1 city-time blued">
                                        {% if item['time']|date('d') is same as (voyage.parentVoyage.date|date('d')) %}
                                            {{ item['time']|date('H:i') }}<p class="white very-small text-center">.</p>
                                        {% elseif voyage.parentVoyage.date|date('d')+1 is same as (item['time']|date('d'))%}
                                            {{ item['time']|date('H:i') }} <p class="rosed very-small text-center">{% trans %} Next day{% endtrans %}</p>
                                        {% else %}
                                            {{ item['time']|date('H:i') }} <p class="rosed very-small text-center">{{ item['time']|date('d M') }}</p>
                                        {% endif %}
                                    </span>
                                        </div>
                                        <div class="col-2  text-center">
                                            {% if item['departure'] %}
                                                <span class="point-departre pl-0"><i class="fas fa-car rosed"></i></span>
                                            {% else %}
                                                {% if item['station'] or item['arrival'] %}
                                                    <span class="point-departre d-block mb-0"><i class="far fa-dot-circle rosed"></i></span>
                                                {% else %}
                                                    <span class="point-departre d-block mb-0"><i class="far fa-dot-circle"></i></span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="col">
                                            <span class="blued city-time d-block">{{item['city']}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2 offset-3 text-center">
                                            {% if not item['last'] %}
                                                {% if item['station'] or item['departure']  %}
                                                    <span class="point-departre d-block mt-0"><i class="fas fa-grip-lines-vertical rosed"></i></span>
                                                    <span class="point-departre d-block mt-0"><i class="fas fa-grip-lines-vertical rosed"></i></span>
                                                {% else %}
                                                    {% if not item['station']  and not item['departure']%}
                                                        <span class="point-departre d-block mt-0"><i class="fas fa-grip-lines-vertical blued"></i></span>
                                                        <span class="point-departre d-block mt-0"><i class="fas fa-grip-lines-vertical blued"></i></span>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="col">
                                            <div class="passenger-carpool mt-2">
                                                {% for passenger in item['passenger'] %}
                                                    {% for i in 1..passenger['seats'] %}
                                                        {% if app.user is same as (voyage.creator.user) %}
                                                            <img src="{{ passenger['user'] }}" alt="" class="vote-avatar mx-1">
                                                        {% else %}
                                                            <span class="rosed"><i class="fas fa-male"></i></span>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                                {% if item['availableSeats'] >0 %}
                                                    {% for i in 1..item['availableSeats'] %}
                                                        {% if app.user is same as (voyage.creator.user) %}
                                                            <img src="{{ asset('/assets/images/logo/face.png') }}" alt="" class="vote-avatar mx-1">
                                                        {% else %}
                                                            <span class="blued"><i class="fas fa-male"></i></span>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if app.user  and app.user is not same as (voyage.creator.user) %}{#and not joined#}
    <div class="row mt-3 border-driver">
        {% include "carpool/voyage/user_join.html.twig" %}
    </div>
    {% elseif not app.user %}
            {#visitor#}
    <div class="row mt-3 border-driver">
        <div class="col text-center my-4 white">
            <a href="{{ path('security_login') }}" class="btn btn-info ">{% trans %} Log in to Join{% endtrans %}</a>
        </div>
    </div>
    {% endif %}

    {% if app.user is same as (voyage.creator.user) and  not voyage.parent %}
    <div class="row mt-3">
        <div class="col-12" id="voyage-control">
            <ul class="nav nav-tabs nav-justified pt-2" id="voyageControlTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="passengers-tab" data-toggle="tab" href="#passengers" role="tab" aria-controls="passengers" aria-selected="true">
                        <div class="">
                            {% trans %}Passengers{% endtrans %}
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="request-tab" data-toggle="tab" href="#joinRequest" role="tab" aria-controls="joinRequest" aria-selected="true">
                        <div class="">
                            {% trans %}Join request{% endtrans %}
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active text-align form-new" id="passengers" role="tabpanel" aria-labelledby="waiting-tab">
                    {% include "carpool/voyage/passengers.html.twig" %}
                </div>
                <div class="tab-pane fade show text-align form-new " id="joinRequest" role="tabpanel" aria-labelledby="doneDrivers-tab">
                    {% include "carpool/voyage/request.html.twig" %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if app.user is same as (voyage.creator.user) and voyage.parent is same as (null) %}
        <div class="row mt-3 mx-2 border-driver">
            <div class="col text-center">
                <form method="post" action="{{ path('voyage_delete', {'id': voyage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voyage.id) }}">
                    <button class="btn btn-danger float-sm-right my-3">{% trans %} Cancel this voyage{% endtrans %}</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
