{% extends "layout_user.html.twig" %}
{% block content %}
    <div class="fos_user_user_show px-4 py-4">
        <div class="row">
            <div class="col-md-2 offset-5 btn-group ">
                <div class=" profile-edit ml-2  ">
                    <a class="">
                        {% if driver.carImage %}
                            {% if driver.carImage is same as ('with out photo') %}
                                <img class="mb-3 {% if driver.active %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}"
                                     src="{{ asset('/assets/images/car_driver/car-avatar.jpg') }}" alt="car-avatar">
                            {% else %}
                                <img class="mb-3 {% if driver.active %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}"
                                     src="{{ asset('/assets/images/car_driver/'~driver.carImage) }}" alt="car image" >
                            {% endif %}
                        {% else %}
                            <img class="mb-3 {% if driver.active %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}"
                                 src="{{ asset('/assets/images/car_driver/car-avatar.jpg') }}" alt="User">
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
        <div class="justify-content-center">
            <h1 class="text-center pt-3">{{ driver.user.firstname|title }} {{ driver.user.lastname|upper }}</h1>
            <h1 class="pt-3 bdg-accord ">{{ driver.user.driver.point }} <span>Points</span></h1>
        </div>
        <div class="justify-content-center">
            <div class="text-center pt-2">
                <div class="col">
                    <h6 class="d-inline font-weight-bold">Car brand :  </h6><span>  {{ driver.carBrand }}</span>
                </div>
                <div class="col">
                    <h6 class="d-inline font-weight-bold">Car color :  </h6><span>  {{ driver.carColor }}</span>
                </div>
                <div class="col ">
                    <h6 class="d-inline font-weight-bold">City  :  </h6><span>  {{ driver.city}}</span>
                </div>
                <div class="col">
                    <h6 class="d-inline font-weight-bold"> Max distance:  </h6><span>  {{ driver.maxDistance }} <span class="font-weight-bold">Km</span></span>
                </div>
            </div>
        </div>
        <div class="justify-content-center">
            <div class="text-center pt-2 mt-4">
                <a class="btn btn-info">Message</a>
            </div>
        </div>
    </div>
{% endblock %}

