{% extends 'layout_user.html.twig' %}

{% block title %}ADMIN{% endblock %}

{% block content %}
    <div class="row">
        <div class="btn-group btn-block" id="meetup-button">
            <a class="btn btn-info" href="{{path('admin_index')}}" >Dashboard</a>
            <a class="btn btn-info" href="{{path('user_index')}}" >Users</a>
            <a class="btn btn-info" href="{{path('admin_category')}}">Category</a>
            <a class="btn btn-info" href="{{path('admin_ads')}}">Ads</a>
            <a class="btn btn-info" href="{{path('admin_deals')}}">Deals</a>
            <a class="btn btn-info" href="{{path('admin_cafe')}}">Cafe</a>
            <a class="btn btn-info" href="{{path('admin_hosting')}}">Hosting</a>
            <a class="btn btn-info" href="{{path('admin_meetup')}}">Meetup</a>
            <a class="btn btn-info" href="{{path('admin_voyage')}}">Voyages</a>
        </div>
    </div>
    <div class="mt-3">
        {% block admin %}

        {% endblock %}
    </div>

{% endblock %}