{% extends "layout_user.html.twig" %}

{% block title %}{% trans %} Cafe{% endtrans %}{% endblock %}

{% block content %}
<div class="fix-width">
    <h4 class="text-center rosed mb-4">{% trans %} Cafe{% endtrans %}</h4>
    {% if form is defined %}
     {% include 'cafe/_form.html.twig' %}
    {% endif %}
    {% if currentCafe is defined %}
        <h5 class="text-center blued" id="myCafe">{% trans %}Your cafe{% endtrans %}</h5>
        <div class="row " id="div-cafe-timer{{ currentCafe.id }}" data-value="myCafe">
            <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-10 offset-1  full-border pending ">
                <div class="row">
                    <div class="col border-bottom py-2">
                        <div class="btn-group">
                            <img src="{{ currentCafe.createdBy.photoProfile() }}" alt="" class="cafe-avatar mt-1 d-block">
                            <span class="blued  ml-2 mt-3">{{ currentCafe.createdBy.firstname|title }}</span>
                        </div>
                        <div class="float-right mt-3">
                            <form method="post" action="{{path('cafe_index')}}" id="cafe_deactivate">
                                <button class="btn btn-danger btn-block" id="btn-cafe_deactivate" >
                                    <input type="hidden" name="lat" id="cafe_deactivate_gps_lat">
                                    <input type="hidden" name="lng" id="cafe_deactivate_gps_lng">
                                    <input type="hidden" name="currentCafe" id="cafe_deactivate_gps_cafe" value="{{ currentCafe.id }}">
                                    <i class="fas fa-trash"></i>
                                    <span class="nav-label">{% trans %} Delete{% endtrans %}</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col btn-group d-block text-center">
                        {% if currentCafe.type is same as('Cafe') %}
                            <span id="cafe-icones" class="d-block"><i class="fas fa-coffee rosed"></i> {{ currentCafe.type }}</span>
                        {% elseif currentCafe.type is same as('Beer') %}
                            <span id="cafe-icones" class="d-block"><i class="fas fa-wine-glass-alt rosed"></i> {{ currentCafe.type }}</span>
                        {% else %}
                            <span id="cafe-icones" class="d-block"><i class="fas fa-walking rosed"></i> {{ currentCafe.type }}</span>
                        {% endif %}
                        <div class="cafe-timer d-block" id="cafe-timer{{ currentCafe.id }}">
                            <input type="hidden" name="expiresTime"  value="{{ currentCafe.expireAt|date }}">
                            <span class="rosed d-block">{% trans %} Expires in {% endtrans %}</span>
                            <span class="hours"></span>
                            <span class="minutes"></span>
                            <span class="seconds"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if areaCafes is defined %}
        {% if areaCafes is not empty %}
            <h5 class="text-center blued mt-4" id="anotherCafe">{% trans %} Another cafe{% endtrans %}</h5>
            {% for cafe in areaCafes %}
                <div class="row anotherCafe" id="div-cafe-timer{{ cafe.id }}" >
                    <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-10 offset-1 full-border lightblue">
                        <div class="row">
                            <div class="col border-bottom py-2">
                                <div class="btn-group">
                                    <img src="{{ cafe.createdBy.photoProfile() }}" alt="" class="cafe-avatar mt-1 d-block">
                                    <span class="blued  ml-2 mt-3">{{ cafe.createdBy.firstname|title }}</span>
                                </div>
                                <div class="float-right mt-3">
                                    <form method="post" action="{{ url('new_conversation') }}" class="cafe-message js-user-message">
                                        <button class="btn btn-info btn-block" >
                                            <input type="hidden" name="user" value="{{ cafe.createdBy.id }}">
                                            <p class="mt-1"><i class="fas fa-comments"></i> {% trans %} Message{% endtrans %}</p>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col btn-group d-block text-center">
                                {% if cafe.type is same as('Cafe') %}
                                    <span id="cafe-icones" class="d-block"><i class="fas fa-coffee rosed"></i> {{ cafe.type }}</span>
                                {% elseif cafe.type is same as('Beer') %}
                                    <span id="cafe-icones" class="d-block"><i class="fas fa-wine-glass-alt rosed"></i> {{ cafe.type }}</span>
                                {% else %}
                                    <span id="cafe-icones" class="d-block"><i class="fas fa-walking rosed"></i> {{ cafe.type }}</span>
                                {% endif %}
                                <div class="cafe-timer d-block" id="cafe-timer{{ cafe.id }}">
                                    <input type="hidden" name="expiresTime"  value="{{ cafe.expireAt|date }}">
                                    <span class="rosed d-block">{% trans %} Expires in {% endtrans %}</span>
                                    <span class="hours"></span>
                                    <span class="minutes"></span>
                                    <span class="seconds"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h4 class="text-center blued mt-4">{% trans %} There is no invitations in your area{% endtrans %}</h4>
        {% endif %}
    {% endif %}

    {% if form is not defined and areaCafes is not defined and currentCafe is not defined %}
        <h4 class="text-center blued mt-2">{{error}}</h4>
    {% endif %}
</div>
{% endblock %}
