<div class="col-sm-6 px-2 my-2">
    <div id="meetup_index" class="meetup_index">
        <a href="{{ path('ad_show', {'id': oneFavorite.ad.id}) }}"class="">
            <div class="full-border border-top">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="image_meetup_index">
                            <img class="" src="/assets/images/icons/{% if oneFavorite.ad.typeOfAd is same as('Offer')%}{{ 'offer.png' }}{% else %}{{ 'demand.png' }}{% endif %}" alt="ad image"/>
                        </div>
                    </div>
                    <div class="col-sm-4 pt-sm-5">
                        <div class="text-center">
                            <span class="meetup-text rosed font-weight-bold">{{ oneFavorite.ad.title }}</span>
                        </div>
                        <div class="ml-2 ml-sm-0">
                            <span class="blued">{{ oneFavorite.ad.category|trans }}</span>
                        </div>
                        <div class="ml-2 ml-sm-0">
                            <span class="blued">{% if oneFavorite.ad.city %}{{ oneFavorite.ad.city }}{% else %}{{ oneFavorite.ad.ville }}{% endif %}</span>
                        </div>
                        <div class="ml-2 ml-sm-0">
                            {% if oneFavorite.ad.price %}
                                <h4 class="rosed">{{ oneFavorite.ad.price }} €</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pt-2 border-top">
                            <div class="d-inline">
                                <span class="blued font-weight-bold pl-3">{{ oneFavorite.ad.typeOfAd|trans }}</span>
                            </div>
                            <div class="d-inline ">
                                {% set isFavorite = 'false' %}
                                {#data-favorite must be string not boolean#}
                                {% for favorite in app.user.getFavoritesByType('ad')  %}
                                    {% if favorite.ad is same as (oneFavorite.ad) %}
                                        {% set isFavorite = 'true' %}
                                    {% endif %}
                                {% endfor %}
                                <form method="post" action="{{ url('favorite_add') }}" class="js-favorite-add  float-right mr-2 mb-2" data-object="{{ oneFavorite.ad.id }}" data-type="ad" data-favorite="{{ isFavorite }}">
                                    <div class="flexbox">
                                        <div class="fav-btn">
                                            <span class="fas fa-heart  favme dashicons dashicons-heart  {% if isFavorite is same as ('true') %} {{'active'}} {% endif %}"></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
