<div class="col-sm-6 px-2 my-2">
    <div id="meetup_index" class="meetup_index">
        <a href="{{ path('deal_show', {'id': oneFavorite.deal.id}) }}"class="">
            <div class="full-border border-top">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="image_meetup_index">
                            <img class="" src="/assets/images/icons/deal.png" alt="deal image"/>
                        </div>
                    </div>
                    <div class="col-sm-4 pt-sm-5">
                        <div class="text-center">
                            <span class="meetup-text rosed font-weight-bold">{% trans %}Suggested Deals {% endtrans %}</span>
                        </div>
                        <div class="ml-2 ml-sm-0">
                            <span class="blued">{{ oneFavorite.deal.category|trans }}</span>
                        </div>
                        <div class="ml-2 ml-sm-0">
                            <span class="blued">{{ oneFavorite.deal.suggestionDate|date('d M Y') }}</span>
                        </div>
                        {% if app.user is same as (oneFavorite.deal.offerUser) %}
                            <span class="ml-2 ml-sm-0"><span class="blued">{% trans %} With : {% endtrans %}</span> {{ oneFavorite.deal.demandUser.firstname|title }}</span>
                        {% else %}
                            <span class="ml-2 ml-sm-0"><span class="blued">{% trans %} With : {% endtrans %}</span> {{ oneFavorite.deal.offerUser.firstname|title }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pt-2 border-top">
                            <div class="d-inline">
                                <span class="blued font-weight-bold pl-3">Deal</span>
                            </div>
                            <div class="d-inline ">
                                {% set isFavorite = 'false' %}
                                {#data-favorite must be string not boolean#}
                                {% for favorite in app.user.getFavoritesByType('deal')  %}
                                    {% if favorite.deal is same as (oneFavorite.deal) %}
                                        {% set isFavorite = 'true' %}
                                    {% endif %}
                                {% endfor %}
                                <form method="post" action="{{ url('favorite_add') }}" class="js-favorite-add  float-right mr-2 mb-2" data-object="{{ oneFavorite.deal.id }}" data-type="deal" data-favorite="{{ isFavorite }}">
                                    <div class="flexbox">
                                        <div class="fav-btn">
                                            <span class="fas fa-heart  favme dashicons dashicons-heart  {% if isFavorite is same as ('true') %} {{'active'}} {% endif %}"></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

