<div class="col-sm-6 px-2 my-2">
    <div id="meetup_index" class="meetup_index">
        <a href="{{ path('hosting_show', {'id': oneFavorite.hosting.id}) }}">
            <div class="full-border border-top">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="image_meetup_index">
                            <img class="" src="/assets/images/Hosting/hosting_avatar.png" alt="hosting image"/>
                        </div>
                    </div>
                    <div class="col-sm-4 pt-sm-5">
                        <div class=" ml-2 ml-sm-0">
                            <span class="blued">{{ oneFavorite.hosting.user.firstname|title }}</span>
                        </div>
                        <div class="ml-2 ml-sm-0">
                            <span class="blued ">{{ oneFavorite.hosting.ville }}</span>
                        </div>
                        <div class="ml-2 ml-sm-0">
                            <span class=""><span class="blued">{% trans %} Active : {% endtrans %}</span>
                                <b class="deal-terminate">
                                    {% if oneFavorite.hosting.active %}
                                        <img src="{{ asset('/assets/images/icons/yes.png') }}" alt="yes">
                                    {% else %}
                                        <img src="{{ asset('/assets/images/icons/no.png') }}" alt="no">
                                    {% endif %}
                                </b>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pt-2 border-top">
                            <div class="d-inline">
                                <span class="blued font-weight-bold pl-3">{% trans %} Hosting{% endtrans %}</span>
                            </div>
                            <div class="d-inline ">
                                {% set isFavorite = 'false' %}
                                {#data-favorite must be string not boolean#}
                                {% for favorite in app.user.getFavoritesByType('hosting')  %}
                                    {% if favorite.hosting is same as (oneFavorite.hosting) %}
                                        {% set isFavorite = 'true' %}
                                    {% endif %}
                                {% endfor %}
                                <form method="post" action="{{ url('favorite_add') }}" class="js-favorite-add  float-right mr-2 mb-2" data-object="{{ oneFavorite.hosting.id }}" data-type="hosting" data-favorite="{{ isFavorite }}">
                                    <div class="flexbox">
                                        <div class="fav-btn">
                                            <span class="fas fa-heart  favme dashicons dashicons-heart  {% if isFavorite is same as ('true') %} {{'active'}} {% endif %}"></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>