<div class="col-sm-6 px-2 my-2">
    <div id="meetup_index" class="meetup_index">
        <a href="{{ path('meetup_show', {'id': oneFavorite.meetup.id}) }}">
            <div class="full-border border-top">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="image_meetup_index">
                            <img class="" src="/assets/images/meetup/meetup.png" alt="meetup image"/>
                        </div>
                    </div>
                    <div class="col-sm-4 pt-sm-5">
                        <div class="text-center">
                            <span class="meetup-text rosed font-weight-bold">{{ oneFavorite.meetup.title }}</span>
                        </div>
                        <div class="ml-2 ml-sm-0">
                            <span class="blued">{{ oneFavorite.meetup.type|trans }}</span>
                        </div>
                        <div class="ml-2 ml-sm-0">
                            <span class="blued">{{ oneFavorite.meetup.startAt|date('d M Y - H:i') }}</span>
                        </div>
                        <div class="ml-2 ml-sm-0">
                            <span class="blued">{{ oneFavorite.meetup.city.name }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pt-2 border-top">
                            <div class="d-inline">
                                <span class="blued font-weight-bold pl-3">Meetup</span>
                            </div>
                            <div class="d-inline ">

                                {% set isFavorite = 'false' %}
                                {#data-favorite must be string not boolean#}
                                {% for favorite in app.user.getFavoritesByType('meetup')  %}
                                    {% if favorite.meetup is same as (oneFavorite.meetup) %}
                                        {% set isFavorite = 'true' %}
                                    {% endif %}
                                {% endfor %}
                                <form method="post" action="{{ url('favorite_add') }}" class="js-favorite-add  float-right mr-2 mb-2" data-object="{{ oneFavorite.meetup.id }}" data-type="meetup" data-favorite="{{ isFavorite }}">
                                    <div class="flexbox">
                                        <div class="fav-btn">
                                            <span class="fas fa-heart  favme dashicons dashicons-heart  {% if isFavorite is same as ('true') %} {{'active'}} {% endif %}"></span>
                                        </div>
                                    </div>
                                </form>
                                {% if oneFavorite.meetup.isFinish() %}
                                    <span class="badge badge-danger float-right mt-2 mr-2">{% trans %}Finish{% endtrans %}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
