{% extends 'base.html.twig' %}

{% block title %}Dspecification{% endblock %}

{% block body %}
    <h1>Dspecification</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dspecification.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ dspecification.name }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ dspecification.label }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ dspecification.type }}</td>
            </tr>
            <tr>
                <th>TextOptions</th>
                <td>{{ dspecification.textOptions ? dspecification.textOptions|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>NumericOptions</th>
                <td>{{ dspecification.numericOptions ? dspecification.numericOptions|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>TypeOfChoice</th>
                <td>{{ dspecification.typeOfChoice }}</td>
            </tr>
            <tr>
                <th>MinOption</th>
                <td>{{ dspecification.minOption }}</td>
            </tr>
            <tr>
                <th>MaxOption</th>
                <td>{{ dspecification.maxOption }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dspecification_index') }}">back to list</a>

    <a href="{{ path('dspecification_edit', {'id': dspecification.id}) }}">edit</a>

    {{ include('dspecification/_delete_form.html.twig') }}
{% endblock %}
