{% extends "layout_user.html.twig" %}

{% block title %}{% trans %} Driver Request{% endtrans %}{% endblock %}

{% block content %}
    <h1 class="title-blue text-center">{% trans %}Driver Request {% endtrans %}</h1>
    <div class="driver-request">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <h1 class="title-rose text-center mb-4">{% trans %} Driver Request in waiting{% endtrans %}</h1>
                        {% if driver_requests is not empty %}
                            {% for driver_request in driver_requests %}
                                <div class="border-deal {{ driver_request.status }}">
                                    <div class=" pt-2 mx-4">
                                        <b>{% trans %} Requested at : {% endtrans %}{{ driver_request.date|date("m/d/Y") }}</b>
                                        <b class="float-right">{% trans %} Suggested price : {% endtrans %}<span class="title-blue">{{ driver_request.price }}</span>{{ ' €' }}</b>
                                    </div>
                                    <hr>
                                    <div class="row mx-4 justify-content-center">
                                        <b class=" pb-2"> <span class="title-blue">{{ driver_request.user.firstname }}</span>{% trans %}has sent you driver request for transfer {% endtrans %}
                                            <span class="title-blue">{% if driver_request.deal.category.name is same as('Other') %}{{ driver_request.deal.offer.subjectName }}
                                            {% else %}{{ driver_request.deal.category}}{% endif %}</span>
                                            {% trans %} from{% endtrans %} <span class="title-blue">{{ driver_request.deal.offer.ville }}</span>
                                            {% trans %} to{% endtrans %} <span class="title-blue">{{ driver_request.deal.demand.ville }}</span></b>
                                    </div>
                                    <div class="btn-group driver deal-show">
                                        <div class="justify-content-center">
                                            <a href="{{ path('user_show',{'id':driver_request.deal.offerUser.id}) }}" class="btn-group">
                                                <img alt="" src="{{ driver_request.deal.offerUser.photoProfile() }}" class="{% if driver_request.deal.offerUser.isActiveNow %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}">
                                            </a>
                                            <a class="btn btn-info my-1 btn-block">{% trans %} Message to {% endtrans %}{{driver_request.deal.offerUser.firstname}}</a>
                                        </div>
                                        <a class="mt-5 mx-5">
                                            <i class="fas fa-handshake deal-show-photo mt-0"></i>
                                        </a>
                                        <div class="justify-content-center">
                                            <a href="{{ path('user_show',{'id':driver_request.deal.demandUser.id}) }}" class="btn-group">
                                                {% if driver_request.deal.demandUser.profileImage %}
                                                    <img alt="" src="{{ asset('/assets/images/profile/'~driver_request.deal.demandUser.profileImage) }}" class="{% if driver_request.deal.demandUser.isActiveNow %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}">
                                                {% else %}
                                                    <img alt="" src="{{ asset('/assets/images/profile/user-avatar.png') }}" class="{% if driver_request.deal.demandUser.isActiveNow %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}">
                                                {% endif %}
                                            </a>
                                            <a class="btn btn-info my-1 btn-block">{% trans %}Message to  {% endtrans %}{{driver_request.deal.demandUser.firstname}}</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="px-4 py-1">
                                        <p class="font-weight-bold">{% trans %} Message{% endtrans %}</p>
                                        {{ driver_request.description }}
                                    </div>
                                    <hr>
                                    <div class=" btn-group pb-2">
                                        <form>
                                            <a class="btn btn-info my-1 mx-2 btn-block" href="{{ path('ad_show', {'id': driver_request.deal.offer.id}) }}">{{driver_request.deal.offerUser.firstname}}{{ ' offer' }}</a>
                                        </form>
                                        <form >
                                            <a class="btn btn-info my-1 mx-2 btn-block" href="{{ path('ad_show', {'id': driver_request.deal.demand.id}) }}">{{driver_request.deal.demandUser.firstname}}{{ ' demand' }}</a>
                                        </form>
                                        <form>
                                            <a class="btn btn-danger my-1 mx-2 btn-block"
                                               href="{{ path('driver_request_treatment', {'driverRequest':driver_request.id, 'type': 'rejected'}) }}"
                                               onclick="return confirm(Translator.trans('Are you sure you want to reject this Deal?'));">{% trans %}Reject the request {% endtrans %}</a>
                                        </form>
                                        <form>
                                            <a class="btn btn-success my-1 mx-2 btn-block"
                                               href="{{ path('driver_request_treatment', {'driverRequest':driver_request.id,'type': 'accepted'}) }}"
                                               onclick="return confirm(Translator.trans('Are you sure you want to accept this Deal?'));">{% trans %}Accept the request {% endtrans %}</a>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h2 class="title-blue text-center">{% trans %} There is no driver request{% endtrans %}</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="title-rose text-center mb-4">{% trans %} Done drivers{% endtrans %}</h1>
                {% if deals is not empty or doneDeals is not empty %}
                {% for deal in deals %}
                <div class="border-respo done-deal">
                    <div class="col-md-12">
                        <div class="row border-bottom {% if deal.offerUserStatus and deal.demandUserStatus and deal.driverStatus %}accepted {% else %}pending{% endif %}">
                            <div class="col-md-6">
                                <p class=" my-2">Category : <span>{{ deal.category }}</span></p>
                            </div>
                            <div class="col-md-6">
                                <p class="float-right my-2">{% trans %} Deal status : {% endtrans %}<span>Pending</span></p>
                            </div>
                        </div>
                        <div class="">
                            <div class="row mt-2 pb-1 justify-content-center">
                                <div class="">
                                    <div class="btn-group driver deal-show">
                                        <a class="text-center mx-2 px-2 py-2  ">
                                            <img  src="{{ deal.offerUser.photoProfile() }}" alt="offerUser" class=""><br>
                                            <b class="deal-terminate">{{deal.offerUser.firstname}}
                                                {% if deal.offerUserStatus %}
                                                    <img src="{{ asset('/assets/images/icons/yes.png') }}" alt="yes">
                                                {% else %}
                                                    <img src="{{ asset('/assets/images/icons/no.png') }}" alt="no">
                                                {% endif %}</b><br>
                                            <b class="deal-terminate">{% trans %} Offer{% endtrans %}</b>
                                        </a>

                                            <i class="fas fa-handshake deal-show-photo-small mt-5"></i>
                                            <a class="text-center mx-2 px-2 py-2  ">
                                                <img  src="{{ deal.driverUser.photoProfile() }}" alt="offerUser" class=""><br>
                                                <b class="deal-terminate">{{deal.driverUser.firstname}}
                                                    {% if deal.driverStatus %}
                                                        <img src="{{ asset('/assets/images/icons/yes.png') }}" alt="yes">
                                                    {% else %}
                                                        <img src="{{ asset('/assets/images/icons/no.png') }}" alt="no">
                                                    {% endif %}</b><br>
                                                <i class="fas fa-truck-moving button-left" title="Driver request"></i>
                                                <b class="deal-terminate">{% trans %} Driver{% endtrans %}</b>
                                            </a>
                                            <i class="fas fa-handshake deal-show-photo-small mt-5"></i>

                                        <a class="text-center mx-2 px-2 py-2  ">
                                            <img  src="{{ deal.demandUser.photoProfile() }}" alt="offerUser" class=""><br>
                                            <b class="deal-terminate">{{deal.demandUser.firstname}}
                                                {% if deal.demandUserStatus %}
                                                    <img src="{{ asset('/assets/images/icons/yes.png') }}" alt="yes">
                                                {% else %}
                                                    <img src="{{ asset('/assets/images/icons/no.png') }}" alt="no">
                                                {% endif %}</b><br>
                                            <b class="deal-terminate">{% trans %}Demand {% endtrans %}</b>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row border-top">
                                <div class="col-md-9">
                                    <p class="my-2  ">{% trans %} Suggested at {% endtrans %}<span>{{ deal.date_format(deal.suggestionDate) }}</span></p>
                                </div>
                                <div class="col-md-3">
                                    <div class="row my-2 ">
                                        <div class="col text-center btn-group">
                                            <a href="{{ path('deal_show', {'id': deal.id}) }}" class="btn btn-info mx-2">{% trans %} Show deal{% endtrans %}</a>
                                            {% if not deal.driverStatus %}
                                                <form method="post" action="{{ path('deal_done', {'id': deal.id}) }}"
                                                      onsubmit="return confirm(Translator.trans('Are you sure you want to finish this deal?'));">
                                                    <button class="btn btn-info" href="">{% trans %} Finish this deal{% endtrans %}</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for deal in doneDeals %}
                <div class="done-deal">
                    <div class="border-respo">
                        <div class="col-md-12">
                            <div class="row border-bottom justify-content-center accepted">
                                <b class="title-rose">{% trans %} DONE DEAL{% endtrans %}</b>
                            </div>
                            <div class="row">
                                <div class="col-md-9 mx-2 my-2">
                                    <p>{% trans %} You have cooperated in a deal on {% endtrans %}<a class="title-blue">{{deal.date|date("m/d/Y")}}</a>{% trans %} for{% endtrans %}  <span>{{deal.category}}</span>{% trans %}with {% endtrans %}
                                        {{deal.demandUser.firstname}}{% trans %} and{% endtrans %}  {{ deal.offerUser.firstname }}{% trans %}  and you get {% endtrans %}<span>{% trans %} Seven{% endtrans %}</span>{% trans %} extra  points. {% endtrans %}</p>
                                </div>
                                <div class="col-md-2">
                                    <span class="badge badge-pill my-4 badge-points">7 POINTS</span>
                                </div>
                            </div>
                            <div class="row border-top justify-content-center">
                                <p class="my-2 mx-2">
                                    {% trans %}Based on this deal, The associated ads and all possible deals for these ads have been deleted.{% endtrans %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <h2 class="title-blue text-center">{% trans %}There is no done drivers {% endtrans %}</h2>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
