<div class="row">
    <div class="col-lg-8 offset-lg-2 px-2">
        <h4 class="title-blue text-center">{% trans %} Driver Request{% endtrans %}</h4>
        <div class="driver border-deal px-2">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="row">
                        <div class="col-sm-3 deal-show text-center">
                            <img class="mb-3 float-sm-left {% if driver.user.isActiveNow %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}" src="{{ asset(driver.user.photoProfile()) }}" alt="User" >
                        </div>
                        <div class="col-sm-6 text-center float-sm-none">
                            <h6 class="blued font-weight-bold">{% trans %} Driver : {% endtrans %} <span class="grayed"> {{ driver.user.firstname }}{{ ' ' }}{{ driver.user.lastname }}</span></h6>
                            {% if driver.carbrand %}
                                <h6 class="blued font-weight-bold">{% trans %} Car : {% endtrans %}<span class="grayed"> {{ driver.carbrand }}</span></h6>
                            {% endif %}
                            {% if driver.carbrand %}
                                <h6 class="blued font-weight-bold">{% trans %} Car color : {% endtrans %}<span class="grayed"> {{ driver.carColor }}</span></h6>
                            {% endif %}
                            {% if driver.carbrand %}
                                <h6 class="blued font-weight-bold">{% trans %} City : {% endtrans %}<span class="grayed"> {{ driver.city.name }}</span></h6>
                            {% endif %}
                            {% if driver.carbrand %}
                                <h6 class="blued font-weight-bold">{% trans %} Max distance :{% endtrans %}<span class="grayed"> {{ driver.maxDistance }}{{ ' KM' }}</span></h6>
                            {% endif %}
                        </div>
                        <div class="col-sm-3 deal-show text-center">
                            <img class=" float-sm-right" src="{{ driver.photoDriver() }}" alt="car_image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="driver border-deal px-2 py-2 ad-slide">
            <div class="row">
                <div class="col-12 mt-2 text-center">
                    <div class="deal-show my-2">
                        <span class="blued">{% trans %}Request for transfer {% endtrans %} <span class="rosed">{{ deal.category }}</span> {% trans %} From{% endtrans %} {{ ' ' }}{{ deal.offerUser.city }}{{ ' ' }}{% trans %} To{% endtrans %}{{ ' ' }}  {{ deal.demandUser.city }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="driver border-deal px-2 py-2">
            <div class="row">
                <div class="col-md-12">
                    {{ include('driver_request/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>



