<div class="row">
    <div class="col-md-8 offset-2">
        <h4 class="title-blue text-center">{% trans %} Driver Request{% endtrans %}</h4>
        <div class="driver">
           <div class="row border-deal">
               <div class="col-md-2 deal-show my-4">
                   <img src="{{ asset('/assets/images/profile/'~driver.user.profileImage) }}" alt="">
               </div>
               <div class="col mt-2 justify-content-center">
                  <b>{% trans %} Driver : {% endtrans %}{{ driver.user.firstname }}{{ ' ' }}{{ driver.user.lastname }}</b><br>
                  <b>{% trans %} Car : {% endtrans %}{{ driver.carbrand }}</b><br>
                  <b>{% trans %} Car color : {% endtrans %}{{ driver.carColor }}</b><br>
                  <b>{% trans %} City : {% endtrans %}{{ driver.city.name }}</b><br>
                   <b>{% trans %} Max distance :{% endtrans %} {{ driver.maxDistance }}{{ ' KM' }}</b>
               </div>
               <div class="col-md-2 deal-show my-4 mx-4">
                   <img src="{{ driver.photoDriver() }}" alt="car_image">
               </div>
           </div>
        </div>
        <div class="row border-deal justify-content-center">
            <div class=" deal-show my-2  ">
               <span class="">{% trans %}Request for transfer {% endtrans %}{{ deal.category }}{% trans %} From{% endtrans %} {{ deal.offerUser.city }}{% trans %} To{% endtrans %}  {{ deal.demandUser.city }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 border-deal">
                {{ include('driver_request/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>



