{% extends 'base.html.twig' %}

{% block title %}{% trans %} Specification{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %} Specification{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ specification.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ specification.name }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ specification.label }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ specification.type }}</td>
            </tr>
            <tr>
                <th>TextOptions</th>
                <td>{{ specification.textOptions ? specification.textOptions|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>NumericOptions</th>
                <td>{{ specification.numericOptions ? specification.numericOptions|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>TypeOfChoice</th>
                <td>{{ specification.typeOfChoice }}</td>
            </tr>
            <tr>
                <th>MinOption</th>
                <td>{{ specification.minOption }}</td>
            </tr>
            <tr>
                <th>MaxOption</th>
                <td>{{ specification.maxOption }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('specification_index') }}">{% trans %}back to list {% endtrans %}</a>

    <a href="{{ path('specification_edit', {'id': specification.id}) }}">{% trans %}edit {% endtrans %}</a>

    {{ include('specification/_delete_form.html.twig') }}
{% endblock %}
