<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="
             {% trans %}
                 A social media platform that handles offers and demands by proposing deals to users in addition to other constantly developing services such as hosting, car sharing, meetings, activities and acquaintance ...
             {% endtrans %}">
        <meta name="keywords" content="Offers, Offres, Demendes, Demand, Deal, Deals, Hosting, Hébergement, Car sharing, Covoiturage, Activities, Meetings, Rencontres, acquaintance">
        <meta name="auther" content="Naji Soft">
        <title>{% block title %}DispoDeal{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/logo/face.png') }}"/>
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        <link rel="stylesheet" href="{{ asset('mmm.css') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
            <script src="{{ url('bazinga_jstranslation_js') }}"></script>
            <script src="{{ asset('build/runtime.js') }}"></script>
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
        <div class="device-xs d-block d-sm-none"></div>
        <div class="device-sm d-none d-sm-block"></div>
    </body>
</html>
