<div class="row">
    <div class="col-12">
        <div id="terms-use">
            <div class="row">
                <div class="col-12 text-center">
                    <br>
                    <h1 class="rosed mt-2">Cookies</h1>
                    <h3 class="white "><span class="blued font-weight-bold"><span class="rosed">Dispo</span>Deal</span> {% trans %}uses cookies{% endtrans %} </h3>
                    <br>
                    <h4 class="white">{% trans %}By continuing to browser (by clicking on a link or scrolling down the page, for example) you are agreeing to our use of cookies{% endtrans %}</h4>
                    <br>
                    <button class="btn btn-info large"><h2>{% trans %}Close{% endtrans %}</h2></button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-none d-md-block footer text-white-50 py-3 width-100">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col text-center">
                    <div class="footer-text">
                        <a href="{{path('about_us')}}">{% trans %}About us{% endtrans %}</a>
                        <span class="rosed">|</span>
                        <a href="{{ path('legal_notice') }}">{% trans %}Legal Notice{% endtrans %}</a>
                        <span class="rosed">|</span>
                        <a href="#"  onclick="window.open('assets/documents/gcu_{{ app.request.locale|split('_')[0] }}.html','newwindow','width=500,height=800');return false;">
                             {% trans %}GCU{% endtrans %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <h6 class="text-center"><span class="white">Copyright©</span>
                        <span class="rosed"></span><span class="blued">Dispo</span><span class="rosed">Deal</span>
                        <span class="white">{{ 'now'|date('Y')}}</span>
                    </h6>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <ul class="navbar-nav text-center">
                        {% for locale in locales if locale is not same as(app.request.locale)%}
                            <li class="nav-item locale-icon">
                                <a href="{{path('change_locale',{'locale':locale})}}"><img src="{{ asset('assets/images/icons/'~locale~'.png') }}" alt=""></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="d-sm-block d-md-none footer text-white-50 py-3 px-2">
        <div class="col-12 text-center">
            <div class="footer-text">
                <a href="{{path('about_us')}}">{% trans %}About us{% endtrans %}</a>
                <span class="rosed">|</span>
                <a href="{{ path('legal_notice') }}">{% trans %}Legal Notice{% endtrans %}</a>
                <span class="rosed">|</span>
                <a href="#"  onclick="window.open('assets/documents/gcu_{{ app.request.locale|split('_')[0] }}.html','newwindow','width=500,height=800');return false;">
                    {% trans %}GCU{% endtrans %}
                </a>
            </div>
        </div>
        <div class="col-12 ">
            <h6 class="text-center"><span class="white">Copyright©</span>
                <span class="rosed"></span><span class="blued">Dispo</span><span class="rosed">Deal</span>
                <span class="white">{{ 'now'|date('Y')}}</span>
            </h6>
        </div>
        <div class="col-12 text-center">
            <ul class="navbar-nav">
                {% for locale in locales if locale is not same as(app.request.locale)%}
                    <li class="nav-item locale-icon">
                        <a href="{{path('change_locale',{'locale':locale})}}"><img src="{{ asset('assets/images/icons/'~locale~'.png') }}" alt=""></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- Footer -->
