<div class="row">
    <div class="d-none d-md-block footer text-white-50 py-3 width-100">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col text-center">
                    <div class="footer-text">
                        <a href="{{path('about_us')}}">{% trans %}About us{% endtrans %}</a>
                        <span class="rosed">|</span>
                        <a href="{{ path('legal_notice') }}">{% trans %}Legal Notice{% endtrans %}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <h6 class="text-center"><span class="white">Copyright©</span>
                        <span class="rosed">FOR</span><span class="blued">DEAL</span><span class="rosed">ING</span>
                        <span class="white">{{ 'now'|date('Y')}}</span>
                    </h6>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <ul class="navbar-nav text-center">
                        {% for locale in locales if locale is not same as(app.request.locale)%}
                            <li class="nav-item locale-icon">
                                <a href="{{path('change_locale',{'locale':locale})}}"><img src="{{ asset('assets/images/icons/'~locale~'.png') }}" alt=""></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="d-sm-block d-md-none footer text-white-50 py-3 px-2">
        <div class="col-12 text-center">
            <div class="footer-text">
                <a href="{{path('about_us')}}">{% trans %}About us{% endtrans %}</a>
                <span class="rosed">|</span>
                <a href="{{ path('legal_notice') }}">{% trans %}Legal Notice{% endtrans %}</a>
            </div>
        </div>
        <div class="col-12 ">
            <h6 class="text-center"><span class="white">Copyright©</span>
                <span class="rosed">FOR</span><span class="blued">DEAL</span><span class="rosed">ING</span>
                <span class="white">{{ 'now'|date('Y')}}</span>
            </h6>
        </div>
        <div class="col-12 text-center">
            <ul class="navbar-nav">
                {% for locale in locales if locale is not same as(app.request.locale)%}
                    <li class="nav-item locale-icon">
                        <a href="{{path('change_locale',{'locale':locale})}}"><img src="{{ asset('assets/images/icons/'~locale~'.png') }}" alt=""></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- Footer -->
