<header class="header pb-5">
    <nav class="navbar navbar-toggleable-md navbar-light pt-0 pb-0 pl-0" id="nav">
        <div class=" navbar-collapse flex-row-reverse" id="navbarNavDropdown">
           <div class="row">
              <div class=" col-md-12">
                  <div class="logo py-2">
                      <a href="{{ path('index') }}">
                          <img src="{{ asset('assets/images/logo/small.png') }}" alt="" >
                      </a>
                  </div>
                  {% if app.user != null%}
                  <div class="col-md-3 col-sm-4 col-xs-4 backnavbar">
                      <div class="">
                          <div id="all-logo" >
                              <div class="logo-acoord ">
                                  <div onclick="dashboard();"><span class="blued forlogo">FOR<span class="rosed dealLogo">DEAL</span>ING </span></div>
                              </div>
                          </div>
                          <div class="sidebar-toggle-box">
                              <div class="float-left"> <a  class="button-left ml-2"><span class="fa fa-fw fa-bars"></span></a> </div>
                          </div>
                      </div>
                  </div>
                  {% endif %}
{#  test for translation #}
                  <div class="col">
                      <ul class="navbar-nav">
                          {% for locale in locales if locale is not same as(app.request.locale)%}
                              <li class="nav-item locale-icon">
                                  <a href="{{path('change_locale',{'locale':locale})}}"><img src="{{ asset('assets/images/icons/'~locale~'.png') }}" alt=""></a>
                              </li>
                          {% endfor %}
                      </ul>
                  </div>

{#end test#}
                  {% if app.user==null %}
                  <div class="col-md-3 col-md-offset-5 col-sm-3 col-sm-offset-5  col-xs-3 col-xs-offset-5 float-md-right pt-2">
                      <form class="form-inline my-2 my-lg-0 float-right">
                          <a class=" my-2 my-sm-0 mx-2" data-toggle="collapse" href="#search-bar" role="button" aria-expanded="false" aria-controls="collapseExample" id="search_bar_button"><i class="fas fa-search search-icon"></i></a>
                          <a class="btn btn-info my-2 my-sm-0 ml-2" href="{{ path('security_login') }}">{% trans %}Sign in{% endtrans %}</a>
                      </form>
                  </div>
                  {% else %}


                  <div class="col-md-3  col-sm-3   col-xs-3  float-right">
                 <!-- user login dropdown start-->
                      <div class="user-profile">
                         <a data-toggle="dropdown"  href="#">
                             <span class="profile-ava">
                                 {% if app.user.profileImage != "" or app.user.profileImage != null %}
                                 <img alt="" src="{{ asset('/assets/images/profile/'~app.user.profileImage) }}" id="avatar-small">
                                 {% else %}
                                 <img  src="{{ asset('/assets/images/profile/user-avatar.png') }}" id="avatar-small">
                                 {% endif %}
                             </span>
                         </a>
                         <ul class="dropdown-menu extended logout">
                             <li class="username">
                                 <h6 >{{ app.user.firstName }} {{ app.user.lastname }}</h6>
                             </li>
                             <li >
                                 <a href="{{ path('ad_new',{'type': 'Offer'}) }}">{% trans %}New offer{% endtrans %}</a>
                             </li>
                             <li >
                                 <a href="{{ path('ad_new',{'type': 'Demand'}) }}">{% trans %}New demand{% endtrans %}</a>
                             </li>
                             <li >
                                 <a href="{{ path('fos_user_profile_show') }}">{% trans %}My profile{% endtrans %}</a>
                             </li>
                             <li >
                               <a href="{{ path('fos_user_profile_edit') }}">{% trans %}Edit my profile{% endtrans %}</a>
                             </li>
                             <li>
                                 <a href="{{ path('fos_user_change_password') }}">{% trans %}change my password{% endtrans %}</a>
                             </li>
                             {% if is_granted('ROLE_ADMIN') %}
                                 <li>
                                     <a href="{{ path('admin_index') }}">{% trans %}ADMINISTRATION{% endtrans %}</a>
                                 </li>
                             {% endif %}
                             <li>
                                 <a href="{{ path('security_logout') }}">{% trans %}Log out{% endtrans %}</a>
                             </li>
                         </ul>
                    <!-- user login dropdown end -->
                      </div>
                      {% set messageCount = MessageCount.getNbUnreadMessage(app.user) %}
                      <div class="col-md-4 float-right mr-3 mt-1 justify-content-center btn-group mr-4">
                          <a  href="{{path('message_index')}}">
                              <div id="centerOfMessages">
                                  <p id="messagesCount" class="{% if messageCount is same as (0) %}{{ 'hide-padge' }}{% endif %}">
                                      {{ messageCount }}
                                  </p>
                              </div>
                              <i class="fas fa-envelope search-icon"></i>
                          </a>
                          <a class="justify-content-center mx-4 mt-1"  data-toggle="collapse" href="#search-bar" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-search search-icon"></i></a>
                          {{notification(app.user,{'template':'bundles/MgiletNotificationBundle/template.html.twig','order':'DESC'})}}
                      </div>
                  </div>
                  {% endif %}
                  </div>
              </div>
           </div>
        </div>
    </nav>
</header>

