<header class="header pb-5">
    <nav class="navbar navbar-toggleable-md navbar-light pt-0 pb-0 pl-0" id="nav">
        <div class=" navbar-collapse flex-row-reverse" id="navbarNavDropdown">
           <div class="row">
              <div class=" col-md-12">
                  <div class="logo py-2">
                      <a href="{{ path('index') }}">
                          <img src="{{ asset('assets/images/icons/4.png') }}" alt="" onclick="dashboard();">
                      </a>
                  </div>
                 {# <div class="logo2 py-2">
                      <img src="{{ asset('assets/images/icons/1.png') }}" alt="" onclick="dashboard();">
                  </div>#}
                  {% if app.user != null%}
                  <div class="col-md-3 col-sm-4 col-xs-4 backnavbar">
                      <div class="">
                          <div id="all-logo" >
                              <div class="logo-acoord">
                                  <div onclick="dashboard();"><span > On a d<span>'</span>accord </span></div>
                              </div>
                          </div>
                          <div class="sidebar-toggle-box">
                              <div class="float-left"> <a href="#" class="button-left ml-2"><span class="fa fa-fw fa-bars"></span></a> </div>
                          </div>
                      </div>
                  </div>
                  {% endif %}

                  {% if app.user==null %}
                  <div class="col-md-3 col-md-offset-5 col-sm-3 col-sm-offset-5  col-xs-3 col-xs-offset-5 float-md-right pt-2">
                      <form class="form-inline my-2 my-lg-0 float-right">
                          <a class="btn btn-info my-2 my-sm-0 mx-2" onclick="/*searchbar();*/" data-toggle="collapse" href="#search-bar" role="button" aria-expanded="false" aria-controls="collapseExample" id="search_bar_button">Search</a>
                          <a class="btn btn-info my-2 my-sm-0" data-toggle="modal" data-target="#Registration">Register</a>
                          <a class="btn btn-info my-2 my-sm-0 ml-2" data-toggle="modal" data-target="#login">Login</a>
                      </form>
                  </div>
                  {% else %}


                  <div class="col-md-3  col-sm-3   col-xs-3  float-right">
                 <!-- user login dropdown start-->
                      <div class="user-profile">
                         <a data-toggle="dropdown"  href="#">
                             <span class="profile-ava">
                                 {% if app.user.profileImage != "" or app.user.profileImage != null %}
                                 <img alt="" src="{{ asset('/assets/images/profile/'~app.user.profileImage) }}" id="avatar-small">
                                 {% else %}
                                 <img  src="{{ asset('/assets/images/profile/avatar.jpeg') }}" id="avatar-small">
                                 {% endif %}
                             </span>
                         </a>
                         <ul class="dropdown-menu extended logout">
                             <li class="username">
                                 <h6 >{{ app.user.firstName }} {{ app.user.lastname }}</h6>
                             </li>
                             <li >
                                 <a href="{{ path('ad_new',{'type': 'Offer'}) }}">New offer</a>
                             </li>
                             <li >
                                 <a href="{{ path('ad_new',{'type': 'Demand'}) }}">New demand</a>
                             </li>
                             <li >
                                 <a href="{{ path('fos_user_profile_show') }}">My profile</a>
                             </li>
                             <li >
                               <a href="{{ path('fos_user_profile_edit') }}">Edit my profile</a>
                             </li>
                             <li>
                                 <a href="{{ path('fos_user_change_password') }}">change my password</a>
                             </li>
                             <li>
                                 <a href="{{ path('security_logout') }}">Log out</a>
                             </li>
                         </ul>
                    <!-- user login dropdown end -->
                      </div>
                      <div class="col-md-4 float-right mr-3 mt-1 justify-content-center btn-group mr-4">
                          <a href="/message/"><i class="fas fa-envelope search-icon"></i></a>
                          <a class="justify-content-center mx-4 mt-1" onclick="" data-toggle="collapse" href="#search-bar" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-search search-icon"></i></a>
                          {{notification(app.user,{'template':'bundles/MgiletNotificationBundle/template.html.twig','order':'DESC'})}}
                      </div>
                  </div>
                  {% endif %}
                  </div>
              </div>
           </div>
        </div>
    </nav>
</header>

    <!-- Modal start-->
    <div class="modal fade bd-example-modal-lg" id="Registration" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" style="z-index: 9999;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row ml-2">
                        <h4 class="modal-title " id="myModalLabel">Crée nouvelle counte</h4>
                    </div>
                </div>
                <div class="modal-body">
                        {{ render(controller('App\\Controller\\User\\RegistrationController::registerAction')) }}
                    <div class="modal-footer mt-2">
                        <button  type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg mt-4 " id="login" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" style="z-index: 9999;">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row ml-2">
                        <h4 class="modal-title " id="myModalLabel">Log in</h4>
                    </div>
                </div>
                <div class="modal-body ">
                    {{ render(controller('App\\Controller\\User\\SecurityController::login')) }}
                </div>
                <div class="modal-footer mt-2">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end-->

