<aside>
    <div  class="main"  >
        <div class="mdSidebar fliph left">
            <ul class="list-sidebar bg-defoult justify-content-center">
                <li class="icon">
                    <a  href="javascript:void(0)" id="my_offer" class="side-bar-icon">
                        <img src="{{ asset('assets/images/icons/o-white.png') }}" alt="" >
                    </a>
                </li>
                <li class="icon "> <a href="javascript:void(0)" id="my_demand" class="side-bar-icon">
                        <img src="{{ asset('assets/images/icons/d-white.png') }}" alt="" >
                    </a>
                </li>
                <li class="icon "> <a href="{{path('deal_index')}}"  class="side-bar-icon">
                        <img src="{{ asset('assets/images/icons/deal-icon.png') }}"  >
                    </a>
                </li>
                {% if app.user.driver %}
                    <li class="icon">
                        <a  href="{{path('driver_request_index')}}" id="my_driver_request" class="side-bar-icon">
                            <img src="{{ asset('assets/images/icons/driver-request.png') }}"  >
                        </a>
                    </li>
                {% endif %}
                <li class="icon ">
                    <form method="post" action="{{path('cafe_index')}}" id="cafe-gps">
                        <a class="" id="btn-cafe-gps" class="side-bar-icon">
                            <input type="hidden" name="lat" id="cafe_gps_lat">
                            <input type="hidden" name="lng" id="cafe_gps_lng">
                            <img src="{{ asset('assets/images/icons/cafe-icon.png') }}"  >
                        </a>
                    </form>
                </li>
                <li class="icon "> <a href="{{path('hosting_request_index')}}" class="side-bar-icon">
                        <img src="{{ asset('assets/images/icons/hosting-icon.png') }}"  >
                    </a>
                </li>
                <li class="icon "> <a href="{{path('meetup_index')}}" class="side-bar-icon">
                        <img src="{{ asset('assets/images/icons/meetup-icon.png') }}"  >
                    </a>
                </li>
                <li class="icon "> <a href="{{path('voyage_index')}}" class="side-bar-icon">
                        <img src="{{ asset('assets/images/icons/voyage-icon.png') }}"  >
                    </a>
                </li>
                <li class="icon "> <a href="{{path('favorite_index')}}"  class="side-bar-icon">
                        <img src="{{ asset('assets/images/icons/favorite-icon.png') }}"  >
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
