
{# Widgets #}
{% block photo_widget -%}
    <{{ element|default('div') }} class="custom-fileg">
    {%- set type = type|default('file') -%}
    {{- block('form_widget_simple') -}}
    <label for="{{ form.vars.id }}" class="custom-file-labelg">
        {%- if attr.new_form is defined -%}
            {% if attr.new_form %}
                {# view for new photo ad offer#}

            {% endif %}
        {%- endif -%}
        {%- if attr.profileImage is defined -%}
            {#view for profile image and car image #}
            {% if attr.profileImage %}{# view for profile image#}
                <div class="profile-edit">
                    <img id="previewProfileImge" class="{% if app.user.isActiveNow %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}"
                         src="{{ asset(app.user.photoProfile()) }}" alt="User profile" >
                </div>
            {% endif %}
        {%- endif -%}
        {%- if attr.driverImage is defined -%}{# view for car image#}
            {% if attr.driverImage %}{# if the form has driverImage attr#}
                {% if app.user.driver %} {# if the user is driver#}
                    <div class="profile-edit">
                        <img id="previewCarImge" class=" {% if app.user.driver.active %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}"
                             src="{{ asset(app.user.driver.photoDriver()) }}" alt="driver car">
                    </div>
                {% else %}{#if user not driver#}
                    <div class="profile-edit">
                        <img id="previewCarImge" class="offline-status"
                             src="{{ asset('/assets/images/car_driver/car-avatar.jpg') }}" alt="driver car">
                    </div>
                {% endif %}
            {% endif %}
        {%- endif -%}
        {%- if attr.hosting is defined -%}{# view for hosting image#}
            {% if attr.hosting %}{# if the form has hosting attr#}
                {% if app.user.hosting %}{# if the user is hosting#}
                    <div class="hosting-edit">
                        <img id="previewHostingImge"
                             src="{{ asset(app.user.hosting.photoHosting()) }}" alt="Hosting photo">
                    </div>
                {% else %}{# if the user is not hosting#}
                    <div class="hosting-edit">
                        <img id="previewHostingImge"
                             src="{{ asset('/assets/images/Hosting/hosting_avatar.png') }}" alt="Hosting photo">
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        {%- if attr.meetup is defined -%}{# view for hosting image#}
            {% if attr.meetup %}{# if the form has hosting attr#}
                <div class="meetup-form-image">
                    <img id="previewMeetupImge"
                         src="{{ asset('/assets/images/meetup/meetup.png') }}" alt="Meetup photo">
                </div>
            {% endif %}
        {% endif %}
    </label>
    </{{ element|default('div') }}>
{% endblock %}