<aside>
    <div  class="main pt-0" id="sidebar">
        <div class="sidebar left">
            <ul class="list-sidebar justify-content-center">

                {#admin#}
                {% if is_granted('ROLE_ADMIN') %}
                <ul id="admin-ul" class="list-sidebar justify-content-center">
                    <li class="icon">
                        <a  data-toggle="collapse" href="#collapseAdmin" role="button" aria-expanded="false" aria-controls="collapseExample" class="side-bar-icon">
                            {#<i class="fab fa-adversal" class="button-left"  title="Mes offres"></i>#}
                            <i class="fas fa-user-cog rosed "></i>
                            <span class="nav-label">{% trans %}Administration{% endtrans %}</span>
                        </a>
                    </li>
                    <div class="collapse ml-2" id="collapseAdmin">
                        <div class="">
                            <li class="icon ">
                                <a href="{{path('admin_index')}}"  class="side-bar-icon">
                                    <i class="fas fa-user-cog blued"></i>
                                    <span class="nav-label">Dashboard</span>
                                </a>
                            </li>
                            <li class="icon ">
                                <a href="{{path('user_index')}}" class="side-bar-icon">
                                    <i class="fas fa-user-cog blued"></i>
                                    <span class="nav-label">Users</span>
                                </a>
                            </li>
                            <li class="icon ">
                                <a href="{{path('visit_index')}}"  class="side-bar-icon">
                                    <i class="fas fa-user-cog blued"></i>
                                    <span class="nav-label">Visits</span>
                                </a>
                            </li>
                            <li class="icon ">
                                <a href="{{ path('driver_index') }}" class="side-bar-icon">
                                    <i class="fas fa-user-cog blued"></i>
                                    <span class="nav-label">Driver users</span>
                                </a>
                            </li>
                            <li class="icon ">
                                <a href="{{ path('hostings_index') }}" class="side-bar-icon">
                                    <i class="fas fa-user-cog blued"></i>
                                    <span class="nav-label">Hosting users</span>
                                </a>
                            </li>
                            <li class="icon ">
                                <a href="{{ path('carpool_index') }}" class="side-bar-icon">
                                    <i class="fas fa-user-cog blued"></i>
                                    <span class="nav-label">Carpool users</span>
                                </a>
                            </li>
                            <li class="icon ">
                                <a href="{{ path('admin_category') }}" class="side-bar-icon">
                                    <i class="fas fa-user-cog blued"></i>
                                    <span class="nav-label">Categories</span>
                                </a>
                            </li>
                            <li class="icon ">
                                <a href="{{ path('admin_ads') }}" class="side-bar-icon">
                                    <i class="fas fa-user-cog blued"></i>
                                    <span class="nav-label">Ads</span>
                                </a>
                            </li>
                            <li class="icon ">
                                <a href="{{ path('admin_deals') }}" class="side-bar-icon">
                                    <i class="fas fa-user-cog blued"></i>
                                    <span class="nav-label">Deals</span>
                                </a>
                            </li>
                            <li class="icon ">
                                <a href="{{ path('admin_cafe') }}" class="side-bar-icon">
                                    <i class="fas fa-user-cog blued"></i>
                                    <span class="nav-label">Cafe</span>
                                </a>
                            </li>
                            <li class="icon ">
                                <a href="{{ path('admin_hosting') }}" class="side-bar-icon">
                                    <i class="fas fa-user-cog blued"></i>
                                    <span class="nav-label">Hosting</span>
                                </a>
                            </li>
                            <li class="icon ">
                                <a href="{{ path('admin_meetup') }}" class="side-bar-icon">
                                    <i class="fas fa-user-cog blued"></i>
                                    <span class="nav-label">Meetup</span>
                                </a>
                            </li>
                            <li class="icon ">
                                <a href="{{ path('admin_voyage') }}" class="side-bar-icon">
                                    <i class="fas fa-user-cog blued"></i>
                                    <span class="nav-label">Voyages</span>
                                </a>
                            </li>
                            <li class="icon ">
                                <a href="{{ path('jms_jobs_overview') }}" class="side-bar-icon">
                                    <i class="fas fa-user-cog blued"></i>
                                    <span class="nav-label">Job</span>
                                </a>
                            </li>


                        </div>
                    </div>


                </ul>
                {#admin#}
                {% endif %}
                <li class="icon">
                    <a  href="javascript:void(0)" id="my_offer" class="side-bar-icon">
                        {#<i class="fab fa-adversal" class="button-left"  title="Mes offres"></i>#}
                        <img src="{{ asset('assets/images/icons/o-white.png') }}" alt="" >
                        <span class="nav-label">{% trans %}My offers{% endtrans %}</span>
                    </a>
                </li>
                <li class="icon "> <a href="javascript:void(0)" id="my_demand" class="side-bar-icon">
                        {#<i class="fab fa-affiliatetheme" title="Mes demandes"></i>#}
                        <img src="{{ asset('assets/images/icons/d-white.png') }}" alt="" >
                        <span class="nav-label">{% trans %}My demands{% endtrans %}</span>
                    </a>
                </li>
                <li class="icon "> <a href="{{path('deal_index')}}"  class="side-bar-icon">
                        {#<i class="fas fa-handshake" class="button-left" title="Offres suggérées"></i>#}
                        <img src="{{ asset('assets/images/icons/deal-icon.png') }}"  >
                        <span class="nav-label">{% trans %}My deals{% endtrans %}</span>
                    </a>
                </li>
                {% if app.user.driver %}
                    <li class="icon">
                        <a  href="{{path('driver_request_index')}}" id="my_driver_request" class="side-bar-icon">
                            {#<i class="fas fa-truck-moving button-left" title="Driver request"></i>#}
                            <img src="{{ asset('assets/images/icons/driver-request.png') }}"  >
                            {#<i class="fas fa-shuttle-van"></i>#}
                            <span class="nav-label">{% trans %}Driver{% endtrans %}</span>
                        </a>
                    </li>
                {% endif %}
                <li class="icon ">
                    <form method="post" action="{{path('cafe_index')}}" id="cafe-gps" class="cafe-gps-button">
                        <a class="" id="btn-cafe-gps" class="side-bar-icon">
                            <input type="hidden" name="lat" id="cafe_gps_lat">
                            <input type="hidden" name="lng" id="cafe_gps_lng">
                            {#<i class="fas fa-coffee" class="button-left" title="Café"></i>#}
                            <img src="{{ asset('assets/images/icons/cafe-icon.png') }}"  >
                            <span class="nav-label">{% trans %}Cafe{% endtrans %}</span>
                        </a>
                    </form>
                </li>
                <li class="icon "> <a href="{{path('hosting_request_index')}}" class="side-bar-icon">
                        <img src="{{ asset('assets/images/icons/hosting-icon.png') }}"  >
                        {#<i class="fas fa-bed" class="button-left" title="Hosting"></i>#}
                        <span class="nav-label">{% trans %}Hosting{% endtrans %}</span>
                    </a>
                </li>
                <li class="icon "> <a href="{{path('meetup_index')}}" class="side-bar-icon">
                        {#<i class="far fa-calendar-check" class="button-left" title="Meetup"></i>#}
                        <img src="{{ asset('assets/images/icons/meetup-icon.png') }}"  >
                        <span class="nav-label">{% trans %}Meetup{% endtrans %}</span>
                    </a>
                </li>
                <li class="icon "> <a href="{{path('voyage_index')}}" class="side-bar-icon">
                        {#<i class="fas fa-car" class="button-left" title="Covoiturage"></i>#}
                        <img src="{{ asset('assets/images/icons/voyage-icon.png') }}"  >
                        <span class="nav-label">{% trans %}My voyage{% endtrans %}</span>
                    </a>
                </li>
                <li class="icon "> <a href="{{path('favorite_index')}}"  class="side-bar-icon">
                        {#<i class="fab fa-gratipay" class="button-left" title="Favorite"></i>#}
                        <img src="{{ asset('assets/images/icons/favorite-icon.png') }}"  >
                        <span class="nav-label">{% trans %}Favorites{% endtrans %}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
