<aside>
    <div  class="main"  >
        <div class="sidebar left">
            <ul class="list-sidebar bg-defoult">
                {% if app.user.driver %}
                    <li class="icon">
                        <a  href="{{path('driver_request_index')}}" id="my_driver_request">
                            <i class="fas fa-truck-moving button-left" title="Driver request"></i>
                            {#<i class="fas fa-shuttle-van"></i>#}
                            <span class="nav-label">Driver request</span>
                        </a>
                    </li>
                {% endif %}
                <li class="icon">
                    <a  href="javascript:void(0)" id="my_offer">
                        <i class="fab fa-adversal" class="button-left"  title="Mes offres"></i>
                        <span class="nav-label">My offers </span>
                    </a>
                </li>
                <li class="icon "> <a href="javascript:void(0)" id="my_demand">
                        <i class="fab fa-affiliatetheme" title="Mes demandes"></i>
                        <span class="nav-label">My demands</span>
                    </a>
                </li>
                <li class="icon "> <a href="{{path('deal_index')}}"  >
                        <i class="fas fa-handshake" class="button-left" title="Offres suggérées"></i>
                        <span class="nav-label">My deals</span>
                    </a>
                </li>
                <li class="icon ">
                    <form method="post" action="{{path('cafe_index')}}" id="cafe-gps">
                        <a class="" id="btn-cafe-gps" >
                            <input type="hidden" name="lat" id="cafe_gps_lat">
                            <input type="hidden" name="lng" id="cafe_gps_lng">
                            <i class="fas fa-coffee" class="button-left" title="Café"></i>
                            <span class="nav-label">Cafe</span>
                        </a>
                    </form>
                </li>
                <li> <a href="{{path('hosting_request_index')}}">
                        <i class="fas fa-bed" class="button-left" title="Hosting"></i>
                        <span class="nav-label">Hosting</span>
                    </a>
                </li>
                {% if app.user.hosting %}
                <li> <a href="{{path('hosting_request_received')}}">
                        <i class="fas fa-suitcase-rolling"class="button-left" title="Hosting_request"></i>
                        <span class="nav-label">Hosting request</span>
                    </a>
                </li>
                {% endif %}
                <li> <a href="javascript:void(0)">
                        <i class="fas fa-car" class="button-left" title="Covoiturage"></i>
                        <span class="nav-label">Covoiturage</span>
                    </a>
                </li>
                <li> <a href="javascript:void(0)">
                        <i class="far fa-calendar-check" class="button-left" title="Sortie"></i>
                        <span class="nav-label">Sortie</span>
                    </a>
                </li>
                <li> <a href="javascript:void(0)" >
                        <i class="fab fa-gratipay" class="button-left" title="Favoris"></i>
                        <span class="nav-label">Favoris</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
