<div id="sm-sidebar">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">

        <ul class="sidebar-nav">
            <div class="row">
                <div class="col-10 ">
                    <div class="list-logo pl-2 my-3 justify-content-center">
                        <img src="{{ asset('assets/images/logo/small.png') }}" alt="" >
                        <span class="blued forlogo pl-1">FOR<b class="rosed dealLogo">DEAL</b>ING </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="float-right mt-2 pt-2 d-sm-block d-md-none  menu-toggle i-sm-sidebar">
                        <a class="mr-4"><i class="fas fa-arrow-left white"></i></a>
                    </div>
                </div>
            </div>
            <li class="icon pt-5">
                <a  href="javascript:void(0)" id="my_offer" class="side-bar-icon">
                    <img src="{{ asset('assets/images/icons/o-white.png') }}" alt="" >
                    <span class="nav-label">{% trans %}My offers{% endtrans %}</span>
                </a>
            </li>
            <li class="icon "> <a href="javascript:void(0)" id="my_demand" class="side-bar-icon">
                    <img src="{{ asset('assets/images/icons/d-white.png') }}" alt="" >
                    <span class="nav-label">{% trans %}My demands{% endtrans %}</span>
                </a>
            </li>
            <li class="icon "> <a href="{{path('deal_index')}}"  class="side-bar-icon">
                    <img src="{{ asset('assets/images/icons/deal-icon.png') }}"  >
                    <span class="nav-label">{% trans %}My deals{% endtrans %}</span>
                </a>
            </li>
            {% if app.user.driver %}
                <li class="icon">
                    <a  href="{{path('driver_request_index')}}" id="my_driver_request" class="side-bar-icon">
                        <img src="{{ asset('assets/images/icons/driver-request.png') }}"  >
                        <span class="nav-label">{% trans %}Driver{% endtrans %}</span>
                    </a>
                </li>
            {% endif %}
            <li class="icon ">
                <form method="post" action="{{path('cafe_index')}}" id="sm-cafe-gps" class="side-bar-icon">
                    <a class="" id="sm-btn-cafe-gps" class="side-bar-icon">
                        <input type="hidden" name="lat" id="sm-cafe_gps_lat">
                        <input type="hidden" name="lng" id="sm-cafe_gps_lng">
                        <img src="{{ asset('assets/images/icons/cafe-icon.png') }}"  >
                        <span class="nav-label">{% trans %}Cafe{% endtrans %}</span>
                    </a>
                </form>
            </li>
            <li> <a href="{{path('hosting_request_index')}}" class="side-bar-icon">
                    <img src="{{ asset('assets/images/icons/hosting-icon.png') }}"  >
                    <span class="nav-label">{% trans %}Hosting{% endtrans %}</span>
                </a>
            </li>
            <li> <a href="{{path('meetup_index')}}" class="side-bar-icon">
                    <img src="{{ asset('assets/images/icons/meetup-icon.png') }}"  >
                    <span class="nav-label">{% trans %}Meetup{% endtrans %}</span>
                </a>
            </li>
            <li> <a href="{{path('voyage_index')}}" class="side-bar-icon">
                    <img src="{{ asset('assets/images/icons/voyage-icon.png') }}"  >
                    <span class="nav-label">{% trans %}My voyage{% endtrans %}</span>
                </a>
            </li>
            <li> <a href="{{path('favorite_index')}}"  class="side-bar-icon">
                    <img src="{{ asset('assets/images/icons/favorite-icon.png') }}"  >
                    <span class="nav-label">{% trans %}Favorites{% endtrans %}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
