{#
# jquery.collection.html.twig
#
# Adds the following html attributes to the root node of your collection fields:
#
# - data-prototype-name: placeholder used in the prototype to replace element indexes on the collection
# - data-allow-add: if set to false, plugin will automatically set allow_add option to false
# - data-allow-delete: if set to false, plugin will automatically set allow_remove option to false
# - data-name-prefix: contains the collection's prefix used in descendant field names
#
# Those information let you configure the plugin options automatically.
#
# If you are already using a form theme, you can use both by using:
# {%
#   form_theme myForm
#       'FuzAppBundle::my-form-theme.html.twig'
#       'FuzAppBundle::jquery.collection.html.twig'
#       ...
# %}
#}

{% block StationCollectionType_entry_row %}
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
{% endblock %}

{% block StationCollectionType_widget %}
    {% apply spaceless %}
    {% endapply %}
{% endblock %}

{% block _voyage_first_station_widget %}{# the collection field of TaskManager #}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
    {% endif %}
    {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
    {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
    {% set attr = attr|merge({'data-name-prefix': full_name}) %}
    {{ block('form_widget') }}
{% endblock %}


{% block _voyage_first_station_entry_widget %}{# the inner TaskListType #}
    <div class="stations-voyage local-border">
        <div class="row  py-2 px-2">
            <div class="col-5 col-md-5">
                <div class="  mt-2">
                    {{ form_label(form.city) }}
                </div>
                <div class=" mt-2">
                    {{ form_widget(form.city) }}
                </div>
            </div>
            <div class="col-7 col-md-5">
                <div class=" mt-2">
                    {{ form_label(form.place) }}
                </div>
                <div class=" mt-2">
                    {{ form_widget(form.place) }}
                </div>
            </div>
            {{ form_widget(form.duration) }}
            {{ form_widget(form.distance) }}
            <div class="col-12 col-md-2 mt-2 text-md-center">
                <a href="#" class="collection-remove btn cancel-joining-user" ><i class="fas fa-trash-alt"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block _voyage_station_entry_tasks_widget %}{# the collection field of TaskListType #}
{% endblock %}
{% block _voyage_station_entry_tasks_entry_widget %}{# the inner TaskType #}
{% endblock %}
{% block _voyage_station_entry_tasks_entry_name_widget %}{# the field of TaskType #}
{% endblock %}



