{% block subject %}
    {%- autoescape false -%}
        {#{{ 'resetting.email.subject'|trans({'%username%': user.username}) }}#}
        {% trans %}Reset Password{% endtrans %}
    {%- endautoescape -%}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        {#{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}#}
        {% trans %}Hello {% endtrans %}{{ ' ' }} {{user.firstname}}!
        {% trans %}To reset your password - please visit {% endtrans%} {{ ' ' }}{{confirmationUrl}}
        {% trans %}Regards,{% endtrans %}
        {% trans %}the DispoDeal Team.{% endtrans %}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
    {% apply inline_css(source("user/Mail/css/email.css")) %}
        <h3 class="blued text-center">{% trans %}Reset Password{% endtrans %}</h3>
        <div class="container message-border-blue">
            <div>
                <div class="logo-name text-center mt-1 message-border pading">
                    <a href="https://www.dispodeal.fr" target="_blank">
                        <img src="{{ logo }}" alt="DispoDeal">
                        <br>
                        <span class="blued"><span class="rosed">Dispo</span>Deal</span>
                    </a>
                </div>
                <div class="message-border mt-1 mb-1 pxy">
                    <div class="mt-1 mb-1 text-center">
                        <span class="grayed">{% trans %}Hello{% endtrans %}{{ ' ' }} {{user.firstname}} !</span>
                        <br>
                        <br>
                        <span class="grayed">{% trans %}To reset your password - please visit {% endtrans %}</span>
                        <br>
                        <br>
                        {{ confirmationUrl }}
                        <br>
                    </div>
                    <br>
                    <div class="mt-1 mb-1 text-center">
                        <span>{% trans %}Regards{% endtrans %}</span>
                        <br>
                        <span>{% trans %}the DispoDeal Team.{% endtrans %}</span>
                        <br>
                    </div>
                </div>
                <div class="text-center footer message-border mb-1">
                    <span>{% trans %}With best wishes from the team at  {% endtrans%} <a href="https://dispodeal.fr"><span class="blued"><span class="rosed">Dispo</span>Deal</span></a> </span>
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock %}