{% block content %}

    <div class="">
        {{ form_start(form) }}
        <div class="row mt-4 pt-4">
            <div class="col-md-12 ">
                <h1 class="text-center pt-0 title-blue">Nouvell annonce</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.category) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.sous) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.cato) }}
            </div>
        </div>
        <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.title) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.price) }}
                </div>
                <div class="col-md-2 mt-5">
                    {{ form_row(form.donate) }}
                </div>
                <div class="col-md-2 mt-5">
                    {{ form_row(form.withDriver) }}
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.description) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.imageOne) }}
                <img id="image4" src="http://www.placehold.it/180x90/EFEFEF/AAAAAA&amp;text=Add photo" alt="your image" class="mt-0"/>

            </div>

            <div class="col-md-4">
                {{ form_row(form.imageTow) }}
                <img id="image4" src="http://www.placehold.it/180x90/EFEFEF/AAAAAA&amp;text=Add photo" alt="your image" class="mt-0"/>
            </div>
            <div class="col-md-4">
                {{ form_row(form.imageThree) }}
                <img id="image4" src="http://www.placehold.it/180x90/EFEFEF/AAAAAA&amp;text=Add photo" alt="your image" class="mt-0"/>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <input type="submit" class="btn btn-primary" value="{{ 'Valider'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
    <script src="{{ asset('build/jquery.js') }}"></script>
    <script src="{{ asset('build/dropzone.js') }}"></script>
    <script>
        $(document).on('change', '#ad_category, #ad_sous', function () {
            let $field = $(this)
            let $regionField = $('#ad_category')
            let $form = $field.closest('form')
            let target = '#' + $field.attr('id').replace('sous', 'cato').replace('category', 'sous')
            // Les données à envoyer en Ajax
            let data = {}
            data[$regionField.attr('name')] = $regionField.val()
            data[$field.attr('name')] = $field.val()
            // On soumet les données
            $.post($form.attr('action'), data).then(function (data) {
                // On récupère le nouveau <select>
                let $input = $(data).find(target)
                // On remplace notre <select> actuel
                $(target).replaceWith($input)
            })

        });
    </script>
{% endblock %}


