{% extends "layout_user.html.twig" %}

{% block title %}Ad index{% endblock %}

{% block content %}
    <h1 class="text-center title-rose"> Ads index</h1>
    {# search#}
    {% if app.user is same as (null) %}
    {{ form_start(form) }}

    <div class="text-center border-respo">
        <div class="row ml-4">
            <div class="col-md-3 offset-1">
                {{ form_row(form.region) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.department) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.ville) }}
            </div>
        </div>
        <div class="row ml-4 mr-4">
            <div class="col-md-5 offset-1">
                {{ form_row(form.generalcategory) }}
            </div>
            <div class="col-md-5" >
                {{ form_row(form.category) }}
            </div>
        </div>
        <div class="row ml-4 mr-4">
            <div class="col-md-3 offset-1">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md-3" >
                {{ form_row(form.price) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.donate) }}
            </div>
            <div class="col-md-2" >
                {{ form_row(form.withDriver) }}
            </div>
        </div>
        <div id="dynamic_form">
            <div class="col">
                <div class="row">
                    {% if form.manufactureCompany is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.manufactureCompany) }}
                        </div>
                    {% endif %}
                    {% if form.minManufacturingYear is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.minManufacturingYear) }}
                        </div>
                    {% endif %}
                    {% if form.manufacturingYear is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.manufacturingYear) }}
                        </div>
                    {% endif %}
                    {% if form.maxManufacturingYear is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.maxManufacturingYear) }}
                        </div>
                    {% endif %}
                    {% if form.subjectName is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.subjectName) }}
                        </div>
                    {% endif %}
                    {% if form.brand is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.brand) }}
                        </div>
                    {% endif %}
                    {% if form.city is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.city) }}
                        </div>
                    {% endif %}
                    {% if form.age is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.age) }}
                        </div>
                    {% endif %}
                    {% if form.dateOfEvent is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.dateOfEvent) }}
                        </div>
                    {% endif %}
                    {% if form.model is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.model) }}
                        </div>
                    {% endif %}
                    {% if form.material is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.material) }}
                        </div>
                    {% endif %}
                    {% if form.theType is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.theType) }}
                        </div>
                    {% endif %}
                    {% if form.minKilometer is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.minKilometer) }}
                        </div>
                    {% endif %}
                    {% if form.kilometer is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.kilometer) }}
                        </div>
                    {% endif %}
                    {% if form.maxKilometer is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.maxKilometer) }}
                        </div>
                    {% endif %}
                    {% if form.changeGear is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.changeGear) }}
                        </div>
                    {% endif %}
                    {% if form.fuelType is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.fuelType) }}
                        </div>
                    {% endif %}
                    {% if form.ability is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.ability) }}
                        </div>
                    {% endif %}
                    {% if form.acitvityArea is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.acitvityArea) }}
                        </div>
                    {% endif %}
                    {% if form.mission is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.mission) }}
                        </div>
                    {% endif %}
                    {% if form.workHours is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.workHours) }}
                        </div>
                    {% endif %}
                    {% if form.experience is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.experience) }}
                        </div>
                    {% endif %}
                    {% if form.levelOfStudent is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.levelOfStudent) }}
                        </div>
                    {% endif %}
                    {% if form.levelOfStudy is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.levelOfStudy) }}
                        </div>
                    {% endif %}
                    {% if form.typeOfContract is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.typeOfContract) }}
                        </div>
                    {% endif %}
                    {% if form.salary is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.salary) }}
                        </div>
                    {% endif %}
                    {% if form.typeOfTranslation is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.typeOfTranslation) }}
                        </div>
                    {% endif %}
                    {% if form.placeOfLesson is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.placeOfLesson) }}
                        </div>
                    {% endif %}
                    {% if form.durationOfLesson is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.durationOfLesson) }}
                        </div>
                    {% endif %}
                    {% if form.language is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.language) }}
                        </div>
                    {% endif %}
                    {% if form.languages is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.languages) }}
                        </div>
                    {% endif %}
                    {% if form.secondLanguage is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.secondLanguage) }}
                        </div>
                    {% endif %}
                    {% if form.accuracy is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.accuracy) }}
                        </div>
                    {% endif %}
                    {% if form.capacity is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.capacity) }}
                        </div>
                    {% endif %}
                    {% if form.minCapacity is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.minCapacity) }}
                        </div>
                    {% endif %}
                    {% if form.maxCapacity is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.maxCapacity) }}
                        </div>
                    {% endif %}
                    {% if form.dvdCd is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.dvdCd) }}
                        </div>
                    {% endif %}
                    {% if form.analogDigital is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.analogDigital) }}
                        </div>
                    {% endif %}
                    {% if form.minArea is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.minArea) }}
                        </div>
                    {% endif %}
                    {% if form.area is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.area) }}
                        </div>
                    {% endif %}
                    {% if form.maxArea is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.maxArea) }}
                        </div>
                    {% endif %}
                    {% if form.floor is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.floor) }}
                        </div>
                    {% endif %}
                    {% if form.heating is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.heating) }}
                        </div>
                    {% endif %}
                    {% if form.heatingType is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.heatingType) }}
                        </div>
                    {% endif %}
                    {% if form.coverMaterial is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.coverMaterial) }}
                        </div>
                    {% endif %}
                    {% if form.shape is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.shape) }}
                        </div>
                    {% endif %}
                    {% if form.originCountry is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.originCountry) }}
                        </div>
                    {% endif %}
                    {% if form.animalSpecies is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.animalSpecies) }}
                        </div>
                    {% endif %}
                    {% if form.minCaliber is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.minCaliber) }}
                        </div>
                    {% endif %}
                    {% if form.caliber is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.caliber) }}
                        </div>
                    {% endif %}
                    {% if form.maxCaliber is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.maxCaliber) }}
                        </div>
                    {% endif %}
                    {% if form.generalSituation is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.generalSituation) }}
                        </div>
                    {% endif %}
                    {% if form.processor is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.processor) }}
                        </div>
                    {% endif %}
                    {% if form.ram is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.ram) }}
                        </div>
                    {% endif %}
                    {% if form.printingColor is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.printingColor) }}
                        </div>
                    {% endif %}
                    {% if form.printingType is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.printingType) }}
                        </div>
                    {% endif %}
                    {% if form.paperSize is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.paperSize) }}
                        </div>
                    {% endif %}
                    {% if form.iSize is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.iSize) }}
                        </div>
                    {% endif %}
                    {% if form.sSize is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.sSize) }}
                        </div>
                    {% endif %}
                    {% if form.screenSizeCm is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.screenSizeCm) }}
                        </div>
                    {% endif %}
                    {% if form.screenSizeInch is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.screenSizeInch) }}
                        </div>
                    {% endif %}
                    {% if form.number is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.number) }}
                        </div>
                    {% endif %}
                    {% if form.numberOfPassengers is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.numberOfPassengers) }}
                        </div>
                    {% endif %}

                    {% if form.numberOfDoors is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.numberOfDoors) }}
                        </div>
                    {% endif %}
                    {% if form.numberOfDrawer is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.numberOfDrawer) }}
                        </div>
                    {% endif %}
                    {% if form.numberOfFloors is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.numberOfFloors) }}
                        </div>
                    {% endif %}
                    {% if form.numberOfHead is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.numberOfHead) }}
                        </div>
                    {% endif %}
                    {% if form.numberOfPersson is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.numberOfPersson) }}
                        </div>
                    {% endif %}
                    {% if form.minNumberOfRooms is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.minNumberOfRooms) }}
                        </div>
                    {% endif %}
                    {% if form.numberOfRooms is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.numberOfRooms) }}
                        </div>
                    {% endif %}
                    {% if form.maxNumberOfRooms is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.maxNumberOfRooms) }}
                        </div>
                    {% endif %}
                    {% if form.numberOfStaging is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.numberOfStaging) }}
                        </div>
                    {% endif %}
                    {% if form.length is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.length) }}
                        </div>
                    {% endif %}
                    {% if form.width is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.width) }}
                        </div>
                    {% endif %}
                    {% if form.height is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.height) }}
                        </div>
                    {% endif %}
                    {% if form.weight is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.weight) }}
                        </div>
                    {% endif %}
                    {% if form.classEnergie is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.classEnergie) }}
                        </div>
                    {% endif %}
                    {% if form.ges is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.ges) }}
                        </div>
                    {% endif %}
                    {% if form.color is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.color) }}
                        </div>
                    {% endif %}
                    {% if form.maxDistance is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.maxDistance) }}
                        </div>
                    {% endif %}
                    {% if form.accessories is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.accessories) }}
                        </div>
                    {% endif %}
                    {% if form.cdRoom is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.cdRoom) }}
                        </div>
                    {% endif %}
                    {% if form.covered is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.covered) }}
                        </div>
                    {% endif %}
                    {% if form.electricHead is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.electricHead) }}
                        </div>
                    {% endif %}
                    {% if form.hdmi is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.hdmi) }}
                        </div>
                    {% endif %}
                    {% if form.threeInOne is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.threeInOne) }}
                        </div>
                    {% endif %}
                    {% if form.usb is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.usb) }}
                        </div>
                    {% endif %}
                    {% if form.whitOven is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.whitOven) }}
                        </div>
                    {% endif %}
                    {% if form.wifi is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.wifi) }}
                        </div>
                    {% endif %}
                    {% if form.withElevator is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.withElevator) }}
                        </div>
                    {% endif %}
                    {% if form.withOven is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.withOven) }}
                        </div>
                    {% endif %}
                    {% if form.withFreezer is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.withFreezer) }}
                        </div>
                    {% endif %}
                    {% if form.withFurniture is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.withFurniture) }}
                        </div>
                    {% endif %}
                    {% if form.withGarden is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.withGarden) }}
                        </div>
                    {% endif %}
                    {% if form.withVerandah is defined %}
                        <div class="col-md-3">
                            {{ form_row(form.withVerandah) }}
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    {% if form.price is defined %}
                        <div class="col-md-3 mt-5 ">
                            {{ form_row(form.price) }}
                        </div>
                    {% endif %}
                    {% if form.donate is defined %}
                        <div class="col-md-3 mt-5 ">
                            {{ form_row(form.donate) }}
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    {% if form.withDriver is defined %}
                        <div class="col-md-12 mt-5 text-center">
                            {{ form_row(form.withDriver) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
            {{ form_end(form) }}
        </div>

    {% endif %}
    <div class="text-center">
    {% if app.user is same as (null) %}
        <div class="row">
            {% for ad in sAds %}
                    <div class="text-center col-md-3 px-md-2 my-2 ad_show">
                        <div id="ad_index" class="ad_index">
                            <a href="{{ path('ad_show', {'id': ad.id}) }}"class="">
                                <div class="px-2 border-ad">
                                    <div class="row">
                                        <div class="col-md-12 pt-2">
                                            <div class=" ">
                                                <b class="title-blue float-left">{#{{ ad.typeOfAd }}#}{{ ad.category.parent }}{{ '/' }}{{ ad.category }}</b>
                                                {% if "now"|date('Y-m-d') == ad.dateOfAd|date('Y-m-d') %}
                                                    <b class="float-right ">{{ 'Aujoud\'hui' }}</b>
                                                {% elseif "now"|date('Y') == ad.dateOfAd|date('Y') and "now"|date('m') == ad.dateOfAd|date('m') and
                                                    "now"|date('d') == (ad.dateOfAd|date('d'))+1 %}
                                                    <b class="float-right ">{{ 'Hier' }}</b>
                                                {% else %}
                                                    <b class="float-right ">{{ 'De ' }}{{ ad.dateOfAd|date('Y-m-d') }}</b>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if ad.typeOfAd is same as ('Offer') %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                {% if ad.imageOne is not null %}
                                                    <img class="image_ad" src="{{ asset('assets/images/annonce/'~ ad.imageOne) }}" alt="">
                                                {% else %}
                                                    {% if ad.imageTow is not null %}
                                                        <img class="image_ad" src="{{ asset('assets/images/annonce/'~ ad.imageTow) }}" alt="">
                                                    {% else %}
                                                        {% if ad.imageThree is not null %}
                                                            <img class="image_ad" src="{{ asset('assets/images/annonce/'~ ad.imageThree) }}" alt="">
                                                        {% else %}
                                                            <img class="image_ad " src="/assets/images/icons/sansphoto.jpeg" alt="">
                                                        {%endif%}
                                                    {%endif%}
                                                {%endif%}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img class="image_ad" src="{{ asset('assets/images/icons/search.jpg') }}" alt="">
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-md-8">
                                            {% if ad.pPrice is not same as (null) %}
                                                <span class="title-blue float-left"><del>{{ ad.pPrice }}€</del></span>
                                            {% endif %}
                                            {% if ad.price %}
                                                <span class="title-rose float-left">{{ ad.price }}€</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-4">
                                            <span class="float-right mt-3">{{ ad.user.city.name }}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="mx-2">

                        </div>
                    </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
    {% if app.user is not same as (null) %}
        {% if ad_area is not empty %}
            <div class="row">
                {% for a_ad in ad_area %}
                    <div class="text-center col-md-3 px-md-2 my-2 ad_show">
                        <div id="ad_index" class="ad_index">
                            <a href="{{ path('ad_show', {'id': a_ad.id}) }}"class="">
                                <div class="px-2 border-ad">
                                    <div class="row">
                                        <div class="col-md-12 pt-2">
                                            <div class=" ">
                                                <b class="title-blue float-left">{{ a_ad.typeOfAd }}</b>
                                                {% if "now"|date('Y-m-d') == a_ad.dateOfAd|date('Y-m-d') %}
                                                    <b class="float-right ">{{ 'Aujoud\'hui' }}</b>
                                                {% elseif "now"|date('Y') == a_ad.dateOfAd|date('Y') and "now"|date('m') == a_ad.dateOfAd|date('m') and
                                                    "now"|date('d') == (a_ad.dateOfAd|date('d'))+1 %}
                                                    <b class="float-right ">{{ 'Hier' }}</b>
                                                {% else %}
                                                    <b class="float-right ">{{ 'De ' }}{{ a_ad.dateOfAd|date('Y-m-d') }}</b>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if a_ad.typeOfAd is same as ('Offer') %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                {% if a_ad.imageOne is not null %}
                                                <img class="image_ad" src="{{ asset('assets/images/annonce/'~ a_ad.imageOne) }}" alt="">
                                                {% else %}
                                                    {% if a_ad.imageTow is not null %}
                                                        <img class="image_ad" src="{{ asset('assets/images/annonce/'~ a_ad.imageTow) }}" alt="">
                                                    {% else %}
                                                        {% if a_ad.imageThree is not null %}
                                                            <img class="image_ad" src="{{ asset('assets/images/annonce/'~ a_ad.imageThree) }}" alt="">
                                                        {% else %}
                                                            <img class="image_ad " src="/assets/images/icons/sansphoto.jpeg" alt="">
                                                        {%endif%}
                                                    {%endif%}
                                                {%endif%}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img class="image_ad" src="{{ asset('assets/images/icons/search.jpg') }}" alt="">
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-md-8">
                                            {% if a_ad.pPrice is not same as (null) %}
                                                <span class="title-blue float-left"><del>{{ a_ad.pPrice }}€</del></span>
                                            {% endif %}
                                            {% if a_ad.price %}
                                                <span class="title-rose float-left">{{ a_ad.price }}€</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-4">
                                            <span class="float-right mt-3">{{ a_ad.user.city.name }}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="mx-2">

                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                {% for ad in ads %}
                    <div class="text-center col-md-3 px-md-2 my-2 ad_show">
                        <div id="ad_index" class="ad_index">
                            <a href="{{ path('ad_show', {'id': ad.id}) }}"class="">
                                <div class="px-2 border-ad">
                                    <div class="row">
                                        <div class="col-md-12 pt-2">
                                            <div class=" ">
                                                <b class="title-blue float-left">{{ ad.typeOfAd }}</b>
                                                {% if "now"|date('Y-m-d') == ad.dateOfAd|date('Y-m-d') %}
                                                    <b class="float-right ">{{ 'Aujoud\'hui' }}</b>
                                                {% elseif "now"|date('Y') == ad.dateOfAd|date('Y') and "now"|date('m') == ad.dateOfAd|date('m') and
                                                    "now"|date('d') == (ad.dateOfAd|date('d'))+1 %}
                                                    <b class="float-right ">{{ 'Hier' }}</b>
                                                {% else %}
                                                    <b class="float-right ">{{ 'De ' }}{{ ad.dateOfAd|date('Y-m-d') }}</b>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if ad.typeOfAd is same as ('Offer') %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                {% if ad.imageOne is not null %}
                                                    <img class="image_ad" src="{{ asset('assets/images/annonce/'~ ad.imageOne) }}" alt="">
                                                {% else %}
                                                    {% if ad.imageTow is not null %}
                                                        <img class="image_ad" src="{{ asset('assets/images/annonce/'~ ad.imageTow) }}" alt="">
                                                    {% else %}
                                                        {% if ad.imageThree is not null %}
                                                            <img class="image_ad" src="{{ asset('assets/images/annonce/'~ ad.imageThree) }}" alt="">
                                                        {% else %}
                                                            <img class="image_ad " src="/assets/images/icons/sansphoto.jpeg" alt="">
                                                        {%endif%}
                                                    {%endif%}
                                                {%endif%}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img class="image_ad" src="{{ asset('assets/images/icons/search.jpg') }}" alt="">
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-md-8">
                                            {% if ad.pPrice is not same as (null) %}
                                                <span class="title-blue float-left"><del>{{ ad.pPrice }}€</del></span>
                                            {% endif %}
                                            {% if ad.price %}
                                                <span class="title-rose float-left">{{ ad.price }}€</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-4">
                                            <span class="float-right mt-3">{{ ad.user.city.name }}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="mx-2">

                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {#{% else %}#}
        {#<div class="row">
            {% for ad in ads %}
                <div class="text-center col-md-3 px-md-2 my-2 ad_show">
                    <div id="ad_index" class="ad_index">
                        <a href="{{ path('ad_show', {'id': ad.id}) }}"class="">
                            <div class="px-2 border-ad">
                                <div class="row">
                                    <div class="col-md-12 pt-2">
                                        <div class=" ">
                                            <b class="title-blue float-left">{{ ad.typeOfAd }}</b>
                                            {% if "now"|date('Y-m-d') == ad.dateOfAd|date('Y-m-d') %}
                                                <b class="float-right ">{{ 'Aujoud\'hui' }}</b>
                                            {% elseif "now"|date('Y') == ad.dateOfAd|date('Y') and "now"|date('m') == ad.dateOfAd|date('m') and
                                                "now"|date('d') == (ad.dateOfAd|date('d'))+1 %}
                                                <b class="float-right ">{{ 'Hier' }}</b>
                                            {% else %}
                                                <b class="float-right ">{{ 'De ' }}{{ ad.dateOfAd|date('Y-m-d') }}</b>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if ad.typeOfAd is same as ('Offer') %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% if ad.imageOne is not null %}
                                                <img class="image_ad" src="{{ asset('assets/images/annonce/'~ ad.imageOne) }}" alt="">
                                            {% else %}
                                                {% if ad.imageTow is not null %}
                                                    <img class="image_ad" src="{{ asset('assets/images/annonce/'~ ad.imageTow) }}" alt="">
                                                {% else %}
                                                    {% if ad.imageThree is not null %}
                                                        <img class="image_ad" src="{{ asset('assets/images/annonce/'~ ad.imageThree) }}" alt="">
                                                    {% else %}
                                                        <img class="image_ad " src="/assets/images/icons/sansphoto.jpeg" alt="">
                                                    {%endif%}
                                                {%endif%}
                                            {%endif%}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img class="image_ad" src="{{ asset('assets/images/icons/search.jpg') }}" alt="">
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-8">
                                        {% if ad.pPrice is not same as (null) %}
                                            <span class="title-blue float-left"><del>{{ ad.pPrice }}€</del></span>
                                        {% endif %}
                                        {% if ad.price %}
                                            <span class="title-rose float-left">{{ ad.price }}€</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        <span class="float-right mt-3">{{ ad.user.city.name }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="mx-2">

                    </div>
                </div>
            {% endfor %}
        </div>#}
    {% endif %}
{# ------------------  End area ads -------------------#}

{% endblock %}
