{% extends "layout_user.html.twig" %}

{% block title %}Ad{% endblock %}
{% block content %}
        <div class="">
                <div class="row border-offer">
                    <div class="col-md-2">
                        <span class="float-left mt-4 mb-4">{{ ad.typeOfAd }} </span>
                    </div>
                    <div class="col-md-8 mt-2 text-center">
                        <span class="text-center title-rose">{{ ad.title }}</span>
                    </div>
                    <div class="col-md-2  mt-4">
                        {% if "now"|date('Y-m-d') == ad.dateOfAd|date('Y-m-d') %}
                           <span class="float-right title-blue">{{ 'Aujoud\'hui à' }}{{ ad.dateOfAd|date('H') }}{{ 'h' }}{{ ad.dateOfAd|date('i') }}</span>
                        {% elseif "now"|date('Y') == ad.dateOfAd|date('Y') and "now"|date('m') == ad.dateOfAd|date('m') and
                            "now"|date('d') == (ad.dateOfAd|date('d'))+1 %}
                            <span class="float-right title-blue">{{ 'Hier à' }}{{ ad.dateOfAd|date('H') }}{{ 'h' }}{{ ad.dateOfAd|date('i') }}</span>
                        {% else %}
                        <span class="float-right title-blue">{{ 'De ' }}{{ ad.dateOfAd|date('Y-m-d') }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row border-respo">
                {% if ad.typeOfAd is same as ('Offer') %}
                    <div class="col-md-6 mt-4 mb-4">
                        <!--Carousel Wrapper-->
                        <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half " data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                                <li data-target="#carousel-example-2" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                            <!--Slides-->
                            <div class="carousel-inner g-photo" role="listbox">
                                {%  if ad.imageOne is not null %}
                                <div class="carousel-item active">
                                    <div class="view">
                                        <div class="item active">
                                            <img src="{{ asset('assets/images/annonce/'~ ad.imageOne) }}" alt="">
                                        </div>
                                        <div class="mask rgba-black-light"></div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if ad.imageTow is not null %}
                                    {% if ad.imageOne is  null %}
                                <div class="carousel-item active">
                                    {% else %}
                                <div class="carousel-item">
                                    {% endif %}
                                    <!--Mask color-->
                                    <div class="view">
                                        <div class="item active">
                                            <img src="{{ asset('assets/images/annonce/'~ ad.imageTow) }}" alt="">
                                        </div>
                                        <div class="mask rgba-black-light"></div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if ad.imageThree is not null %}
                                    {% if (ad.imageOne is  null) and (ad.imageTow is null) %}
                                    <div class="carousel-item active">
                                    {% else %}
                                    <div class="carousel-item">
                                    {% endif %}
                                    <!--Mask color-->
                                    <div class="view">
                                        <div class="item active">
                                            <img src="{{ asset('assets/images/annonce/'~ ad.imageThree) }}" alt="">
                                        </div>
                                        <div class="mask rgba-black-light"></div>
                                    </div>
                                </div>
                                {%endif%}
                                {% if (ad.imageOne is null) and (ad.imageTow is null) and (ad.imageThree is null) %}
                                    <div class="item active">
                                        <img class="item " src="/assets/images/icons/sansphoto.jpeg" alt="">
                                    </div>
                                {%endif%}
                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                    <div class="col-md-4 pt-5">
                        {% for spe in ad.category.ospecifications  %}
                            {% if(spe.name is not same as ("donate")) and (spe.name is not same as("price")and (specifications[spe.name] is defined)) %}
                                {% if spe.name is same as ('languages') %}
                                    <div class="p-2">
                                        <span class="font-weight-bold">{{ spe.label }} {{ ':' }}</span>
                                    {% for language in specifications[spe.name] %}
                                    <span class="title-blue ">{{ language }}&nbsp; </span>
                                    {% endfor %}
                                    </div>
                                {% else %}
                                <div class="p-2">
                                    <span class="font-weight-bold">{{ spe.label }} {{ ':' }}</span><span class="title-blue ">{{ specifications[spe.name] }} </span><br>
                                </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-2 pt-4 text-center">
                        <div class="p-2 border-respo mt-2 mb-2 pt-4">
                            <span class="font-weight-bold ">{{ ad.user.city.name }}</span><br>
                            <span class="font-weight-bold ">{{ ad.user.city.zipcode }}</span>
                        </div>
                        <div class="p-2 border-respo mt-2 mb-2 pt-4">
                            {% if(ad.withDriver is same as (true)) %}
                                <span class="font-weight-bold ">With Driver</span>
                            {% else %}
                                <span class="font-weight-bold ">With out Driver</span>
                            {% endif %}
                        </div>
                        <div class="p-2 border-respo mt-2 mb-2 pt-4">
                            {% if(ad.donate is same as (true)) %}
                                <span class="font-weight-bold">Donate</span>
                            {% else %}
                                <span class="font-weight-bold">For Sell</span>
                            {% endif %}
                        </div>
                        <div class="p-2 border-respo mt-2 mb-2 pt-4 mb-4">
                            {% if((ad.pPrice is not same as (ad.price)) and (ad.pPrice is not null)) %}
                                <span class=""><del class="title-rose">{{ ad.pPrice }}€</del></span><br>
                            {% endif %}
                            {% if(ad.price is not null) %}
                                <span class="font-weight-bold">{{ ad.price }}€</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-md-6 mt-4 mb-4">
                    <img class="item " src="/assets/images/icons/search.jpg" alt="" style="width: 90%;height: 280px">
                </div>
                <div class="col-md-4 pt-5">
                    {% for spe in ad.category.dspecifications  %}
                        {% if(spe.name is not same as ("donate")) and (spe.name is not same as("price")and (specifications[spe.name] is defined)) %}
                            <div class="p-2">
                                <span class="font-weight-bold">{{ spe.label }} {{ ':' }}</span><span class="title-blue ">{{ specifications[spe.name] }} </span><br>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-2 pt-4 text-center">
                    <div class="p-2 border-respo mt-2 mb-2 pt-4">
                        <span class="font-weight-bold ">{{ ad.user.city.name }}</span><br>
                        <span class="font-weight-bold ">{{ ad.user.city.zipcode }}</span>
                    </div>
                    <div class="p-2 border-respo mt-2 mb-2 pt-4">
                        {% if(ad.withDriver) %}
                            <span class="font-weight-bold ">With Driver</span>
                        {% else %}
                            <span class="font-weight-bold ">With out Driver</span>
                        {% endif %}
                    </div>
                    <div class="p-2 border-respo mt-2 mb-2 pt-4">
                        {% if(ad.donate) %}
                            <span class="font-weight-bold">Donate</span>
                        {% else %}
                            <span class="font-weight-bold">For Sell</span>
                        {% endif %}
                    </div>
                    <div class="p-2 border-respo mt-2 mb-2 pt-4 mb-4">
                        {% if((ad.pPrice is not same as (ad.price)) and (ad.pPrice is not null)) %}
                            <span class=""><del class="title-rose">{{ ad.pPrice }}€</del></span><br>
                        {% endif %}
                        {% if(ad.price is not null) %}
                            <span class="title-blue">{{ ad.price }}€</span>
                        {% endif %}
                    </div>
                </div>
        </div>
        {% endif %}
        <div class="row border-respo">
            <div class="row">
                <div class="col-md-12 p-2 pl-4">
                    <span class="title-blue">Description</span><br>
                    {{ ad.description }}
                </div>
            </div>
        </div>
        <div class="row border-offer">
            {% if ad.user is same as (app.user) %}
                <div class="">
                    <div class="col p-2 pl-4">
                        <a class="btn btn-info btn-lg " href="{{ path('ad_edit', {'id': ad.id}) }}">Edit</a>
                        <div class="btn " >{{ include('ad/_delete_form.html.twig') }}</div>
                    </div>
                </div>
            {% else %}
                {% if ad.user.emailStatus %}
                    <div class="mt-4 ml-2 d-block">
                        <span class="font-weight-bolder"> Email :</span> {{ ad.user.email }}
                    </div>
                {% endif %}
                {% if ad.user.phonNumberStatus %}
                    <div class="mt-4 ml-2 d-block">
                        <span class="font-weight-bold"> TEL :</span>{{ ad.user.phoneNumber }}
                    </div>
                {% endif %}
                    <div class="col mt-2 mb-2">
                        <button type="button" class="btn btn-info"href="{{ path('ad_edit', {'id': ad.id}) }}">Message</button>
                    </div>
                    <div class="col mt-2 mb-2">
                        <button type="button" class="btn btn-info"href="{{ path('ad_edit', {'id': ad.id}) }}">Report</button>
                    </div>
                    <span class="mt-3 mb-2 ">{{ ad.user.point }} Point</span>
                    <a data-toggle="dropdown"  href="{{ path('fos_user_profile_show') }}">
                             <span class="profile-ava">
                                 <img alt="" src="/assets/images/icons/avatar.jpeg" id="avatar-small" class="mt-2 mb-2 mr-3">
                             </span>
                    </a>
            {% endif %}
        </div>
{% endblock %}