{% extends "layout_user.html.twig" %}

{% block title %}Deal{% endblock %}

{% block content %}
    <div class="">
        <div class="deal-show ">
            <div class="row col-md-8 offset-2 pt-2 border-deal">
                <div class="btn-group driver deal-show ">
                    <div class="text-center mx-4 px-2 py-2  ">
                        {% if deal.offerUser.id is same as(app.user.id) %}
                            <div class=" d-block text-center">
                                <a class="d-block" href="{{ path('user_show', {'id': deal.offerUser.id}) }}">
                                    <img  src="{{ asset( deal.offerUser.photoProfile()) }}" alt="offerUser" class="float-right">
                                </a>
                                <b class="d-block ">{{ deal.offerUser.firstname }}</b>
                                <b class="d-block ">{{ deal.offerUser.city.name }}</b>
                            </div>
                        {% else %}
                            <div class="d-block text-center">
                                <a href="{{ path('user_show', {'id': deal.demandUser.id}) }}">
                                    <img  src="{{ asset( deal.demandUser.photoProfile()) }}" class="float-right">
                                </a>
                                <b class="d-block">{{ deal.demandUser.firstname }}</b>
                                <b class="d-block">{{ deal.demandUser.city.name }}</b>
                            </div>
                        {% endif %}
                    </div>
                    <div class="mt-3 mx-3 text-center">
                        <i class="fas fa-handshake deal-show-photo mt-0"></i><br>
                        <b class="title-rose ">{% if deal.category.name is same as('Other') %}{{ deal.offer.subjectName }}{% else %}{{ deal.category}}{% endif %}</b>
                        {% if deal.driverUser %}
                            {% set driverId =null %}
                            {% for driver in drivers %}
                                {% if driver.user.id is same as (deal.driverUser.id) %}
                                    {% set driverId = driver.id %}
                                {% endif %}
                            {% endfor %}
                            <div class="row ">
                                <div class="deal-show col-md-12 ">
                                    <div class="mb-2">
                                        <a href="{{ path('driver_show',{'id': driverId}) }}">
                                            <img src="{{ asset(deal.driverUser.photoProfile()) }}" ><br>
                                        </a>
                                        <i class="fas fa-truck-moving button-left" title="Driver request"></i>
                                        {{ deal.driverUser.firstname }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="text-center mx-4 px-2 py-2  sasa">
                        {% if deal.offerUser.id is not same as(app.user.id) %}
                            <div class="d-block text-center float-right">
                                <a href="{{ path('user_show', {'id': deal.offerUser.id}) }}">
                                    <img  src="{{ asset( deal.offerUser.photoProfile()) }}" >
                                </a>
                                <b class="d-block">{{ deal.offerUser.firstname }}</b>
                                <b class="d-block">{{ deal.offerUser.city.name }}</b>
                            </div>
                        {% else %}
                            <div class="d-block text-center">
                                <a href="{{ path('user_show', {'id': deal.demandUser.id}) }}">
                                    <img  src="{{ asset( deal.demandUser.photoProfile()) }}" >
                                </a>
                                <b class="d-block">{{ deal.demandUser.firstname }}</b>
                                <b class="d-block">{{ deal.demandUser.city.name }}</b>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div>
                    {% if app.user %}
                        {% set isFavorite = 'false' %}
                        {#data-favorite must be string not boolean#}
                        {% for favorite in app.user.getFavoritesByType('deal')  %}
                            {% if favorite.deal is same as (deal) %}
                                {% set isFavorite = 'true' %}
                            {% endif %}
                        {% endfor %}
                        <form method="post" action="{{ url('favorite_add') }}" class="js-favorite-add  mt-1" data-object="{{ deal.id }}" data-type="deal" data-favorite="{{ isFavorite }}">
                            <div class="flexbox">
                                <div class="fav-btn">
                                    <span class="fas fa-heart  favme dashicons dashicons-heart  {% if isFavorite is same as ('true') %} {{'active'}} {% endif %}"></span>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
            {% if deal.offerUser is same as (app.user) and deal.demandUserStatus %}
                <div class="justify-content-center my-0">
                    <p class="text-center rosed">
                        <span class="blued">{{ deal.demandUser.firstname|title  }}
                            {% if deal.driverStatus %}
                                and {{ deal.driverUser.firstname|title  }}
                            {% endif %}
                        </span>{% trans %} ended the deal.{% endtrans %}  </p>
                </div>
            {% elseif deal.demandUser is same as (app.user) and deal.offerUserStatus %}
                <div class="justify-content-center my-0">
                    <p class="text-center rosed">
                        <span class="blued">{{ deal.offerUser.firstname|title  }}
                            {% if deal.driverStatus %}
                                {% trans %} and{% endtrans %} {{ deal.driverUser.firstname|title  }}
                            {% endif %}
                        </span> {% trans %} ended the deal.{% endtrans %}</p>
                </div>
            {% elseif deal.driverStatus %}
            <div class="justify-content-center my-0">
                <p class="text-center rosed">
                <span class="blued">{{ deal.driverUser.firstname|title }}</span>{% trans %} ended the deal.{% endtrans %}  </p>
            </div>
            {% endif %}
            <div class= "row ">
                <div class="deal-show col-md-12 py-1 ">
                    <div class="row">
                        <div class="col-md-8 offset-2">
                            <table class="table table-striped border-deal  ">
                                <thead>
                                <tr>
                                    <th scope="col">{% trans %}Specification{% endtrans %}</th>
                                    <th scope="col">
                                        {% if deal.offerUser.id is same as(app.user.id) %}
                                            <a href="{{ path('ad_show', {'id': deal.offer.id}) }}">
                                               {#<i class="fab fa-adversal"></i>#}<img src="{{ asset('assets/images/icons/o-gray.png') }}">{% trans %} Your offer{% endtrans %}
                                            </a>
                                        {% else %}
                                            <a href="{{ path('ad_show', {'id': deal.demand.id}) }}">
                                                {#<i class="fab fa-affiliatetheme"></i>#} <img src="{{ asset('assets/images/icons/d-gray.png') }}"> {% trans %} Your demand{% endtrans %}
                                            </a>
                                        {% endif %}
                                    </th>
                                    <th scope="col">
                                        {% if deal.demandUser.id is same as(app.user.id) %}
                                            <a href="{{ path('ad_show', {'id': deal.offer.id}) }}">
                                                {#<i class="fab fa-adversal"></i>#} <img src="{{ asset('assets/images/icons/o-gray.png') }}">{{ deal.offerUser.firstname }}{% trans %} offer{% endtrans %}
                                            </a>
                                        {% else %}
                                            <a href="{{ path('ad_show', {'id': deal.demand.id}) }}">
                                                {#<i class="fab fa-affiliatetheme"></i>#} <img src="{{ asset('assets/images/icons/d-gray.png') }}"> {{ deal.demandUser.firstname }}{% trans %} demand{% endtrans %}
                                            </a>
                                        {% endif %}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, value in specification %}
                                    {% if deal.offerUser.id is same as(app.user.id) %}
                                        {% if key is same as ('Date Of Event')  %}
                                            <tr>
                                                <th scope="row">{{ key  }}</th>
                                                <td>{{ value['offer']|date("m/d/Y") }}</td>
                                                <td>{{ value['demand'] }}</td>
                                            </tr>
                                        {% elseif key is same as ('Languages')  %}
                                            <tr>
                                                <th scope="row">{{ key }}</th>
                                                <td>
                                                    {% for cont in value['offer'] %}
                                                        {#for show - befor all languages without the first#}
                                                        {% if cont is same as(value['offer'][0]) %}
                                                            {{cont}}
                                                        {% else %}
                                                            {{ ' - ' }}{{cont}}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for cont in value['demand'] %}
                                                        {#for show - befor all languages without the first#}
                                                        {% if cont is same as(value['demand'][0]) %}
                                                            {{cont}}
                                                        {% else %}
                                                            {{ ' - ' }}{{cont}}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr class="{#{% if value['offer'] is same as(value['demand'])  %}{{ 'bg-success' }}{% endif %}#}">
                                                <th scope="row">{{ key }}</th>
                                                <td>{{ value['offer'] }}</td>
                                                <td>{{ value['demand'] }}</td>
                                            </tr>
                                        {% endif %}
                                    {% else %}
                                        {% if key is same as ('Date Of Event')  %}
                                            <tr>
                                                <th scope="row">{{ key  }}</th>
                                                <td>{{ value['demand'] }}</td>
                                                <td>{{ value['offer']|date("m/d/Y") }}</td>
                                            </tr>
                                        {% elseif key is same as ('Languages')  %}
                                            <tr>
                                                <th scope="row">{{ key }}</th>
                                                <td>
                                                    {% for cont in value['demand'] %}
                                                        {#for show - befor all languages without the first#}
                                                        {% if cont is same as(value['demand'][0]) %}
                                                            {{cont}}
                                                        {% else %}
                                                            {{ ' - ' }}{{cont}}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for cont in value['offer'] %}
                                                        {#for show - befor all languages without the first#}
                                                        {% if cont is same as(value['offer'][0]) %}
                                                            {{cont}}
                                                        {% else %}
                                                            {{ ' - ' }}{{cont}}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr class="{#{% if value['offer'] is same as(value['demand'])  %}{{ 'bg-success' }}{% endif %}#}">
                                                <th scope="row">{{ key }}</th>
                                                <td>{{ value['demand'] }}</td>
                                                <td>{{ value['offer'] }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-8 offset-2 border-deal ">
                            <div class="row py-1 ">
                                <div class="btn-group  ">
                                    {% if deal.driverUser %}
                                        {% if deal.offerUser.id is same as(app.user.id) %}
                                            <form method="post" action="{{ url('new_conversation') }}"id="demandUser-message">
                                                <button class="btn btn-outline-info btn-block mx-1 " >
                                                    <input type="hidden" name="user" value="{{ deal.demandUser.id }}">
                                                    <p class="mt-1"><i class="fas fa-comments"></i>{% trans %}  Message to{% endtrans %}{{deal.demandUser.firstname}}</p>
                                                </button>
                                            </form>
                                            <form method="post" action="{{ url('new_conversation') }}"id="driverUser-message">
                                                <button class="btn btn-outline-info btn-block mx-1 " >
                                                    <input type="hidden" name="user" value="{{ deal.driverUser.id }}">
                                                    <p class="mt-1"><i class="fas fa-comments"></i>{% trans %}  Message to {% endtrans %}{{deal.driverUser.firstname}}</p>
                                                </button>
                                            </form>
                                        {% elseif deal.demandUser.id is same as(app.user.id) %}
                                            <form method="post" action="{{ url('new_conversation') }}"id="offerUser-message">
                                                <button class="btn btn-outline-info btn-block mx-1 " >
                                                    <input type="hidden" name="user" value="{{ deal.offerUser.id }}">
                                                    <p class="mt-1"><i class="fas fa-comments"></i> {% trans %}Message to  {% endtrans %}{{deal.offerUser.firstname}}</p>
                                                </button>
                                            </form>
                                            <form method="post" action="{{ url('new_conversation') }}"id="driverUser-message">
                                                <button class="btn btn-outline-info btn-block mx-1 " >
                                                    <input type="hidden" name="user" value="{{ deal.driverUser.id }}">
                                                    <p class="mt-1"><i class="fas fa-comments"></i>{% trans %}  Message to {% endtrans %}{{deal.driverUser.firstname}}</p>
                                                </button>
                                            </form>
                                        {% else %}
                                            <form method="post" action="{{ url('new_conversation') }}"id="demandUser-message">
                                                <button class="btn btn-outline-info btn-block mx-1 " >
                                                    <input type="hidden" name="user" value="{{ deal.demandUser.id }}">
                                                    <p class="mt-1"><i class="fas fa-comments"></i>{% trans %}  Message to {% endtrans %}{{deal.demandUser.firstname}}</p>
                                                </button>
                                            </form>
                                            <form method="post" action="{{ url('new_conversation') }}" id="offerUser-message">
                                                <button class="btn btn-outline-info btn-block mx-1" >
                                                    <input type="hidden" name="user" value="{{ deal.offerUser.id }}">
                                                    <p class="mt-1"><i class="fas fa-comments"></i>{% trans %}  Message to {% endtrans %}{{deal.offerUser.firstname}}</p>
                                                </button>
                                            </form>
                                        {% endif %}
                                    {% else %}
                                        {% if deal.offerUser.id is same as(app.user.id) %}
                                            <form method="post" action="{{ url('new_conversation') }}"id="demandUser-message">
                                                <button class="btn btn-outline-info btn-block mx-1 " >
                                                    <input type="hidden" name="user" value="{{ deal.demandUser.id }}">
                                                    <p class="mt-1"><i class="fas fa-comments"></i>{% trans %}Message to  {% endtrans %} {{deal.demandUser.firstname}}</p>
                                                </button>
                                            </form>
                                        {% else %}
                                            <form method="post" action="{{ url('new_conversation') }}" id="offerUser-message">
                                                <button class="btn btn-outline-info btn-block mx-1" >
                                                    <input type="hidden" name="user" value="{{ deal.offerUser.id }}">
                                                    <p class="mt-1"><i class="fas fa-comments"></i> {% trans %} Message to{% endtrans %} {{deal.offerUser.firstname}}</p>
                                                </button>
                                            </form>
                                        {% endif %}
                                    {% endif %}


                                    <form method="post" action="{{ path('deal_done', {'id': deal.id}) }}" onsubmit="return confirm('Are you sure you want to finish this Deal?');">
                                        <button class="btn btn-outline-success btn-block mx-1 ">
                                            <p class="mt-1"><i class="fas fa-check-circle"></i> {% trans %} Deal done{% endtrans %}</p>
                                        </button>
                                    </form>
                                    {% if app.user is not same as(deal.driverUser) %}

                                    <form method="post" action="{{ path('deal_delete', {'id': deal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this Deal?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ deal.id) }}">
                                        <button class="btn btn-outline-danger btn-block mx-1">
                                            <p class="mt-1"><i class="fas fa-window-close"></i>{% trans %} Cancel the deal{% endtrans %} </p>
                                        </button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" driver-request">
                        <div class="col-md-8 offset-2  ">
                            <div class="deal-show row py-1 ">
                                {% for driverRequest in  deal.driverRequests() %}
                                    {% if driverRequest.user is same as (app.user) %}
                                    <div class="border-deal {{ driverRequest.status }}">
                                        <div class="row pt-2 mx-4 pb-0">
                                            <div class="col-md-4">
                                                <h5>{% trans %}Requested at :  {% endtrans %} {{ driverRequest.date|date("m/d/Y") }}</h5>
                                            </div>
                                            <div class="col-md-2 offset-6 ">
                                                <div class="float-right btn-group">
                                                    {% if driverRequest.status is same as ('accepted') %}
                                                    <form method="post" action="{{ path('driver_request_add', {'driverRequest': driverRequest.id,'deal':deal.id}) }}"
                                                          onsubmit="return confirm('NOTE : If you add this driver to the deal\n'+
                                                            'All the driver requests will be canceled before adding\n' +
                                                             'Are you sure you want to add this driver to your deal?');">
                                                        <button class="btn btn-success" href="">{% trans %} Add driver to deal{% endtrans %}</button>
                                                    </form>
                                                    {% endif %}
                                                    <form method="post" action="{{ path('driver_request_delete', {'id': driverRequest.id,'deal':deal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this request?');">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ driverRequest.id) }}">
                                                        <button class="btn btn-danger ml-2" href="">{% trans %} Cancel the request{% endtrans %}</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-1">
                                        <div class="row ">
                                            <div class="col-md-2 px-4 pb-2">
                                                <a href="{{ path('driver_show',{'id': driverRequest.driver.id}) }}">
                                                    {% if driverRequest.driver.user.profileImage %}
                                                        <img class="mb-3 {% if driverRequest.driver.user.isActiveNow %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}" src="{{ asset('/assets/images/profile/'~driverRequest.driver.user.profileImage) }}" alt="User" >
                                                    {% else %}
                                                        <img class="mb-3 {% if driverRequest.driver.user.isActiveNow %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}" src="{{ asset('/assets/images/profile/user-avatar.png') }}" alt="User">
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="col-md-7 pt-2">
                                                <b>{% trans %} Driver : {% endtrans %}{{ driverRequest.driver.user.firstname }} {{ driverRequest.driver.user.lastname }}</b><br>
                                                <b>{% trans %} Car brand : {% endtrans %}{{ driverRequest.driver.carBrand }} </b><br>
                                                <b>{% trans %} City : {% endtrans %}{{ driverRequest.driver.city }}</b>
                                            </div>
                                            <div class="col-md-3 text-center">
                                               <p>{% trans %} Request status{% endtrans %}</p>
                                                <div class="bdg-serenite mb-2">
                                                    <h3>{{ driverRequest.status|upper }}</h3>
                                                    {% if  driverRequest.price %}
                                                    <span class="">{% trans %} Suggested price : {% endtrans %}<span class="title-blue">{{ driverRequest.price }}</span>{{ ' €' }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                        <div class="border-deal {{ driverRequest.status }}">
                                            <div class="row pt-2 mx-4 pb-0">
                                                <div class="col">
                                                    <h5><span class="title-blue">{{ driverRequest.user.firstname }} </span> {% trans %}had made a driver's request at :  {% endtrans %}{{ driverRequest.date|date("m/d/Y") }}</h5>
                                                </div>
                                            </div>
                                            <hr class="my-1">
                                            <div class="row ">
                                                <div class="col-md-2 px-4 pb-2">
                                                    <img  src="{{ asset('/assets/images/profile/'~driverRequest.driver.user.profileImage) }}" alt="offerUser" class="">
                                                </div>
                                                <div class="col-md-7 pt-2">
                                                    <b>{% trans %}Driver :  {% endtrans %}{{ driverRequest.driver.user.firstname }} {{ driverRequest.driver.user.lastname }}</b><br>
                                                    <b>{% trans %} Car brand : {% endtrans %}{{ driverRequest.driver.carBrand }} </b><br>
                                                    <b>{% trans %} City : {% endtrans %}{{ driverRequest.driver.city }}</b>
                                                </div>
                                                <div class="col-md-3 text-center">
                                                    <p>{% trans %} Request status{% endtrans %}</p>
                                                    <div class="bdg-serenite mb-2">
                                                        <h3>{{ driverRequest.status|upper }}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if deal.demandUser is same as (app.user)  %}
                    {% if drivers is not same as (null)  %}
                        <div class="">
                            <div class= "col-md-8 offset-2  ">
                                <div class="deal-show row py-1 ">
                                    <div class="btn-group driver ">
                                        {% if drivers is not empty %}
                                            {% for driver in drivers %}
                                                <div class="text-center mx-2 px-2 py-2 border-deal ">
                                                    <a href="{{ path('driver_show',{'id': driver.id}) }}">
                                                        {% if driver.user.profileImage %}
                                                            <img class="mb-3 {% if driver.user.isActiveNow %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}" src="{{ asset('/assets/images/profile/'~driver.user.profileImage) }}" alt="User" >
                                                        {% else %}
                                                            <img class="mb-3 {% if driver.user.isActiveNow %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}" src="{{ asset('/assets/images/profile/user-avatar.png') }}" alt="User">
                                                        {% endif %}
                                                    </a>
                                                    <p class="mt-1">{{driver.user.firstname}}</p>
                                                    <p class="mt-1">{{ driver.point }}{{ ' Points' }}</p>
                                                    <p class="mt-1">{{ driver.feedback }}</p>
                                                    <form method="post" action="{{ url('new_conversation') }}" id="offerUser-message">
                                                        <button class="btn btn-info mx-1" >
                                                            <input type="hidden" name="user" value="{{ driver.user.id }}">
                                                            <p class="mt-1">{% trans %} Message to{% endtrans %} {{driver.user.firstname}}</p>
                                                        </button>
                                                    </form>
                                                    <button id="driver_request_js" data-toggle="modal" class="btn btn-info my-1 btn-block"
                                                            data-target="#driverRequest-{{ driver.id }}"
                                                            {% if deal.driverUser %}
                                                                disabled
                                                            {% endif %}>
                                                        {% trans %} Driver request{% endtrans %}
                                                    </button>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="col-md-12">
                                                <div class="border-deal px-4">
                                                    <a class="text-center  px-2">
                                                        <h2>{% trans %} There is no Drivers in this area{% endtrans %}</h2>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- modal start-->
    {% for driver in drivers %}
    <div class="modal fade bd-example-modal-lg mt-4" id="driverRequest-{{ driver.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 9999;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                        {{ render(controller('App\\Controller\\DriverRequestController::new',{ 'driver': driver.id , 'deal':deal.id })) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">{% trans %} Close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- modal end-->
{% endblock %}
