{% extends 'base.html.twig' %}

{% block title %}SDspecification index{% endblock %}

{% block body %}
    <h1>SDspecification index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Label</th>
                <th>Type</th>
                <th>TextOptions</th>
                <th>NumericOptions</th>
                <th>TypeOfChoice</th>
                <th>MinOption</th>
                <th>MaxOption</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for s_dspecification in s_dspecifications %}
            <tr>
                <td>{{ s_dspecification.id }}</td>
                <td>{{ s_dspecification.name }}</td>
                <td>{{ s_dspecification.label }}</td>
                <td>{{ s_dspecification.type }}</td>
                <td>{{ s_dspecification.textOptions ? s_dspecification.textOptions|join(', ') : '' }}</td>
                <td>{{ s_dspecification.numericOptions ? s_dspecification.numericOptions|join(', ') : '' }}</td>
                <td>{{ s_dspecification.typeOfChoice }}</td>
                <td>{{ s_dspecification.minOption }}</td>
                <td>{{ s_dspecification.maxOption }}</td>
                <td>
                    <a href="{{ path('s_dspecification_show', {'id': s_dspecification.id}) }}">show</a>
                    <a href="{{ path('s_dspecification_edit', {'id': s_dspecification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('s_dspecification_new') }}">Create new</a>
{% endblock %}
