{% extends 'base.html.twig' %}

{% block title %}SDspecification{% endblock %}

{% block body %}
    <h1>SDspecification</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ s_dspecification.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ s_dspecification.name }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ s_dspecification.label }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ s_dspecification.type }}</td>
            </tr>
            <tr>
                <th>TextOptions</th>
                <td>{{ s_dspecification.textOptions ? s_dspecification.textOptions|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>NumericOptions</th>
                <td>{{ s_dspecification.numericOptions ? s_dspecification.numericOptions|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>TypeOfChoice</th>
                <td>{{ s_dspecification.typeOfChoice }}</td>
            </tr>
            <tr>
                <th>MinOption</th>
                <td>{{ s_dspecification.minOption }}</td>
            </tr>
            <tr>
                <th>MaxOption</th>
                <td>{{ s_dspecification.maxOption }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('s_dspecification_index') }}">back to list</a>

    <a href="{{ path('s_dspecification_edit', {'id': s_dspecification.id}) }}">edit</a>

    {{ include('s_dspecification/_delete_form.html.twig') }}
{% endblock %}
