{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {'method': 'post', 'action': path('new_vote', {'candidate': candidate.id, 'type':type}) }) }}
<div class="row">
    <div class="col-md-8 offset-2">
        <h4 class="title-blue text-center">{% trans %} Driver Rating{% endtrans %}</h4>
        <div class="driver">
            <div class="row ">
                <div class="col-md-2 offset-5 deal-show mt-4 btn-group">
                    <img src="{{ asset('/assets/images/profile/'~candidate.profileImage) }}" alt="">
                </div>
            </div>
            <div class="row ">
                <div class="col-md-2 offset-5 deal-show  btn-group">
                    <span class="pt-1 text-center"> {{ candidate.firstname }}</span>
                </div>
            </div>
            <div class="row ">
                <div class=" deal-show  btn-group">
                    {{ form_row(form.value) }}
                </div>
            </div>
            <div class="meetup-text justify-content-center">
                {{ form_row(form.comment) }}
            </div>
            <button class="btn btn-info float-right">{% trans %} Rating{% endtrans %}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
