{% set hostingForm = form_hostingSearchType.getForm().createView() %}
<div class="row register-form">
    <div class="col-md-12 mt-4">
        {{ form_start(hostingForm, {'attr': {'id': 'search-hosting'}}) }}
        <div class="text-center ">
            <div class="row">
                <div class="col-md-2 border-search">
                    <div class="">
                        {{ form_row(hostingForm.region) }}
                    </div>
                    <div class="">
                        {{ form_row(hostingForm.department) }}
                    </div>
                    <div class="">
                        {{ form_row(hostingForm.ville) }}
                    </div>
                </div>
                <div class="col-md-2 border-search">
                    <div class="">
                        {{ form_row(hostingForm.languages) }}
                    </div>
                </div>
                <div id="hosting-specifications"class="col-md-8">
                    <div class="row">
                        <div class="col-md-5 offset-1">
                            {{ form_row(hostingForm.numberOfPersons) }}
                        </div>
                        <div class="col-md-5 ">
                            {{ form_row(hostingForm.numberOfDays) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  offset-2 ">
                            <div class="row">
                                <span class="blued float-left mb-2">{% trans %}With ability to host :  {% endtrans %}</span>
                            </div>
                            <div class="row">
                                {{ form_row(hostingForm.handicapped)}}
                            </div>
                            <div class="row">
                                {{ form_row(hostingForm.child) }}
                            </div>
                            <div class="row">
                                {{ form_row(hostingForm.animal) }}
                            </div>
                        </div>
                        <div class="col-md-5 offset-1">
                            <div class="row">
                                <span class="blued float-left mb-2">{% trans %}With ability to share : {% endtrans %} </span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        {{ form_row(hostingForm.food)}}
                                    </div>
                                    <div class="row">
                                        {{ form_row(hostingForm.conversation) }}
                                    </div>
                                    <div class="row">
                                        {{ form_row(hostingForm.cityTour) }}
                                    </div>
                                    <div class="row">
                                        {{ form_row(hostingForm.music) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        {{ form_row(hostingForm.videoGame) }}
                                    </div>
                                    <div class="row">
                                        {{ form_row(hostingForm.movie) }}
                                    </div>
                                    <div class="row">
                                        {{ form_row(hostingForm.television) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-md-12">
                <input type="submit" id="valide-offer-search" class="btn btn-info btn-block" value="{{ 'Search'|trans }}" />
            </div>
        </div>
    </div>
</div>

{{ form_end(hostingForm) }}
<a href="{{ path('search_city') }}" id="url-list" class="hidden"></a>
<a href="{{ path('get_city') }}" id ="url-get" class="hidden"></a>

