{% set meetupForm = form_meetupSearchType.getForm().createView() %}
<div class="row register-form">
    <div class="col-md-12 mt-4">
        {{ form_start(meetupForm, {'attr': {'id': 'search-meetup'}}) }}
        <div class="text-center ">
            <div class="row">
                <div class="col-md-2 border-search">
                    <div class="">
                        {{ form_row(meetupForm.region) }}
                    </div>
                    <div class="">
                        {{ form_row(meetupForm.department) }}
                    </div>
                    <div class="">
                        {{ form_row(meetupForm.city) }}
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-8 offset-2">
                            {{ form_row(meetupForm.title) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-2">
                            <div class="">
                                {{ form_row(meetupForm.type) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="">
                                {{ form_row(meetupForm.maxParticipants) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-md-12">
                <input type="submit" id="valide-offer-search" class="btn btn-info btn-block" value="{{ 'Search'|trans }}" />
            </div>
        </div>
    </div>
</div>

{{ form_end(meetupForm) }}
<a href="{{ path('search_city') }}" id="url-list" class="hidden"></a>
<a href="{{ path('get_city') }}" id ="url-get" class="hidden"></a>

