{% extends "layout_user.html.twig" %}

{% block title %}User{% endblock %}
{% block content %}
    <div class="fos_user_user_show px-4 py-4">
        <div class="row">
            <div class="col-md-2 offset-5 btn-group ">
                <div class=" profile-edit ml-2  ">
                    <a class="">
                        {% if user.profileImage %}
                            <img class="mb-3 {% if user.isActiveNow %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}" src="{{ asset('/assets/images/profile/'~user.profileImage) }}" alt="User" >
                        {% else %}
                            <img class="mb-3 {% if user.isActiveNow %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}" src="{{ asset('/assets/images/profile/avatar.jpeg') }}" alt="User">
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
        <div class="justify-content-center">
            <h1 class="text-center pt-3">{{ user.firstname|title }} {{ user.lastname|upper }}</h1>
            <h1 class="pt-3 bdg-accord ">{{ user.point }} <span>Points</span></h1>
        </div>
        <div class="justify-content-center">
            <div class="text-center pt-2">
                <h5 class=" pt-0 title-blue">Renseignements personnels</h5>
                {% if user.emailStatus %}
                    <h6 class="d-inline font-weight-bold">Email :  </h6><span>  {{ user.email }}</span>
                    <br>
                {% endif %}
                {% if user.phonNumberStatus and user.phoneNumber %}
                    <h6 class="d-inline font-weight-bold">Phone number :  </h6><span>  {{ user.phoneNumber }}</span>
                    <br>
                {% endif %}
                {% if user.genderStatus and user.gender %}
                    <h6 class="d-inline font-weight-bold">Sex :  </h6><span>  {{ user.gender }}</span>
                    <br>
                {% endif %}
                {% if user.birthdayStatus and user.birthday%}
                    <h6 class="d-inline font-weight-bold">Birth day :  </h6><span>  {{ user.birthday }}</span>
                    <br>
                {% endif %}
                <h6 class="d-inline font-weight-bold">Max distance :  </h6><span>  {{ user.maxDistance }} <span class="font-weight-bold">Km</span></span>
                <br>
            </div>
        </div>
        <div class="justify-content-center">
            <div class="text-center pt-2">
                <h5 class=" pt-0 title-blue">Positioning</h5>
                <div class="col">
                    <h6 class="d-inline font-weight-bold">Department :  </h6><span>  {{ user.city.department }}</span>
                </div>
                <div class="col ">
                    <h6 class="d-inline font-weight-bold">Region :  </h6><span>  {{ user.city.department.region }}</span>
                </div>
                <div class="col ">
                    <h6 class="d-inline font-weight-bold">Last login :  </h6><span>  {{ user.lastLogin|date('d  M  Y')  }}</span>
                </div>
            </div>
        </div>
        <div class="justify-content-center  ">
            {% if user.driver %}
                <div class="row text-center btn-group mt-4">
                    <b class="rosed">Driver</b><br>
                </div>
                <div class="row btn-group profile-edit">
                    <a href="#">
                        {% if user.driver.carImage %}
                            {% if user.driver.carImage is same as ('with out photo') %}
                                <img class="mb-3 {% if user.driver.active %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}"
                                     src="{{ asset('/assets/images/car_driver/car-avatar.jpg') }}" alt="car-avatar">
                            {% else %}
                                <img class="mb-3 {% if user.driver.active %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}"
                                     src="{{ asset('/assets/images/car_driver/'~user.driver.carImage) }}" alt="car-adriver" >
                            {% endif %}
                        {% else %}
                            <img class="mb-3 {% if user.driver.active %}{{ 'online-status' }}{% else %}{{ 'offline-status' }}{% endif %}"
                                 src="{{ asset('/assets/images/car_driver/car-avatar.jpg') }}" alt="User">
                        {% endif %}
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="justify-content-center">
            <div class="text-center pt-2">
                <button class="btn btn-info">Message</button>
            </div>
        </div>
    </div>
{% endblock %}
