{% extends 'base.html.twig' %}

{% block title %}Specification index{% endblock %}

{% block body %}
    <h1>Specification index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mission</th>
                <th>AcitvityArea</th>
                <th>FullPartial</th>
                <th>TypeOfContract</th>
                <th>Experience</th>
                <th>LevelOfStudy</th>
                <th>Language</th>
                <th>TypeOfTranslation</th>
                <th>Material</th>
                <th>PlaceOfLesson</th>
                <th>LevelOfStudent</th>
                <th>Brand</th>
                <th>Color</th>
                <th>FuelType</th>
                <th>Model</th>
                <th>ChangeGear</th>
                <th>ManufactureCompany</th>
                <th>GeneralSituation</th>
                <th>PaperSize</th>
                <th>PrintingType</th>
                <th>PrintingColor</th>
                <th>KeyboardLanguage</th>
                <th>AnalogDigital</th>
                <th>MachinName</th>
                <th>AnimalColor</th>
                <th>AnimalSpecies</th>
                <th>FilmName</th>
                <th>BookName</th>
                <th>DvdCd</th>
                <th>LanguageBookFilm</th>
                <th>OriginCountry</th>
                <th>ClothesMaterial</th>
                <th>ClothesSize</th>
                <th>CoverMaterial</th>
                <th>Shape</th>
                <th>GazType</th>
                <th>Heating</th>
                <th>HeatingType</th>
                <th>ClassEnergie</th>
                <th>Ges</th>
                <th>EventType</th>
                <th>SubjectName</th>
                <th>Salary</th>
                <th>DurationOfLesson</th>
                <th>MaxDistance</th>
                <th>ManufacturingYear</th>
                <th>MaxManufacturingYear</th>
                <th>MinManufacturingYear</th>
                <th>NumberOfPassengers</th>
                <th>NumberOfDoors</th>
                <th>Kilometer</th>
                <th>MaxKilometer</th>
                <th>MinKilometer</th>
                <th>Processor</th>
                <th>HddCapacity</th>
                <th>Ram</th>
                <th>ScreenSizeCm</th>
                <th>ScreenSizeInch</th>
                <th>Capacity</th>
                <th>Accuracy</th>
                <th>Weight</th>
                <th>Caliber</th>
                <th>MaxCaliber</th>
                <th>MinCaliber</th>
                <th>Gauge</th>
                <th>SizePerfume</th>
                <th>ShoeSize</th>
                <th>ParachuteSize</th>
                <th>Number</th>
                <th>AnimalAge</th>
                <th>Width</th>
                <th>Height</th>
                <th>KidsClothesSize</th>
                <th>NumberOfPersson</th>
                <th>Length</th>
                <th>DiapersSize</th>
                <th>CapacitySize</th>
                <th>NumberOfDrawer</th>
                <th>NumberOfStaging</th>
                <th>NumberOfHead</th>
                <th>WashingCapacity</th>
                <th>Ability</th>
                <th>TiresSize</th>
                <th>Floor</th>
                <th>Area</th>
                <th>MinArea</th>
                <th>MaxArea</th>
                <th>RoomNumber</th>
                <th>MinRoomNumber</th>
                <th>MaxRoomNumber</th>
                <th>NumberOfFloors</th>
                <th>Hdmi</th>
                <th>CdRoom</th>
                <th>Wifi</th>
                <th>Usb</th>
                <th>TreeInOne</th>
                <th>Accessories</th>
                <th>WithFreezer</th>
                <th>ElectricHead</th>
                <th>WithOven</th>
                <th>Covered</th>
                <th>WithFurniture</th>
                <th>WithGarden</th>
                <th>WithVerandah</th>
                <th>WithElevator</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specification in specifications %}
            <tr>
                <td>{{ specification.id }}</td>
                <td>{{ specification.mission }}</td>
                <td>{{ specification.acitvityArea }}</td>
                <td>{{ specification.fullPartial }}</td>
                <td>{{ specification.typeOfContract }}</td>
                <td>{{ specification.experience }}</td>
                <td>{{ specification.levelOfStudy }}</td>
                <td>{{ specification.language }}</td>
                <td>{{ specification.typeOfTranslation }}</td>
                <td>{{ specification.material }}</td>
                <td>{{ specification.placeOfLesson }}</td>
                <td>{{ specification.levelOfStudent }}</td>
                <td>{{ specification.brand }}</td>
                <td>{{ specification.color }}</td>
                <td>{{ specification.fuelType }}</td>
                <td>{{ specification.model }}</td>
                <td>{{ specification.changeGear }}</td>
                <td>{{ specification.manufactureCompany }}</td>
                <td>{{ specification.generalSituation }}</td>
                <td>{{ specification.paperSize }}</td>
                <td>{{ specification.printingType }}</td>
                <td>{{ specification.printingColor }}</td>
                <td>{{ specification.keyboardLanguage }}</td>
                <td>{{ specification.analogDigital }}</td>
                <td>{{ specification.machinName }}</td>
                <td>{{ specification.animalColor }}</td>
                <td>{{ specification.animalSpecies }}</td>
                <td>{{ specification.filmName }}</td>
                <td>{{ specification.bookName }}</td>
                <td>{{ specification.dvdCd }}</td>
                <td>{{ specification.languageBookFilm }}</td>
                <td>{{ specification.originCountry }}</td>
                <td>{{ specification.clothesMaterial }}</td>
                <td>{{ specification.clothesSize }}</td>
                <td>{{ specification.coverMaterial }}</td>
                <td>{{ specification.shape }}</td>
                <td>{{ specification.gazType }}</td>
                <td>{{ specification.heating }}</td>
                <td>{{ specification.heatingType }}</td>
                <td>{{ specification.classEnergie }}</td>
                <td>{{ specification.ges }}</td>
                <td>{{ specification.eventType }}</td>
                <td>{{ specification.subjectName }}</td>
                <td>{{ specification.salary }}</td>
                <td>{{ specification.durationOfLesson }}</td>
                <td>{{ specification.maxDistance }}</td>
                <td>{{ specification.manufacturingYear }}</td>
                <td>{{ specification.maxManufacturingYear }}</td>
                <td>{{ specification.minManufacturingYear }}</td>
                <td>{{ specification.numberOfPassengers }}</td>
                <td>{{ specification.numberOfDoors }}</td>
                <td>{{ specification.kilometer }}</td>
                <td>{{ specification.maxKilometer }}</td>
                <td>{{ specification.minKilometer }}</td>
                <td>{{ specification.processor }}</td>
                <td>{{ specification.hddCapacity }}</td>
                <td>{{ specification.ram }}</td>
                <td>{{ specification.screenSizeCm }}</td>
                <td>{{ specification.screenSizeInch }}</td>
                <td>{{ specification.capacity }}</td>
                <td>{{ specification.accuracy }}</td>
                <td>{{ specification.weight }}</td>
                <td>{{ specification.caliber }}</td>
                <td>{{ specification.maxCaliber }}</td>
                <td>{{ specification.minCaliber }}</td>
                <td>{{ specification.gauge }}</td>
                <td>{{ specification.sizePerfume }}</td>
                <td>{{ specification.shoeSize }}</td>
                <td>{{ specification.parachuteSize }}</td>
                <td>{{ specification.number }}</td>
                <td>{{ specification.animalAge }}</td>
                <td>{{ specification.width }}</td>
                <td>{{ specification.height }}</td>
                <td>{{ specification.kidsClothesSize }}</td>
                <td>{{ specification.numberOfPersson }}</td>
                <td>{{ specification.length }}</td>
                <td>{{ specification.diapersSize }}</td>
                <td>{{ specification.capacitySize }}</td>
                <td>{{ specification.numberOfDrawer }}</td>
                <td>{{ specification.numberOfStaging }}</td>
                <td>{{ specification.numberOfHead }}</td>
                <td>{{ specification.washingCapacity }}</td>
                <td>{{ specification.ability }}</td>
                <td>{{ specification.tiresSize }}</td>
                <td>{{ specification.floor }}</td>
                <td>{{ specification.area }}</td>
                <td>{{ specification.minArea }}</td>
                <td>{{ specification.maxArea }}</td>
                <td>{{ specification.roomNumber }}</td>
                <td>{{ specification.minRoomNumber }}</td>
                <td>{{ specification.maxRoomNumber }}</td>
                <td>{{ specification.numberOfFloors }}</td>
                <td>{{ specification.hdmi ? 'Yes' : 'No' }}</td>
                <td>{{ specification.cdRoom ? 'Yes' : 'No' }}</td>
                <td>{{ specification.wifi ? 'Yes' : 'No' }}</td>
                <td>{{ specification.usb ? 'Yes' : 'No' }}</td>
                <td>{{ specification.treeInOne ? 'Yes' : 'No' }}</td>
                <td>{{ specification.accessories ? 'Yes' : 'No' }}</td>
                <td>{{ specification.withFreezer ? 'Yes' : 'No' }}</td>
                <td>{{ specification.electricHead ? 'Yes' : 'No' }}</td>
                <td>{{ specification.withOven ? 'Yes' : 'No' }}</td>
                <td>{{ specification.covered ? 'Yes' : 'No' }}</td>
                <td>{{ specification.withFurniture ? 'Yes' : 'No' }}</td>
                <td>{{ specification.withGarden ? 'Yes' : 'No' }}</td>
                <td>{{ specification.withVerandah ? 'Yes' : 'No' }}</td>
                <td>{{ specification.withElevator ? 'Yes' : 'No' }}</td>
                <td>{{ specification.date ? specification.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('specification_show', {'id': specification.id}) }}">show</a>
                    <a href="{{ path('specification_edit', {'id': specification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="108">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('specification_new') }}">Create new</a>
{% endblock %}
