{% extends 'base.html.twig' %}

{% block title %}SOspecification index{% endblock %}

{% block body %}
    <h1>SOspecification index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Label</th>
                <th>Type</th>
                <th>TextOptions</th>
                <th>NumericOptions</th>
                <th>TypeOfChoice</th>
                <th>MinOption</th>
                <th>MaxOption</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for s_ospecification in s_ospecifications %}
            <tr>
                <td>{{ s_ospecification.id }}</td>
                <td>{{ s_ospecification.name }}</td>
                <td>{{ s_ospecification.label }}</td>
                <td>{{ s_ospecification.type }}</td>
                <td>{{ s_ospecification.textOptions ? s_ospecification.textOptions|join(', ') : '' }}</td>
                <td>{{ s_ospecification.numericOptions ? s_ospecification.numericOptions|join(', ') : '' }}</td>
                <td>{{ s_ospecification.typeOfChoice }}</td>
                <td>{{ s_ospecification.minOption }}</td>
                <td>{{ s_ospecification.maxOption }}</td>
                <td>
                    <a href="{{ path('s_ospecification_show', {'id': s_ospecification.id}) }}">show</a>
                    <a href="{{ path('s_ospecification_edit', {'id': s_ospecification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('s_ospecification_new') }}">Create new</a>
{% endblock %}
