<div class="row">
    <div class="col-12 mt-3">
        {% if app.user is not same as(null) %}
        <h4 class="text-center blued">{% trans %} Comments{% endtrans %}</h4>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 mt-3 local-border pt-2">
                {{ include('meetup/meetup/comment_form.html.twig') }}
            </div>
        </div>
        {% else %}
            <div class="row">
                <div class="col-lg-8 offset-lg-2 mt-3 text-center">
                    <a class="btn btn-outline-info my-4" href="{{ path('security_login') }}">{% trans %} Login for add a comment{% endtrans %}</a>
                </div>
            </div>
        {% endif %}
        {% for comment in comments|sort|reverse %}
            <div class="row">
                <div class="col-lg-8 offset-lg-2 border-deal border-comment">
                    <div class="row border-comment-head pt-1">
                        <div class="col-12 py-1">
                            <div class="d-inline">
                                <img src="{{ comment.sender.photoProfile() }}" alt="" class="vote-avatar">
                                <h6 class="ml-2 mt-2 d-inline btn-group">{{ comment.sender.firstname|title }}</h6>
                            </div>
                            <div class="float-right pt-1">
                                {% set date = comment.date_format(comment.createdAt) %}
                                {{   date|trans }}
                            </div>
                            {% if app.user is same as(comment.sender) or app.user is same as(comment.meetup.creator) %}
                                <div class="float-right">
                                    <div class="delete-comment">
                                        <form method="post" action="{{ path('meetup_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm(Translator.trans('Do you really want to remove this comment ?'));">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                            <button class="btn float-right"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mx-1 ">
                            <p class="minimize mx-2 my-2 meetup-text">{{ comment.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="pagination-search row justify-content-center mt-4">
    <div class="navigation">
        {{ knp_pagination_render(comments) }}
    </div>
</div>
