<div class="row">
    <div class="col-md-12 mt-3">
        {% if app.user is not same as(null) %}
        <h4 class="text-center blued">Comments</h4>
        <div class="row">
            <div class="col-md-6 offset-3 border-deal pt-2">
                {{ include('meetup/meetup/comment_form.html.twig') }}
            </div>
        </div>
        {% else %}
            <div class="row">
                <div class="col-md-4 offset-4">
                    <a class="btn btn-outline-info btn-block my-4 my-sm-0 ml-2" data-toggle="modal" data-target="#login">Login for add a comment</a>
                </div>
            </div>
        {% endif %}
        {% for comment in comments|sort|reverse %}
            <div class="row">
                <div class="col-md-6 offset-3 border-deal border-comment">
                    <div class="row border-comment-head pt-1">
                        <div class="col-md-4">
                            <img src="{{ comment.sender.photoProfile() }}" alt="" class="vote-avatar">
                            <div class="mt-2">
                                <span class="ml-1">{{ comment.sender.firstname|title }}</span>
                            </div>
                        </div>
                        <div class="col-md-4 offset-4 mt-1">
                            <div class="float-right pt-1">
                                {{   comment.date_format(comment.createdAt) }}
                            </div>
                            {% if app.user is same as(comment.sender) or app.user is same as(comment.meetup.creator) %}
                                <div class="float-right">
                                    <div class="delete-comment">
                                        <form method="post" action="{{ path('meetup_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Do you really want to remove this comment ?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                            <button class="btn float-right"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mx-1 ">
                            <p class="minimize mx-2 my-2 meetup-text">{{ comment.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="pagination-search row justify-content-center mt-4">
    <div class="navigation">
        {{ knp_pagination_render(comments) }}
    </div>
</div>
