{% extends 'layout_user.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if app.user is not same as(null) %}
                <div class="row">
                    <div class="btn-group btn-block" id="meetup-button">
                        <a class="btn btn-info" href="{{path('meetup_index')}}" >{% trans %} My meetup{% endtrans %}</a>
                        <a class="btn btn-gray" href="{{path('meetup_join')}}">{% trans %} Meetup join{% endtrans %}</a>
                        <a class="btn btn-info " id="btn-meetup-gps">{% trans %}Near me{% endtrans %}
                            <form method="post" action="{{path('meetup_near_me')}}" id="meetup-gps" >
                                <input type="hidden" name="meetup_lat" id="meetup_gps_lat">
                                <input type="hidden" name="meetup_lng" id="meetup_gps_lng">
                            </form>
                        </a>
                        <a class="btn btn-info" href="{{path('meetup_new')}}">{% trans %} New meetup{% endtrans %}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <h6 class="text-center blued my-2">{% trans %} My meetups join{% endtrans %}</h6>
    {% if app.user is not same as (null) %}
        {% if meetupsJoin is not empty %}
            <div class="row">
                {% for meetup in meetupsJoin %}
                    <div class="col-md-6 col-lg-4 my-2 meetup_index">
                        <div class="full-border border-right-0">
                            <div class="back-gray">
                                <a href="{{ path('meetup_show', {'id': meetup.id}) }}" >
                                    <div class="row">
                                        <div class="col-12 image_meetup_index text-center">
                                            <div class="">
                                                <img src="{{ meetup.meetupImage() }}" alt="meetup image"/>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="px-2 pb-2">
                                                <div class="">
                                                    <h6 class="meetup-text rosed mt-1">
                                                        {{ meetup.title|length > 27 ? meetup.title|slice(0, 27) ~ '...' : meetup.title  }}
                                                    </h6>
                                                </div>
                                                <div class="">
                                                    <span class="white mt-3"><span class="blued">{% trans %} Type :{% endtrans %} </span>{{ meetup.type|trans }}</span>
                                                </div>
                                                <div class="">
                                                    <span class="white mt-3"><span class="blued">{% trans %} Start at :{% endtrans %} </span>{{ meetup.startAt|date('d M Y - H:i') }}</span>
                                                </div>
                                                <div class="">
                                                    <span class="white mt-3"><span class="blued">{% trans %} City :{% endtrans %} </span>{{ meetup.city.name }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="px-2 py-2">
                                        {% if meetup.isFinish() %}
                                            <span class="badge badge-danger float-left mt-2">{% trans %} Finish{% endtrans %}</span>
                                        {% endif %}
                                        {% set isFavorite = 'false' %}
                                        {#data-favorite must be string not boolean#}
                                        {% for favorite in app.user.getFavoritesByType('meetup')  %}
                                            {% if favorite.meetup is same as (meetup) %}
                                                {% set isFavorite = 'true' %}
                                            {% endif %}
                                        {% endfor %}
                                        <form method="post" action="{{ url('favorite_add') }}" class="js-favorite-add  float-right mr-2 mb-2" data-object="{{ meetup.id }}" data-type="meetup" data-favorite="{{ isFavorite }}">
                                            <div class="flexbox">
                                                <div class="fav-btn">
                                                    <span class="fas fa-heart  favme dashicons dashicons-heart  {% if isFavorite is same as ('true') %} {{'active'}} {% endif %}"></span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagination-search row justify-content-center mt-4">
                <div class="navigation">
                    {{ knp_pagination_render(meetupsJoin) }}
                </div>
            </div>
        {% else %}
            <h4 class="text-center title-blue">{% trans %}You have not meetups {% endtrans %}</h4>
        {% endif %}
    {% endif %}
{% endblock %}
