{% if not meetup.isFinish() %}
     {% if app.user is same as(meetup.creator) %}
        {% set col = '4' %}
     {% else %}
        {% set col = '6' %}
     {% endif %}
    <div class="row my-4 participants">
        <div class="col-lg-{{col}} local-border mt-1 py-2">
            <h5 class="rosed text-center">{% trans %} Participants{% endtrans %}</h5>
            {% if meetup.participants is not empty %}
                {% for user in meetup.participants %}
                    <div class="border-driver user-link mt-2">
                        <div class="row">
                            <div class="col-12">
                                <a href="{{ path('user_show',{'id':user.id}) }}" class="btn-group ml-2">
                                    <img src="{{ user.photoProfile() }}" alt="profile photo" class="vote-avatar my-2">
                                    <span class="blued ml-1 mt-3">{{ user.firstname|title }} {{ user.lastname|upper }}</span>
                                </a>
                                {% if app.user is same as(meetup.creator) %}
                                    <div class="cancel-joining-user">
                                        <form method="post" action="{{ path('cancel_joining',{'meetup':meetup.id,'user':user.id}) }}" onsubmit="return confirm(Translator.trans('Are you sure you want to remove this user ?'));">
                                            <button class="btn float-right"><i class="fas fa-user-slash mt-1"></i></button>
                                        </form>
                                    </div>
                                {% endif %}
                                {% if app.user is same as(user) %}
                                    <div class="cancel-joining-user">
                                        <form method="post" action="{{ path('cancel_joining',{'meetup':meetup.id,'user':user.id}) }}" onsubmit="return confirm(Translator.trans('Do you really want to leave this meetup ?'));">
                                            <button class="btn float-right"><i class="fas fa-user-slash mt-1"></i></button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col text-center">
                        <span class="blued "><i class="far fa-clock"></i> {% trans %} There is no participant in this meetup{% endtrans %}</span>
                    </div>
                </div>
            {% endif %}

            {% if app.user is not same as(null) %}
                {% if app.user is not same as(meetup.creator) and not meetup.isParticipant(app.user)
                                and not meetup.isWaitlists(app.user) and not meetup.haveJoinRequest(app.user) %}
                    {% if meetup.isFull() %}
                        <div class="row ">
                            <div class="col-12">
                                <div class="mt-2 text-center">
                                    <a  class="btn btn-warning disabled" >{% trans %}This meetup is full {% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                    <div class="row ">
                        <div class="col-12">
                            <div class="mt-2 text-center">
                                <a href="" class="btn btn-outline-info" data-toggle="modal" data-target="#joinToMeetup">{% trans %} Join to this meetup{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if app.user is not same as(null) %}
                {% if  meetup.haveJoinRequest(app.user) %}
                    {% if meetup.isFull() %}
                        <div class="row ">
                            <div class="col-12">
                                <div class="mt-3 text-center">
                                    <a  class="btn btn-warning disabled" >{% trans %} This meetup is full{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if meetup.getJoinRequestStatus(app.user) is same as('Pending') %}
                        {% set status = 'pending' %}
                        {% set class = 'warning' %}
                    {% else %}
                        {% set status = 'rejected' %}
                        {% set class = 'danger' %}
                    {% endif %}
                    <div class="row mx-2">
                        <div class="col-12 border-deal pending-meetup-request  {{ status }}">
                            <img src="{{ app.user.photoProfile() }}" alt="profile photo" class="vote-avatar my-2">
                            <div class="mt-3 ">
                                <span class="blued ml-1">{{ app.user.firstname|title }} {{ app.user.lastname|upper }}</span>
                                <span class="badge badge-{{class}} float-right py-1 px-2">{{ meetup.getJoinRequestStatus(app.user) }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        {#---------------end participants---------------#}
        <div class="col-lg-{{col}}  local-border mt-1 py-2">
            <h5 class="rosed text-center">{% trans %} Waiting list{% endtrans %}</h5>
            {% if meetup.waitlists is not empty %}
                {% for user in meetup.waitlists %}
                    <div class="border-driver user-link mt-2">
                        <div class="row">
                            <div class="col-12">
                                <a href="{{ path('user_show',{'id':user.id}) }}" class="btn-group ml-2">
                                    <img src="{{ user.photoProfile() }}" alt="profile photo" class="vote-avatar my-2">
                                    <span class="blued ml-1 mt-3">{{ user.firstname|title }} {{ user.lastname|upper }}</span>
                                </a>
                                {% if app.user is same as(meetup.creator) %}
                                    {% if  not meetup.participantFull() %}
                                        <div class="joining-user ">
                                            <form method="post" action="{{ path('add_joining_waiting',{'meetup':meetup.id,'user':user.id}) }}" onsubmit="return confirm(Translator.trans('Are you sure you want to add this user ?'));">
                                                <button class="btn float-right"><i class="fas fa-user-plus mt-1 float-right"></i></button>
                                            </form>
                                        </div>
                                    {% endif %}
                                    <div class="cancel-joining-user">
                                        <form method="post" action="{{ path('cancel_joining_waiting',{'meetup':meetup.id,'user':user.id}) }}" onsubmit="return confirm(Translator.trans('Are you sure you want to remove this user ?'));">
                                            <button class="btn float-right"><i class="fas fa-user-slash mt-1 "></i></button>
                                        </form>
                                    </div>
                                {% endif %}
                                {% if app.user is same as(user) %}
                                    <div class="cancel-joining-user">
                                        <form method="post" action="{{ path('cancel_joining_waiting',{'meetup':meetup.id,'user':user.id}) }}" onsubmit="return confirm(Translator.trans('Do you really want to leave this meetup ?'));">
                                            <button class="btn float-right"><i class="fas fa-user-slash mt-1"></i></button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col text-center">
                        <span class="blued "><i class="far fa-clock"></i> {% trans %} There is no participant in the wait list{% endtrans %}</span>
                    </div>
                </div>
            {% endif %}
        </div>
        {#----------------------end waiting list-----------------------#}
        {% if app.user is same as(meetup.creator) %}
            <div class="col-lg-{{col}} local-border mt-1 py-2">
                <h5 class="rosed text-center">{% trans %} Requests to join{% endtrans %}</h5>
                {% if meetup.isFull() %}
                    <div class="row ">
                        <div class="col-12">
                            <div class="my-2 text-center">
                                <a  class="btn btn-warning disabled" >{% trans %} This meetup is full{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if meetup.getJoinRequests is not empty %}
                    {% for request in meetup.getJoinRequests %}
                        <div class="row border-driver mx-2 mt-2 {% if request.treatment is same as('Pending') %}{{ 'pending' }}{% else %}{{ 'rejected' }}{% endif %}">
                            <div class="col-12">
                                <a href="{{ path('user_show',{'id':request.user.id}) }}" class="user-link btn-group ml-2">
                                    <img src="{{ request.user.photoProfile() }}" alt="profile photo" class="vote-avatar my-2">
                                    <span class="blued ml-1 mt-3">{{ request.user.firstname|title }}</span>
                                </a>
                                {% if not request.meetup.isFull() %}
                                    {% if request.treatment is same as('Pending')  %}
                                        <div class="accept-joining-user mt-1">
                                            <form method="post" action="{{ path('join_treatment',{'joinRequest':request.id,'status':'Accept'}) }}" onsubmit="return confirm(Translator.trans('Are you sure you want to accept this request ?'));">
                                                <button class="btn float-right"><i class="fas fa-check-circle"></i></button>
                                            </form>
                                        </div>
                                        <div class="reject-joining-user mt-1">
                                            <form method="post" action="{{ path('join_treatment',{'joinRequest':request.id,'status':'Rejected'}) }}" onsubmit="return confirm(Translator.trans('Are you sure you want to reject this request ?'));">
                                                <button class="btn float-right"><i class="fas fa-times-circle"></i></button>
                                            </form>
                                        </div>
                                    {% else %}
                                        <div class="mt-2">
                                            <span class="badge badge-danger float-right"><h6 class="font-weight-bold pt-1">{% trans %} Rejected{% endtrans %}</h6></span>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    {% if request.treatment is same as('Pending')  %}
                                        <div class="mt-2">
                                            <span class="badge badge-warning float-right"><h6 class="font-weight-bold pt-1">{% trans %} Pending{% endtrans %}</h6></span>
                                        </div>
                                    {% else %}
                                        <div class="mt-2">
                                            <span class="badge badge-danger float-right"><h6 class="font-weight-bold pt-1">{% trans %} Rejected{% endtrans %}</h6></span>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <div class="col text-center">
                            <span class="blued "> <i class="far fa-clock"></i> {% trans %} There is no join requests in this meetup{% endtrans %}</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% else %} {#-------meetup finish------#}
    <div class="row my-4 participants">
        <div class="col-lg-6 local-border mt-1 py-2">
            <h5 class="rosed text-center">{% trans %} Participants{% endtrans %}</h5>
            {% for user in meetup.participants %}
                <div class="border-driver mx-2 mt-2 user-link">
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('user_show',{'id':user.id}) }}" >
                                <div class="row ">
                                    <div class="col  mx-2">
                                        <img src="{{ user.photoProfile() }}" alt="profile photo" class="vote-avatar my-2">
                                        <div class="mt-3 ">
                                            <span class="blued ml-1">{{ user.firstname|title }} {{ user.lastname|upper }}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-6  local-border mt-1 py-2">
            <h5 class="rosed text-center">{% trans %} Waiting list{% endtrans %}</h5>
            {% for user in meetup.waitlists %}
                <div class="border-driver mx-2 mt-2 user-link">
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('user_show',{'id':user.id}) }}" >
                                <div class="row ">
                                    <div class="col mx-2">
                                        <img src="{{ user.photoProfile() }}" alt="profile photo" class="vote-avatar my-2">
                                        <div class="mt-3 ">
                                            <span class="blued ml-1">{{ user.firstname|title }} {{ user.lastname|upper }}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
 <!-- Modal start-->
 <div class="modal fade bd-example-modal-lg" id="joinToMeetup" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" style="z-index: 9999;">
     <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <div class="row ml-2">
                     <h4 class="modal-title " id="myModalLabel">{% trans %} Join to this meetup{% endtrans %}</h4>
                 </div>
             </div>
             <div class="modal-body">
                     <div class="row">
                         <div class="col-12 meetup-modal-image text-center">
                             <img src="{{ meetup.meetupImage()}}" alt="">
                         </div>
                     </div>
                     <div class="row mt-2">
                         <div class="col text-center">
                             <div class="">
                                 <span class="blued">{{ meetup.title }}</span>
                             </div>
                             <div class="">
                                 {{ meetup.place }}
                             </div>
                             <div class="">
                                 {{ meetup.address }}
                             </div>
                             <div>
                                {{ meetup.city.name  }}{{ ' ' }}{{ meetup.city.zipCode}}
                             </div>
                         </div>
                     </div>
                     <div class="row mt-3">
                         <div class="col text-center ">
                             <a href="{{ path('meetup_join_request',{'meetup':meetup.id}) }}" class="btn btn-warning float-md-right mb-2 mx-4">{% trans %} Send join request to this meetup{% endtrans %}</a>
                         </div>
                     </div>
             </div>
             <div class="">
                 <div class="modal-footer">
                     <button  type="button" class="btn btn-info" data-dismiss="modal">{% trans %} Close{% endtrans %}</button>
                 </div>
             </div>
         </div>
     </div>
 </div>