{% extends 'meetup/layout_meetup.html.twig' %}

{% block title %}{% trans %} Meetup{% endtrans %}{% endblock %}

{% block meetup %}
    <div class="meetup-show">
        <div class="row">
            <div class="col border-deal">
                <div class="row ">
                    <div class="col-md-6 mt-1">
                        <img src="{{ meetup.creator.photoProfile() }}" alt="profile photo" class="vote-avatar">
                        <div class="mt-1 ">
                            <span class="blued ml-2">{{ meetup.creator.firstname|title }}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-3">
                            {% if app.user is not same as (null) %}
                            {% set isFavorite = 'false' %}
                            {#data-favorite must be string not boolean#}
                            {% for favorite in app.user.getFavoritesByType('meetup')  %}
                                {% if favorite.meetup is same as (meetup) %}
                                    {% set isFavorite = 'true' %}
                                {% endif %}
                            {% endfor %}
                            <form method="post" action="{{ url('favorite_add') }}" class="js-favorite-add float-right ml-2" data-object="{{ meetup.id }}" data-type="meetup" data-favorite="{{ isFavorite }}">
                                <div class="flexbox">
                                    <div class="fav-btn">
                                        <span class="fas fa-heart  favme dashicons dashicons-heart  {% if isFavorite is same as ('true') %} {{'active'}} {% endif %}"></span>
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                            <span class="blued float-right ">{{ meetup.createdAt|date('d M Y') }}</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row ">
                    <div class="col-md-4 show-image-meetup my-2">
                        <img src="{{ meetup.meetupImage() }}" alt="meetup photo" class="">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12 text-center meetup-text">
                                <h4 class="rosed">{{ meetup.title }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="">
                                    <span class=" mt-3"><span class="blued">{% trans %} Type :{% endtrans %}</span>{{ meetup.type }}</span>
                                </div>
                                {% if app.user is not same as(null) %}
                                <div class="">
                                    {% if meetup.place %}
                                    <span class="meetup-text mt-3"><span class="blued">{% trans %} Place : {% endtrans %}</span>{{ meetup.place }}</span>
                                    {% endif %}
                                </div>
                                <div class="">
                                    {% if meetup.address %}
                                    <span class="meetup-text mt-3"><span class="blued">{% trans %} Address : {% endtrans %}</span>{{ meetup.address }}</span>
                                    {% endif %}
                                </div>
                                <div class="">
                                        <span class="meetup-text mt-3"><span class="blued">{% trans %} City : {% endtrans %}</span>{{ meetup.city.name }}</span>
                                </div>
                                <div class="">
                                    {% if meetup.address %}
                                        <span class=" mt-3"><span class="blued">{% trans %} Max participants :{% endtrans %} </span>{{ meetup.maxParticipants }}</span>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="mb-2 ">
                                    <span class="blued">{% trans %} Description :{% endtrans %}</span><p class="minimize meetup-text">{{ meetup.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-9 mb-2">
                        {% if meetup.startAt|date('d m y')is same as(meetup.endAt|date('d m y')) %}
                            <span>{{meetup.startAt|date('d M Y')}} <span class="blued">{% trans %} From{% endtrans %}  </span>{{ meetup.startAt|date('H:i') }}
                                <span class="blued"> {% trans %} To{% endtrans %} </span> {{ meetup.endAt|date('H:i') }}
                            </span>
                        {% else %}
                            <span><span class="blued">{% trans %}From {% endtrans %}  </span>{{ meetup.startAt|date('d M Y - H:i') }}
                                <span class="blued"> {% trans %}To {% endtrans %} </span> {{ meetup.endAt|date('d M Y - H:i') }}
                            </span>
                        {% endif %}
                    </div>
                    {% if meetup.isFinish() and app.user is not same as(null)%}
                        {% if meetup.isParticipant(app.user) %}
                            <div class="col-md-3  mb-2">
                                <div class="float-right">
                                {% if votesMeetup[meetup.id] is defined %}
                                        <p class="blued">
                                            {% set reste = 5 - votesMeetup[meetup.id]%}
                                            {% if  votesMeetup[meetup.id] is not same as(null)%}
                                                {% for  i in votesMeetup[meetup.id] ..1%}
                                                    <i class="fas fa-star"></i>
                                                {% endfor %}
                                                {% if reste>0 %}
                                                    {% for  i in reste..1%}
                                                        <i class="far fa-star"></i>
                                                    {% endfor %}
                                                {% endif %}
                                            {% else %}
                                                {% for  i in 5..1%}
                                                    <i class="far fa-star"></i>
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                            {% else %}
                                <button  data-toggle="modal" class="btn btn-info btn-block "
                                         data-target="#meetup_rating">
                                    <i class="fas fa-star"></i> {% trans %}Rate this meetup {% endtrans %}
                                </button>
                            {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" >
                <ul class="nav nav-tabs nav-justified " id="js_meetup_tab" >
                    <li class="nav-item "><a  href="#meetupParticipant" class="nav-link active">{% trans %}Participants {% endtrans %}</a></li>
                    <li class="nav-item "><a  href="#meetupComment" class="nav-link">{% trans %}Comment {% endtrans %}</a></li>
                    {% if meetup.isFinish() %}
                    <li class="nav-item "><a  href="#meetupRating" class="nav-link">{% trans %} Rating{% endtrans %}</a></li>
                    {% endif %}
                </ul>
                <div class="tab-content" >
                    <div id="meetupParticipant" class="text-align form-new tab-pane fade in show active">
                        {% include "meetup/meetup/participants.html.twig" %}
                    </div>
                    <div id="meetupComment" class="text-align form-new tab-pane fade">
                        {% include "meetup/meetup/comment.html.twig" %}
                    </div>
                    {% if meetup.isFinish() %}
                    <div id="meetupRating" class="text-align form-new tab-pane fade">
                        {% include "meetup/meetup/rating.html.twig" %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if app.user is same as(meetup.creator) %}
        <div class="row border-deal py-2 mt-5">
            <div class="col-md-2 offset-10">
                    {{ include('meetup/meetup/_delete_form.html.twig') }}
            </div>
        </div>
        {% endif %}
    </div>

    <div class="modal fade bd-example-modal-lg mt-4" id="meetup_rating" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 9999;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('App\\Controller\\RatingController::createMeetupVote',{ 'meetup': meetup.id, 'type':'meetup' })) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">{% trans %} Close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
