{% if app.user is not same as(null) %}
    {% set layout = 'layout_user.html.twig' %}
{% else %}
    {% set layout = 'layout_visitor.html.twig' %}
{% endif %}
{% extends layout %}
{% block content %}
    <div class="row">
        {% if ads is defined %}
        {% for ad in ads %}
            {% set type = ad.typeOfAd %}
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-4">
                <div id="ad_index" class="ad_index shadow-border {% if type is same as('Offer') %}ad_offer{% else %}ad_demand{% endif %}">
                    <a href="{{ path('ad_show', {'id': ad.id}) }}"class="">
                        <div class="row">
                            <div class="col-md-12">
                                {% if type is same as ('Offer') %}
                                    {% if ad.imageOne is not null %}
                                        <div class="ad-photo-index text-center">
                                            <img class="image_ad" src="{{ asset('assets/images/annonce/'~ ad.imageOne) }}" alt="">
                                        </div>
                                    {% else %}
                                        {% if ad.imageTow is not null %}
                                            <div class="ad-photo-index text-center">
                                                <img class="image_ad" src="{{ asset('assets/images/annonce/'~ ad.imageTow) }}" alt="">
                                            </div>
                                        {% else %}
                                            {% if ad.imageThree is not null %}
                                                <div class="ad-photo-index text-center">
                                                    <img class="image_ad" src="{{ asset('assets/images/annonce/'~ ad.imageThree) }}" alt="">
                                                </div>
                                            {% else %}
                                                <div class="ad-photo-index text-center">
                                                    <img class="image_ad " src="/assets/images/icons/offer.png" alt="">
                                                </div>
                                            {%endif%}
                                        {%endif%}
                                    {%endif%}
                                {% else %}
                                    <div class="ad-photo-index text-center">
                                        <img class="image_ad" src="{{ asset('assets/images/icons/demand.png') }}" alt="">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    <div class="row no-gutters">
                        <div class="col-10">
                            <div class="ml-2 py-1">
                                {% if ad.donate %}
                                    <h5 class="blued mb-0 font-weight-bold d-inline">{% trans %}Donate{% endtrans %}</h5>
                                {% else %}
                                    {% if ad.price %}
                                        <h5 class="blued mb-0 font-weight-bold d-inline">{{ ad.price }}€</h5>
                                    {% else %}
                                        <br>
                                    {% endif %}
                                    {% if ad.pPrice is not same as (null) %}
                                        <h5 class="rosed mb-0 font-weight-bold d-inline ml-2"><del>{{ ad.pPrice }}€</del></h5>
                                    {% endif %}
                                {% endif %}
                                {% if ad.city %}
                                    <p class="mt-0 blacked">{{ ad.city.name }}{{ ' (' }}{{ ad.city.zipCode }}{{ ')' }}</p>
                                {% else %}
                                    <p class="mt-0 blacked">{{ ad.ville.name }}{{ ' (' }}{{ ad.ville.zipCode }}{{ ')' }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-2">
                            {% if app.user %}
                                {% set isFavorite = 'false' %}
                                {#data-favorite must be string not boolean#}
                                {% for favorite in app.user.getFavoritesByType('ad')  %}
                                    {% if favorite.ad is same as (ad) %}
                                        {% set isFavorite = 'true' %}
                                    {% endif %}
                                {% endfor %}
                                <form method="post" action="" class="js-favorite-add ad-favorite mr-2 mt-3" data-object="{{ ad.id }}" data-type="ad" data-favorite="{{ isFavorite }}">
                                    <div class="flexbox">
                                        <div class="fav-btn">
                                            <span class="fas fa-heart  favme dashicons dashicons-heart  {% if isFavorite is same as ('true') %} {{'active'}} {% endif %}"></span>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            <div class="pagination-search row justify-content-center mt-4">
                <div class="navigation">
                    {{ knp_pagination_render(ads) }}
                </div>
            </div>
        {% else %}
    </div>
    <div class=" ">
        <div class="">
            <div class="text-center title-blue">
                {# this will run whene the user com from get methode with rong id after /search/offers/ or /search/demands/#}
                <h2 class="blued text-center">{% trans %}Sorry .. there are no results{% endtrans %}</h2>
            </div>
        </div>
    </div>
        {% endif %}
{% endblock %}

