{% extends "layout_user.html.twig" %}
{% block content %}
    {% if meetups is defined %}
        <div class="row">
            {% for meetup in meetups %}
                <div class="col-md-6 col-lg-4 my-2 meetup_index">
                    <div class="full-border border-right-0">
                        <div class="back-gray">
                            <a href="{{ path('meetup_show', {'id': meetup['id']}) }}" >
                                <div class="row">
                                    <div class="col-12 image_meetup_index text-center">
                                        <div class="">
                                            <img src="{{ meetup['image'] }}" alt="meetup image"/>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="px-2 pb-2">
                                            <div class="">
                                                <h6 class="meetup-text rosed mt-1">
                                                    {#{{ meetup.title|length > 27 ? meetup.title|slice(0, 27) ~ '...' : meetup.title  }}#}
                                                    {{ meetup['title'] }}
                                                </h6>
                                            </div>
                                            <div class="">
                                                <span class="white mt-3"><span class="blued">{% trans %} Type :{% endtrans %} </span>{{ meetup['type'] }}</span>
                                            </div>
                                            <div class="">
                                                <span class="white mt-3"><span class="blued">{% trans %} Start at :{% endtrans %} </span>{{ meetup['start'] }}</span>
                                            </div>
                                            <div class="">
                                                <span class="white mt-3"><span class="blued">{% trans %} City :{% endtrans %} </span>{{ meetup['city'] }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="px-2 py-2">
                                    {% if meetup['finish']  %}
                                        <span class="badge badge-danger float-left mt-2">{% trans %} Finish{% endtrans %}</span>
                                    {% endif %}
                                    {% set isFavorite = 'false' %}
                                    {#data-favorite must be string not boolean#}
                                    {% for favorite in app.user.getFavoritesByType('meetup')  %}
                                        {% if favorite.meetup is same as (meetup['id']) %}
                                            {% set isFavorite = 'true' %}
                                        {% endif %}
                                    {% endfor %}
                                    <form method="post" action="{{ url('favorite_add') }}" class="js-favorite-add  float-right mr-2 mb-2" data-object="{{ meetup['id'] }}" data-type="meetup" data-favorite="{{ isFavorite }}">
                                        <div class="flexbox">
                                            <div class="fav-btn">
                                                <span class="fas fa-heart  favme dashicons dashicons-heart  {% if isFavorite is same as ('true') %} {{'active'}} {% endif %}"></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination-search row justify-content-center mt-4">
            <div class="navigation">
                {{ knp_pagination_render(meetups) }}
            </div>
        </div>
    {% endif %}
{% endblock %}