{% extends "layout_user.html.twig" %}
{% block content %}
    {% if voyages is defined %}
        <div class="row">
        {% for voyage in voyages %}
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-4">
                <div id="voyage_index" class="shadow-border full-border">
                    <div class="meetup_index">
                        <a href="{{ path('voyage_show', {'id': voyage['id']}) }}">
                            <div class="text-center border-bottom back-gray">
                                <div class="row">
                                    <div class="col-12 one-voyage">
                                        <div class="one-voyage">
                                            <div class="pt-5">
                                                <h4 class="meetup-text blued d-inline">{{voyage['departure']}}</h4>
                                                <i class="fas fa-arrow-right rosed d-inline mx-4"></i>
                                                <h4 class="meetup-text blued d-inline">{{ voyage['timeArrival'] }}</h4>
                                            </div>
                                            <div class="">
                                                <span class="white mt-3"><span class="blued">{% trans %} Date : {% endtrans %}</span> {{ voyage['departureDate'] }}</span>
                                            </div>
                                            <div class="">
                                                <span class="white mt-3"><span class="blued">{% trans %} Time : {% endtrans %}</span> {{ voyage['timeDeparture'] }}</span>
                                            </div>
                                            <div>
                                                <span class="blued mt-2">{% if voyage['highway'] %}<i class="fas fa-road"></i>{% endif %}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="float-right pr-2 pb-1 rosed font-weight-bold">
                                            {{voyage['price']}}{{ '€' }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="row py-2">
                        <div class="col-10 rating-voyage">
                                {% if voyage['seats']>0 %}
                                    <span class="badge badge-info py-2 ml-2">
                                        <h7>
                                            {{voyage['seats']}}
                                            {% if voyage['seats']>1 %}{% trans %} Seats{% endtrans %} {% else %} {% trans %} Seat{% endtrans %}{% endif %}
                                            {% trans %} available{% endtrans %}
                                        </h7>
                                    </span>
                                {% else %}
                                    <span class="badge badge-danger"><h7>{% trans %} Closed Voyage{% endtrans %}</h7></span>
                                {% endif %}
                        </div>
                        <div class="col-2">
                            {% if app.user %}
                                {% set isFavorite = 'false' %}
                                {#data-favorite must be string not boolean#}
                                {% for favorite in app.user.getFavoritesByType('voyage')  %}
                                    {% if favorite.voyage.id is same as (voyage['id']) %}
                                        {% set isFavorite = 'true' %}
                                    {% endif %}
                                {% endfor %}
                                <form method="post" action="{{ url('favorite_add') }}" class="js-favorite-add float-right mr-2" data-object="{{ voyage['id'] }}" data-type="voyage" data-favorite="{{ isFavorite }}">
                                    <div class="flexbox">
                                        <div class="fav-btn">
                                            <span class="fas fa-heart  favme dashicons dashicons-heart  {% if isFavorite is same as ('true') %} {{'active'}} {% endif %}"></span>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="pagination-search row justify-content-center mt-4">
            <div class="navigation">
                {{ knp_pagination_render(voyages) }}
            </div>
        </div>
    {% else %}
        <div class=" ">
            <div class="">
                <div class="text-center title-blue">
                    {# this will run whene the user com from get methode with rong id after /search/offers/ or /search/demands/#}
                    <h1> {% trans %} There is no results{% endtrans %}</h1>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}