{% extends 'base.html.twig' %}

{% block title %}Station index{% endblock %}

{% block body %}
    <h1>Station index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Duration</th>
                <th>Sort</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for station in stations %}
            <tr>
                <td>{{ station.id }}</td>
                <td>{{ station.duration ? station.duration|date('H:i:s') : '' }}</td>
                <td>{{ station.sort }}</td>
                <td>
                    <a href="{{ path('carpool_station_show', {'id': station.id}) }}">show</a>
                    <a href="{{ path('carpool_station_edit', {'id': station.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('carpool_station_new') }}">Create new</a>
{% endblock %}
